sf_project/force-app/main/default/flows/Activity_Call_Last_Call.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Var_MeetingDate</name>
        <label>Set Var_MeetingDate</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <assignmentItems>
            <assignToReference>Var_MeetingDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FM_ActivityDateTimeToDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Partner_Records</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Anything_To_Update</name>
        <label>Anything To Update</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesCall</name>
            <conditionLogic>1 AND 4 and (2 Or 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ActivityDate</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>FM_Today</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Partner_Records.LastActivityDate</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.ActivityDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Partner_Records.LastActivityDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TaskSubtype</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Call</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Partmer</targetReference>
            </connector>
            <label>Yes Call</label>
        </rules>
        <rules>
            <name>Yes_Email</name>
            <conditionLogic>1 AND 4 AND (2 or 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ActivityDate</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>FM_Today</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Partner_Records.LastActivityDate</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.ActivityDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Partner_Records.LastActivityDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TaskSubtype</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Partner_Email</targetReference>
            </connector>
            <label>Yes Email</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>FM_ActivityDateTimeToDate</name>
        <dataType>Date</dataType>
        <expression>{!$Record.ActivityDate}</expression>
    </formulas>
    <formulas>
        <name>FM_PartnerDateTimeToDate</name>
        <dataType>Date</dataType>
        <expression>{!Get_Partner_Records.Last_Contact_Date__c}</expression>
    </formulas>
    <formulas>
        <name>FM_Today</name>
        <dataType>Date</dataType>
        <expression>Today()</expression>
    </formulas>
    <interviewLabel>[Activity] Call Last Call {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Activity] Partner Last Activities</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Partner_Records</name>
        <label>Get Partner Records</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Anything_To_Update</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Partner__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Partmer</name>
        <label>Update Partmer</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Partner_Records.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_Contact_Date__c</field>
            <value>
                <elementReference>Var_MeetingDate</elementReference>
            </value>
        </inputAssignments>
        <object>Partner__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Partner_Email</name>
        <label>Update Partner Email</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Partner_Records.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_Email_Date__c</field>
            <value>
                <elementReference>Var_MeetingDate</elementReference>
            </value>
        </inputAssignments>
        <object>Partner__c</object>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_Var_MeetingDate</targetReference>
        </connector>
        <filterLogic>1 AND (2 Or 3)</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>a0v4</stringValue>
            </value>
        </filters>
        <filters>
            <field>TaskSubtype</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Call</stringValue>
            </value>
        </filters>
        <filters>
            <field>TaskSubtype</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </filters>
        <object>Task</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Var_MeetingDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
