sf_project/force-app/main/default/flows/Audit_Request_RTF_On_Create.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_AR_Change_Email</name>
        <label>Send AR Change Email</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <actionName>Audit_Request__c.Audit_Request_Assignment_Changed</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Audit_Request__c.Audit_Request_Assignment_Changed</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Trigger_Audit_Request_New_LED</name>
        <label>Trigger Audit Request - New LED</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <actionName>Audit_Request__c.Audit_Request_New_LED</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Audit_Request__c.Audit_Request_New_LED</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_New_Values_To_Audit_Request</name>
        <label>Set New Values To Audit Request</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.Type_of_Deal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>LED</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Company__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Opportunity__r.Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BD_Rep__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Company__r.BD_Rep__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Trigger_Audit_Request_New_LED</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Has_Assignment_Changed</name>
        <label>Check Has Assignment Changed</label>
        <locationX>446</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Send_AR_Assignment_Changed_Alert</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Assigned_To__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Assigned_To__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_AR_Change_Email</targetReference>
            </connector>
            <label>Send AR Assignment Changed Alert</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_Or_Changed</name>
        <label>New Or Changed</label>
        <locationX>248</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Check_Has_Assignment_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Updated</defaultConnectorLabel>
        <rules>
            <name>New_Request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_New_Values_To_Audit_Request</targetReference>
            </connector>
            <label>New Request</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>[Audit Request] RTF On Create {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Audit Request] RTF Create Or Change</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>New_Or_Changed</targetReference>
        </connector>
        <object>Audit_Request__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
