sf_project/force-app/main/default/flows/Campaign_RDT_On_Create.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <interviewLabel>[Campaign] RDT On Create {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Campaign] RDT On Create</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Campaign_Member</name>
        <label>Create Campaign Member Status Opened</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>Create_Campaign_Member_Status_Not_Sent</targetReference>
        </connector>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HasResponded</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Label</field>
            <value>
                <stringValue>Opened</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SortOrder</field>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </inputAssignments>
        <object>CampaignMemberStatus</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Campaign_Member_Status_Not_Sent</name>
        <label>Create Campaign Member Status Not Sent</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HasResponded</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsDefault</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Label</field>
            <value>
                <stringValue>Not Sent</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SortOrder</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <object>CampaignMemberStatus</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Campaign_Member</targetReference>
        </connector>
        <object>Campaign</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
