sf_project/force-app/main/default/flows/EmailMessage_RTF.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Move_Current_item_to_Var_SingleEmailMessageRelated_Holder</name>
        <label>Move Current item to Var_SingleEmailMessageRelated Holder</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Var_SingleEmailMessageRelatedHolder</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Var_SingleEmailMessageRelated_to_newid</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Email_Message_Related_To</name>
        <label>Set Email Message Related To</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Var_NewEmailMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_New_Email_Message_Fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_New_Email_Message_Fields</name>
        <label>Set New Email Message Fields</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Var_NewEmailMessage.Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_NewEmailMessage.RelatedToId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>001Uw000003HnKLIA0</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_Account_Email_Message</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Var_SingleEmailMessageRelated_to_newid</name>
        <label>Update Var_SingleEmailMessageRelated to newid</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Var_SingleEmailMessageRelatedHolder.EmailMessageId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_New_Account_Email_Message</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_SingleEmailMessageRelatedHolder.Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Does_TextBody_contain_worked</name>
        <label>Does TextBody contain “worked”?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contains_Worked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TextBody</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>test</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Email_Message_Related_To</targetReference>
            </connector>
            <label>Contains Worked</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_is_email_related_to</name>
        <label>Is this me</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ToAddress</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ambrose.alward@gmail.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FromAddress</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ambrose@creteunited.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>test</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RelatedToId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>006</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Does_TextBody_contain_worked</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <description>Only show emails that are associated with that lead or opportunity, not all associated with a contact
v2-Test if I can send it to myself
v3 AA changing static related to id from 18 digit to 15 digit 
V4 changing from a contact to an account</description>
    <environments>Default</environments>
    <interviewLabel>[EmailMessage] RTF {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[EmailMessage] RTF Email Thread Association</label>
    <loops>
        <name>Loop_1</name>
        <label>Loop 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Email_Message_Relation</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Move_Current_item_to_Var_SingleEmailMessageRelated_Holder</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_New_Account_Email_Message</name>
        <label>Create New Account Email Message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Email_Message_Relation</targetReference>
        </connector>
        <inputReference>Var_NewEmailMessage</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Email_Message_Relation</name>
        <label>Get Email Message Relation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EmailMessageId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>EmailMessageRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>What_is_email_related_to</targetReference>
        </connector>
        <object>EmailMessage</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>Var_NewEmailMessage</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EmailMessage</objectType>
    </variables>
    <variables>
        <name>Var_SingleEmailMessageRelatedHolder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EmailMessageRelation</objectType>
    </variables>
</Flow>
