sf_project/force-app/main/default/flows/Email_Message_RTF_Create_General.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Var_Owner</name>
        <label>Set Var_Owner</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>Var_CaseOwner</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!Get_User_ID.Id}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Var_temp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Var_Status</name>
        <label>Set Var Status</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>Var_Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Var_temp</name>
        <label>Set Var_temp</label>
        <locationX>182</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>Var_temp</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FM_Temp</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Records_1</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_FM_ISCaseOwnerCreteSuportAgent_true</name>
        <label>Is FM_ISCaseOwnerCreteSuportAgent true</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Set_Var_temp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Support_Agent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FM_IsCaseOwnerCreteSupportAgent</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00GUw00000A0nRBMAZ</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_User_ID</targetReference>
            </connector>
            <label>Yes Support Agent</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_Object_Is_It_Related_To</name>
        <label>What Object Is It Related To?</label>
        <locationX>424</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Case_Closed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RelatedToId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>500</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>*Done*</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Var_Status</targetReference>
            </connector>
            <label>Case Closed</label>
        </rules>
        <rules>
            <name>Case_Is_New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00GUw00000A0nRBMAZ</stringValue>
                </rightValue>
            </conditions>
            <label>Case Is New</label>
        </rules>
    </decisions>
    <description>v3-Agent is not working
V2- Setting Owner by From email if user is in support</description>
    <environments>Default</environments>
    <formulas>
        <name>FM_IsCaseOwnerCreteSupportAgent</name>
        <dataType>Boolean</dataType>
        <expression>If(Or(
{!$Record.FromAddress}= &quot;kayla@creteunited.com&quot;,
{!$Record.FromAddress}= &quot;Kathleen@creteunited.com&quot;,
{!$Record.FromAddress}= &quot;aparna@creteunited.com&quot;,
{!$Record.FromAddress}= &quot;ambrose@creteunited.com&quot;


), true, false
)</expression>
    </formulas>
    <formulas>
        <name>FM_Temp</name>
        <dataType>String</dataType>
        <expression>{!$Record.FromAddress}</expression>
    </formulas>
    <interviewLabel>[Email Message] RTF Create General {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Email Message] RTF Create General</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_FM_ISCaseOwnerCreteSuportAgent_true</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RelatedToId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email_Closed__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_ID</name>
        <label>Get User ID</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Var_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.FromAddress</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Records_1</name>
        <label>Update Records 1</label>
        <locationX>182</locationX>
        <locationY>1163</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Var_CaseOwner</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>298</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>What_Object_Is_It_Related_To</targetReference>
        </connector>
        <object>EmailMessage</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Var_CaseOwner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Get_Case.OwnerId</elementReference>
        </value>
    </variables>
    <variables>
        <name>Var_Status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Get_Case.Status</elementReference>
        </value>
    </variables>
    <variables>
        <name>Var_temp</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
