sf_project/force-app/main/default/flows/Event_RTF_Partner_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Var_MeetingDate</name>
        <label>Set Var_MeetingDate</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <assignmentItems>
            <assignToReference>Var_MeetingDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FM_StartDateTimeToDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Partner_Records</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>What_is_activity_date</name>
        <label>What is activity date</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>In_the_Past</name>
            <conditionLogic>(1 or 2)  and (2 Or 3) and 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StartDateTime</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Get_Partner_Records.Last_Meeting_Date__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Partner_Records.Last_Meeting_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StartDateTime</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Partner_Records.Last_Meeting_Date__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StartDateTime</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>FM_Today</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Last_Meeting</targetReference>
            </connector>
            <label>In the Past</label>
        </rules>
        <rules>
            <name>In_the_future</name>
            <conditionLogic>1 AND (2 or 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StartDateTime</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>FM_Today</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StartDateTime</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Get_Partner_Records.Next_Meeting_Date__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Partner_Records.Next_Meeting_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Next_Meeting</targetReference>
            </connector>
            <label>In the future</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>FM_StartDateTimeToDate</name>
        <dataType>Date</dataType>
        <expression>Datevalue({!$Record.StartDateTime})</expression>
    </formulas>
    <formulas>
        <name>FM_Today</name>
        <dataType>Date</dataType>
        <expression>Today()</expression>
    </formulas>
    <interviewLabel>[Event] RTF Partner Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Event] RTF Partner Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Partner_Records</name>
        <label>Get Partner Records</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>What_is_activity_date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Partner__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Last_Meeting</name>
        <label>Update Last Meeting</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Partner_Records.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_Meeting_Date__c</field>
            <value>
                <elementReference>Var_MeetingDate</elementReference>
            </value>
        </inputAssignments>
        <object>Partner__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Next_Meeting</name>
        <label>Update Next Meeting</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Partner_Records.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Next_Meeting_Date__c</field>
            <value>
                <elementReference>Var_MeetingDate</elementReference>
            </value>
        </inputAssignments>
        <object>Partner__c</object>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_Var_MeetingDate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>a0v4</stringValue>
            </value>
        </filters>
        <object>Event</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Var_MeetingDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
