sf_project/force-app/main/default/flows/Goal_Opportunities_Subflow_ST_Repopulate_Junction_Object_for_Roll_Ups.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>AddCreteSales2Collection</name>
        <label>AddCreteSales2Collection</label>
        <locationX>138</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>CollectionGoalOppJunctionRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CaptureSingleRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Crete_Won_Sales_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddPartnerSales2Collection2</name>
        <label>AddPartnerSales2Collection</label>
        <locationX>706</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>CollectionGoalOppJunctionRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CaptureSingleRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Partner_Won_Sales_Loop_Partner2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CreateCreteSalesGoalOpps</name>
        <label>CreateCreteSalesGoalOpps</label>
        <locationX>138</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>CaptureSingleRecord.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Crete_Won_Sales_Loop.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaptureSingleRecord.Sales_Goal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SalesGoalRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaptureSingleRecord.Opportunity_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Crete_Won_Sales_Loop.Amount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaptureSingleRecord.IsWon__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Crete_Won_Sales_Loop.IsWon</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaptureSingleRecord.Goal_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SalesGoalRecord.Goal_Category__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaptureSingleRecord.Actual_Close_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Crete_Won_Sales_Loop.Actual_Close_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddCreteSales2Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CreatePartnerSalesGoalOpps2</name>
        <label>CreatePartnerSalesGoalOpps</label>
        <locationX>706</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>CaptureSingleRecord.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Partner_Won_Sales_Loop_Partner2.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaptureSingleRecord.Sales_Goal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SalesGoalRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaptureSingleRecord.Opportunity_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Partner_Won_Sales_Loop_Partner2.Amount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaptureSingleRecord.Goal_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SalesGoalRecord.Goal_Category__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaptureSingleRecord.IsWon__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaptureSingleRecord.Actual_Close_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Partner_Won_Sales_Loop_Partner2.Actual_Close_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddPartnerSales2Collection2</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Do_Relevant_Opps_Exist2</name>
        <label>Do Relevant Opps Exist?</label>
        <locationX>158</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_All_Closed_Opportunities_CY_Sales_Opportunities</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Crete_Won_Sales_Loop</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Do_Relevant_Opps_Exist6</name>
        <label>Do Relevant Opps Exist?</label>
        <locationX>726</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes6</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_All_Closed_Opportunities_CY_Partner_Opps</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Partner_Won_Sales_Loop_Partner2</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Depending on the type of goal and it&apos;s category, different closed opportunity records will need to be utilized.</description>
        <name>Goal_Type_Category</name>
        <label>Goal Type/Category</label>
        <locationX>628</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>No Outcome</defaultConnectorLabel>
        <rules>
            <name>Crete_Value_of_Opps</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SalesGoalRecord.Goal_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>$$ Value of Opportunities Won</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SalesGoalRecord.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Crete Corporate Sales Team Member</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SalesGoalRecord.Active__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_Closed_Opportunities_CY_Sales_Opportunities</targetReference>
            </connector>
            <label>Crete Value of Opps</label>
        </rules>
        <rules>
            <name>Opp_Value_Partner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SalesGoalRecord.Goal_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>$$ Value of Opportunities Won</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SalesGoalRecord.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Partner Company</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SalesGoalRecord.Partner__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SalesGoalRecord.Active__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_Closed_Opportunities_CY_Partner_Opps</targetReference>
            </connector>
            <label>Opp Value - Partner</label>
        </rules>
    </decisions>
    <description>Subflow for Goal Junction Object</description>
    <environments>Default</environments>
    <formulas>
        <name>CurrentYear</name>
        <dataType>String</dataType>
        <expression>TEXT(YEAR(TODAY()))</expression>
    </formulas>
    <formulas>
        <name>fourdaysago</name>
        <dataType>Date</dataType>
        <expression>TODAY()-4</expression>
    </formulas>
    <formulas>
        <name>LastYear</name>
        <dataType>String</dataType>
        <expression>TEXT(YEAR(TODAY())-1)</expression>
    </formulas>
    <interviewLabel>[Goal Opportunities] ST: Repopulate Junction Object for Roll-Ups {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Goal Opportunities] Subflow ST: Repopulate Junction Object for Roll-Ups</label>
    <loops>
        <name>Crete_Won_Sales_Loop</name>
        <label>Crete Won Sales Loop</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <collectionReference>Get_All_Closed_Opportunities_CY_Sales_Opportunities</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CreateCreteSalesGoalOpps</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Goal_Opps_record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Partner_Won_Sales_Loop_Partner2</name>
        <label>Partner Won Sales Loop - Partner</label>
        <locationX>618</locationX>
        <locationY>458</locationY>
        <collectionReference>Get_All_Closed_Opportunities_CY_Partner_Opps</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CreatePartnerSalesGoalOpps2</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Goal_Opps_record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Goal_Opps_record</name>
        <label>Create Goal Opps record</label>
        <locationX>628</locationX>
        <locationY>1034</locationY>
        <inputReference>CollectionGoalOppJunctionRecords</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Gets all opportunities with an actual close year equal to the current year - Partner Opps</description>
        <name>Get_All_Closed_Opportunities_CY_Partner_Opps</name>
        <label>Get All Closed Opportunities (CY) Partner Opps - Partner</label>
        <locationX>726</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Do_Relevant_Opps_Exist6</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Actual_Close_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>SalesGoalRecord.Start_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Actual_Close_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>SalesGoalRecord.End_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Partner__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SalesGoalRecord.Partner__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>HasChildOpps__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsWon</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets all opportunities with an actual close year equal to the current year - Sales Opportunities</description>
        <name>Get_All_Closed_Opportunities_CY_Sales_Opportunities</name>
        <label>Get All Closed Opportunities (CY) Sales Opportunities</label>
        <locationX>158</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Do_Relevant_Opps_Exist2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SalesGoalRecord.Sales_Team_Member__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Actual_Close_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>SalesGoalRecord.Start_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Actual_Close_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>SalesGoalRecord.End_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name_text__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sales Opportunities</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>502</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Goal_Type_Category</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CaptureSingleRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Goal_Opportunity__c</objectType>
    </variables>
    <variables>
        <name>CollectionEmptyGoalOppJunction</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Goal_Opportunity__c</objectType>
    </variables>
    <variables>
        <name>CollectionGoalOppJunctionRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Goal_Opportunity__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Partner_Win</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <description>Current Sales Goal Record</description>
        <name>SalesGoalRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Sales_Goal_Management__c</objectType>
    </variables>
</Flow>
