sf_project/force-app/main/default/flows/Hospitality_Request_Send_Approvers_Email.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Event_Email</name>
        <label>Send Event Email</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <actionName>Hospitality_Request__c.Hospitality_Ticket_Request_Created</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Hospitality_Request__c.Hospitality_Ticket_Request_Created</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Gift_Email</name>
        <label>Send Gift Email</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <actionName>Hospitality_Request__c.Hospitality_Gift_Request_Created</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Hospitality_Request__c.Hospitality_Gift_Request_Created</nameSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Gift_or_Event</name>
        <label>Gift or Event?</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Send_Event_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Event</defaultConnectorLabel>
        <rules>
            <name>Gift</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Gift_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Gift_Email</targetReference>
            </connector>
            <label>Gift</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>[Hospitality Request] Send Approvers Email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Hospitality Request] Send Approvers Email on Create</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Gift_or_Event</targetReference>
        </connector>
        <object>Hospitality_Request__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
