sf_project/force-app/main/default/flows/Hospitality_Request_Send_Notice_of_Approval.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Gift_Approval</name>
        <label>Send Gift Approval</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <actionName>Hospitality_Request__c.Hospitality_Request_Gift_Approved</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Hospitality_Request__c.Hospitality_Request_Gift_Approved</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Ticket_Approval</name>
        <label>Send Ticket Approval</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <actionName>Hospitality_Request__c.Hospitality_Request_Ticket_Request_Approved</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Hospitality_Request__c.Hospitality_Request_Ticket_Request_Approved</nameSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Gift_or_Event</name>
        <label>Gift or Event?</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Send_Ticket_Approval</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Event</defaultConnectorLabel>
        <rules>
            <name>Gift</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Gift_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Gift_Approval</targetReference>
            </connector>
            <label>Gift</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>[Hospitality Request] Send Notice of Approval {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Hospitality Request] Send Notice of Approval</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Gift_or_Event</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Partially Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <object>Hospitality_Request__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
