sf_project/force-app/main/default/flows/Lead_RTF_Create_Only_General.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Owner</name>
        <label>Set Var_Owner</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>Var_Owner</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>00GUw00000A0Sl1MAF</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Anything_To_Update</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Anything_To_Update</name>
        <label>Anything To Update?</label>
        <locationX>182</locationX>
        <locationY>623</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Var_Owner</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Changes</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_is_the_Form_Name</name>
        <label>What is the Form Name</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Anything_To_Update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Blue_Works</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Form_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Blue Works</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Owner</targetReference>
            </connector>
            <label>Blue Works</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>[Lead] RTF Create Only General {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Lead] RTF Create Only General</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Changes</name>
        <label>Update Changes</label>
        <locationX>50</locationX>
        <locationY>731</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Var_Owner</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>What_is_the_Form_Name</targetReference>
        </connector>
        <object>Lead</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Var_Owner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.OwnerId</elementReference>
        </value>
    </variables>
</Flow>
