sf_project/force-app/main/default/flows/Lead_No_Activity_for_X_Days_Notification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email</name>
        <label>Send Email</label>
        <locationX>264</locationX>
        <locationY>468</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Loop_Leads</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Loop_Leads.Owner:User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>client@setgopartners.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Email_Subject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Email_Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <constants>
        <name>Num_Days_Threshold</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>30.0</numberValue>
        </value>
    </constants>
    <environments>Default</environments>
    <formulas>
        <name>Email_Subject</name>
        <dataType>String</dataType>
        <expression>&quot;No Activity on &quot; &amp; {!Loop_Leads.Name} &amp; &quot; Lead&quot;</expression>
    </formulas>
    <formulas>
        <name>LastActivityDate_Threshold</name>
        <dataType>Date</dataType>
        <expression>TODAY()-{!Num_Days_Threshold}</expression>
    </formulas>
    <formulas>
        <name>Lead_Link</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260}, FIND(&apos;/services&apos;, {!$Api.Partner_Server_URL_260})) &amp; {!Loop_Leads.Id}</expression>
    </formulas>
    <formulas>
        <description>When querying Leads, if they have a null value for LastActivityDate, we use the CreatedDate (which is a Date/Time so using a min/max)</description>
        <name>Max_CreatedDate_For_Null_LastActivityDate</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE({!LastActivityDate_Threshold}) + (1/2)</expression>
    </formulas>
    <formulas>
        <description>When querying Leads, if they have a null value for LastActivityDate, we use the CreatedDate (which is a Date/Time so using a min/max)</description>
        <name>Min_CreatedDate_For_Null_LastActivityDate</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE({!LastActivityDate_Threshold}) - (1/2)</expression>
    </formulas>
    <interviewLabel>[Lead] No Activity for X Days Notification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Lead] No Activity for 30 Days Notification</label>
    <loops>
        <name>Loop_Leads</name>
        <label>Loop Leads</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <collectionReference>Get_Leads</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Send_Email</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Leads</name>
        <label>Get Leads</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Leads</targetReference>
        </connector>
        <filterLogic>(1 AND 2 AND 3) OR 4</filterLogic>
        <filters>
            <field>CreatedDate</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>Max_CreatedDate_For_Null_LastActivityDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>Min_CreatedDate_For_Null_LastActivityDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastActivityDate</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>LastActivityDate</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LastActivityDate_Threshold</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Leads</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-07-22</startDate>
            <startTime>06:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Email_Body</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hello,&lt;/p&gt;&lt;p&gt;The following lead has not had any activity for more than {!Num_Days_Threshold} days. Please review the lead and follow up or mark the lead as disqualified. Thank you.&lt;/p&gt;&lt;p&gt;{!Lead_Link}&lt;/p&gt;</text>
    </textTemplates>
</Flow>
