sf_project/force-app/main/default/flows/Opportunity_Find_Cross_Sell_Partner_screen_flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Cross_Sell_Partners</name>
        <label>Get Cross-Sell Partners</label>
        <locationX>886</locationX>
        <locationY>1190</locationY>
        <actionName>GetCrossSellPartnerAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Cross_Sell_Partner_Records</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>primaryTradeSingle</name>
            <value>
                <elementReference>Loop_Selected_Trades</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>servicingStates</name>
            <value>
                <elementReference>Servicing_States</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GetCrossSellPartnerAction</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>Gets a List of all Trades currently selected on the Opportunity the Screen Flow was triggered from.</description>
        <name>Get_Selected_Trades</name>
        <label>Get Selected Trades</label>
        <locationX>666</locationX>
        <locationY>866</locationY>
        <actionName>GetOpportunityTradeAsChoiceSetAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Select_Trades_Screen</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>OpportunityId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GetOpportunityTradeAsChoiceSetAction</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>All_Trades_Selected_On_Opportunity</assignToReference>
            <name>selectedTrades</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Add increment Loop_Counter</description>
        <name>Add_Request_To_Collection</name>
        <label>Add Request To Collection</label>
        <locationX>754</locationX>
        <locationY>1730</locationY>
        <assignmentItems>
            <assignToReference>Cross_Sell_Request_Collection_for_Confirmation</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Cross_Sell_Request_Single</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Counter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Selected_Trades</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Servicing_State</name>
        <label>Add Servicing State</label>
        <locationX>886</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>Servicing_States</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Opportunity_Job_Sites.Job_Site__r.Job_Address__StateCode__s</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Opportunity_Job_Sites</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Collection_for_Insert</name>
        <label>Add to Collection for Insert</label>
        <locationX>754</locationX>
        <locationY>2222</locationY>
        <assignmentItems>
            <assignToReference>Cross_Sell_Request_Collection_for_Insert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Cross_Sell_Request_Single</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Request_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Clear the temporary ID on the Opportunity_Cross_Sell_Request__c record (which was only needed so they could be displayed in the Datatable on the confirmation screen)</description>
        <name>Clear_Temp_ID</name>
        <label>Clear Temp ID</label>
        <locationX>754</locationX>
        <locationY>2114</locationY>
        <assignmentItems>
            <assignToReference>Cross_Sell_Request_Single</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Request_Collection</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Cross_Sell_Request_Single.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection_for_Insert</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Request_Record</name>
        <label>Update Request Record</label>
        <locationX>754</locationX>
        <locationY>1622</locationY>
        <assignmentItems>
            <assignToReference>Cross_Sell_Request_Single.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Cross_Sell_Request_Single.Partner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Partner_Selection_Screen_Datatable.outputSelectedRow.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Cross_Sell_Request_Single.Trade__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Selected_Trades</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Cross_Sell_Request_Single.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cross_Sell_Request_Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Cross_Sell_Request_Single.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Temp_Record_ID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Request_To_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Any_Job_Sites</name>
        <label>Any Job Sites?</label>
        <locationX>424</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Loop_Opportunity_Job_Sites</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Job_Site_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity_Job_Sites</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Please_Add_A_Job_Site</targetReference>
            </connector>
            <label>No Job Site Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Cross_Sell_Partners_Found</name>
        <label>Cross-Sell Partners Found?</label>
        <locationX>886</locationX>
        <locationY>1406</locationY>
        <defaultConnector>
            <targetReference>No_Cross_Sell_Partner_Records_Found_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Cross_Sell_Partners_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Cross_Sell_Partner_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Partner_Selection_Screen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>We are not able to hide/show the button based on a Long Text Area being blank. So we check that here.</description>
        <name>Has_Opportunity_Notes</name>
        <label>Has Opportunity Notes?</label>
        <locationX>798</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Missing_Opportunity_Notes_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Has_Opportunity_Notes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity.Opportunity_Notes__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Selected_Trades</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>v5 AA added Parent to the Name to the parent Name field 9-2-2025
v4 adding in any job site error correction 
v3 adding in setting Sales Type 
Removed Error from confirmation screen 
Allow users to find cross-sell partners and send email notifications inviting them to join the Opportunity</description>
    <environments>Default</environments>
    <formulas>
        <name>Cross_Sell_Request_Status</name>
        <dataType>String</dataType>
        <expression>IF(
  AND(
    NOT(ISBLANK({!Get_Opportunity.Partner__r.Id})),
    ({!Get_Opportunity.Partner__r.Id} == {!Partner_Selection_Screen_Datatable.outputSelectedRow.Id})
  ),
  &quot;Accepted&quot;,
  &quot;Open&quot;
)</expression>
    </formulas>
    <formulas>
        <name>Partner_Selection_Screen_Datatable_Header</name>
        <dataType>String</dataType>
        <expression>{!Loop_Selected_Trades}</expression>
    </formulas>
    <formulas>
        <description>A temporary record ID for type Opportunity_Cross_Sell_Request__c. Needed so that they can be displayed in a Datatable.</description>
        <name>Temp_Record_ID</name>
        <dataType>String</dataType>
        <expression>RPAD((&quot;a0z&quot;&amp;TEXT({!Loop_Counter})), 18, &apos;0&apos;)</expression>
    </formulas>
    <formulas>
        <name>Var_NameParent</name>
        <dataType>String</dataType>
        <expression>{!Get_Opportunity.Name} + &apos; Parent&apos;</expression>
    </formulas>
    <interviewLabel>[Opportunity] Find Cross-Sell Partner {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Opportunity] Find Cross-Sell Partner (screen flow)</label>
    <loops>
        <name>Loop_Opportunity_Job_Sites</name>
        <label>Loop Opportunity Job Sites</label>
        <locationX>798</locationX>
        <locationY>458</locationY>
        <collectionReference>Get_Opportunity_Job_Sites</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Servicing_State</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Has_Opportunity_Notes</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>We need to clear the temp ID before inserting</description>
        <name>Loop_Request_Collection</name>
        <label>Loop Request Collection</label>
        <locationX>666</locationX>
        <locationY>2006</locationY>
        <collectionReference>Cross_Sell_Request_Collection_for_Confirmation</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Clear_Temp_ID</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Insert_Cross_Sell_Requests</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>This is looping the trades the user selected from the previous screen, not all trades from the Opportunity from which the Flow was launched from.</description>
        <name>Loop_Selected_Trades</name>
        <label>Loop Selected Trades</label>
        <locationX>666</locationX>
        <locationY>1082</locationY>
        <collectionReference>Select_Trades_Screen_picklist.selectedOptionsStringList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Cross_Sell_Partners</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Request_Collection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Insert_Cross_Sell_Requests</name>
        <label>Insert Cross-Sell Requests</label>
        <locationX>666</locationX>
        <locationY>2414</locationY>
        <connector>
            <targetReference>Set_Sales_Type</targetReference>
        </connector>
        <inputReference>Cross_Sell_Request_Collection_for_Insert</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Cross_Sell_Partner_Records</name>
        <label>Get Cross-Sell Partner Records</label>
        <locationX>886</locationX>
        <locationY>1298</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Cross_Sell_Partners_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>Get_Cross_Sell_Partners.partnerIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Partner__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>424</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Opportunity_Job_Sites</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Job_Sites</name>
        <label>Get Opportunity Job Sites</label>
        <locationX>424</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Any_Job_Sites</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity_Job_Site__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_Sales_Type</name>
        <label>Set Sales Type</label>
        <locationX>666</locationX>
        <locationY>2522</locationY>
        <connector>
            <targetReference>Final_Info_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Var_NameParent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Type__c</field>
            <value>
                <stringValue>Cross-Sell</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <screens>
        <name>Final_Info_Screen</name>
        <label>Final Info Screen</label>
        <locationX>666</locationX>
        <locationY>2630</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Final_Info_Screen_dt</name>
            <fieldText>&lt;p&gt;Your requests have been sent via email to the Partner Sales Leader / EPP Contact.&lt;/p&gt;&lt;p&gt;These partners will be invited to accept or reject your invitation and you will be notified via email when they have done so.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Missing_Opportunity_Notes_Screen</name>
        <label>Missing Opportunity Notes Screen</label>
        <locationX>930</locationX>
        <locationY>866</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Missing_Opportunity_Notes_Screen_dt</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;Cross-Sell Request Not Allowed&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;This Opportunity does not have a value for &apos;&lt;strong&gt;Opportunity Notes&lt;/strong&gt;&apos; which is required. Please fill this in and re-try.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Exit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>No_Cross_Sell_Partner_Records_Found_Screen</name>
        <label>No Cross-Sell Partner Records Found Screen</label>
        <locationX>1018</locationX>
        <locationY>1514</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Loop_Selected_Trades</targetReference>
        </connector>
        <fields>
            <name>No_Cross_Sell_Partner_Records_Found_Screen_dt</name>
            <fieldText>&lt;p&gt;No Partner records were found for:&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Trade: &lt;strong&gt;{!Loop_Selected_Trades}&lt;/strong&gt;&lt;/li&gt;&lt;li&gt;Servicing State: &lt;strong&gt;Not Yet Implemented&lt;/strong&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;Skipping this Trade.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Partner_Selection_Screen</name>
        <label>Partner Selection Screen</label>
        <locationX>754</locationX>
        <locationY>1514</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Request_Record</targetReference>
        </connector>
        <fields>
            <name>Partner_Selection_Screen_dt</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Review and select the partner you would like to invite to participate for the {!Loop_Selected_Trades} trade.&lt;/strong&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;If you intend to cover this trade yourself, select your partner record.&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Partner_Selection_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Partner_Selection_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Partner_Selection_Screen_Datatable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Partner__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Partner__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Cross_Sell_Partner_Records</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDisplayHeader</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isDisplayHeader</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableIcon</name>
                <value>
                    <stringValue>custom:custom15</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRowNumbers</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showRowNumbers</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>singleRowSelection</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name,Partner_Description__c,Trade__c,National_Travel__c,Servicing_States__c,Licensing_States__c,Union_Non_Union__c,Sales_Leader_EPP_Contact__c,EPP_Primary_Contact_Email__c,EPP_Primary_Contact_Phone__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFlexes</name>
                <value>
                    <stringValue>All</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Name:0, Partner_Description__c:0, Trade__c:0, National_Travel__c:0, Servicing_States__c:0, Licensing_States__c:0, Union_Non_Union__c:0, Sales_Leader_EPP_Contact__c:0, EPP_Primary_Contact_Email__c:0, EPP_Primary_Contact_Phone__c:0</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isShowSearchBar</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideClearSelectionButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideClearSelectionButton</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWraps</name>
                <value>
                    <stringValue>Name:true, Partner_Description__c:true, Trade__c:true, Trade_Specialties__c:true, National_Travel__c:false, Servicing_States__c:true, Licensing_States__c:true, Union_Non_Union__c:true, Sales_Leader_EPP_Contact__c:true, EPP_Primary_Contact_Email__c:true, EPP_Primary_Contact_Phone__c:true</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <elementReference>Partner_Selection_Screen_Datatable_Header</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Please_Add_A_Job_Site</name>
        <label>Please Add A Job Site</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>JobSiteText</name>
            <fieldText>&lt;p&gt;In order to use the partner lookup you need to have at least one Opportunity Job Site listed with a state for the flow to find any partners.   Click next and add a Opportunity Job Site on the record and try again.   &lt;img src=&quot;https://creteunited.file.force.com/sfc/servlet.shepherd/version/download/068Uw00000PdiCX?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;Opportunity Job Site.png&quot;&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Trades_Screen</name>
        <label>Select Trades Screen</label>
        <locationX>666</locationX>
        <locationY>974</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Loop_Selected_Trades</targetReference>
        </connector>
        <fields>
            <name>Select_Trades_Screen_dt</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Select the trades you want to find a Cross-Sell Partner for:&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Select_Trades_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Select_Trades_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Select_Trades_Screen_picklist</name>
            <extensionName>c:fsc_dualListBox3</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>allOptionsStringFormat</name>
                <value>
                    <stringValue>list</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>min</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>allOptionsStringCollection</name>
                <value>
                    <elementReference>All_Trades_Selected_On_Opportunity</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>sourceLabel</name>
                <value>
                    <stringValue>Available</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedLabel</name>
                <value>
                    <stringValue>Selected</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>298</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>All_Trades_Selected_On_Opportunity</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>We need separate collections for Opportunity_Cross_Sell_Request__c. One to display in the confirmation screen, and one to insert. This is due to the Datatable on the confirmation screen needing these records to have IDs but when we insert them we need the ID to be blank.</description>
        <name>Cross_Sell_Request_Collection_for_Confirmation</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity_Cross_Sell_Request__c</objectType>
    </variables>
    <variables>
        <description>We need separate collections for Opportunity_Cross_Sell_Request__c. One to display in the confirmation screen, and one to insert. This is due to the Datatable on the confirmation screen needing these records to have IDs but when we insert them we need the ID to be blank.</description>
        <name>Cross_Sell_Request_Collection_for_Insert</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity_Cross_Sell_Request__c</objectType>
    </variables>
    <variables>
        <name>Cross_Sell_Request_Single</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity_Cross_Sell_Request__c</objectType>
    </variables>
    <variables>
        <description>Increments by 1 for each iteration of &apos;Loop Selected Trades&apos;. Used to generate temporary record IDs for Opportunity_Cross_Sell_Request__c so that the collection variable can be displayed in a Datatable.</description>
        <name>Loop_Counter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Opportunity ID</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Servicing_States</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
