sf_project/force-app/main/default/flows/Opportunity_Closed_Won_Alert_Brant_Armstrong.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_Brant_Armstrong</name>
        <label>Email Brant Armstrong</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <actionName>Opportunity.Opportunity_Closed_Won_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Opportunity_Closed_Won_Alert</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Any_Opportunity_Team_Members_Records_Found</name>
        <label>Any Opportunity Team Members Records Found?</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Opp_Team_Member_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity_Team_Members.Name</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Brant_Armstrong</targetReference>
            </connector>
            <label>Yes Opp Team Member Found.</label>
        </rules>
    </decisions>
    <decisions>
        <description>Evaluate whether or not the Closed Won opportunity is greater than or equal to $100,000.</description>
        <name>Stage_Closed_Won</name>
        <label>Stage Closed Won?</label>
        <locationX>380</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>No.</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LastModifiedBy.Profile.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>System Administrator</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Opportunity_Team_Members</targetReference>
            </connector>
            <label>Yes,</label>
        </rules>
    </decisions>
    <description>When an opportunity has Brant Armstrong on the opportunity team and the opportunity is closed won alert Brant by email.</description>
    <environments>Default</environments>
    <interviewLabel>[Opportunity] Closed/Won Alert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Opportunity] Closed/Won Alert Brant Armstrong</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get Opportunity Team Members records where Brant Armstrong is the Team Member Name</description>
        <name>Get_Opportunity_Team_Members</name>
        <label>Get Opportunity Team Members</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Any_Opportunity_Team_Members_Records_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Brant Armstrong</stringValue>
            </value>
        </filters>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Stage_Closed_Won</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
