sf_project/force-app/main/default/flows/Opportunity_Send_Email_for_Proposal_Updates_Needed.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Update_email</name>
        <label>Send Update email</label>
        <locationX>50</locationX>
        <locationY>492</locationY>
        <actionName>Opportunity.Opportunity_Proposal_ReGeneration</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Opportunity_Proposal_ReGeneration</nameSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Copy_1_of_Prostar_Owned_Or_Prostar_Owned_Parent</name>
        <label>Copy 1 of Prostar Owned (Or Prostar Owned Parent?)</label>
        <locationX>710</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Parent_Opportunity__r.Partner__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prostar</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Partner__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prostar</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Uncheck_Proposal_Update_Needed</targetReference>
            </connector>
            <label>Copy 1 of Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Prostar_Owned_Or_Prostar_Owned_Parent</name>
        <label>Prostar Owned (Or Prostar Owned Parent?)</label>
        <locationX>182</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Parent_Opportunity__r.Partner__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Crete National</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Partner__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Crete National</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_Stage_Pack_to_Generation</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>[Opportunity] Send Email for Proposal Updates Needed {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Opportunity] Change Stage &amp; Send Proposal Update Email</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Change_Stage_Pack_to_Generation</name>
        <label>Change Stage to Generation; Erase Estimator&apos;s Amount &amp; Upload</label>
        <locationX>50</locationX>
        <locationY>384</locationY>
        <connector>
            <targetReference>Send_Update_email</targetReference>
        </connector>
        <inputAssignments>
            <field>Estimator_s_Amount__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Proposal_Uploaded__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Proposal/Audit Generation</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Uncheck_Proposal_Update_Needed</name>
        <label>Uncheck Proposal Update Needed</label>
        <locationX>578</locationX>
        <locationY>384</locationY>
        <inputAssignments>
            <field>Proposal_Update_Needed__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Prostar_Owned_Or_Prostar_Owned_Parent</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Proposal_Update_Needed__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <name>X1_day_later</name>
            <connector>
                <targetReference>Copy_1_of_Prostar_Owned_Or_Prostar_Owned_Parent</targetReference>
            </connector>
            <label>1 day later</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
