sf_project/force-app/main/default/flows/Opportunity_STF_Create_new_contract_opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Var_Holder</name>
        <label>Set Var_Holder</label>
        <locationX>264</locationX>
        <locationY>576</locationY>
        <assignmentItems>
            <assignToReference>Var_Holder</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Var_Single</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Go_Through_Each_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Var_Single</name>
        <label>Set Var_Single</label>
        <locationX>264</locationX>
        <locationY>468</locationY>
        <assignmentItems>
            <assignToReference>Var_Single.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Go_Through_Each_Opportunity.Company_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_Single.Amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Go_Through_Each_Opportunity.Original_Contracted_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_Single.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FM_NewAnticipatedCloseDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_Single.Confidence_Level__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>High</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_Single.End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FM_NewOppEndDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_Single.Margin_Sales__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>30.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_Single.Opportunity_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Contract</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_Single.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Go_Through_Each_Opportunity.Contract_Owner__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_Single.Sales_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Independent</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_Single.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Negotiated</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_Single.Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FMNewOppStartDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_Single.Trade__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Go_Through_Each_Opportunity.Trade__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_Single.Ambrose_Metadata__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Trigger [Contract] 60 Days from Renewal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_Single.Contract_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Go_Through_Each_Opportunity.Contract_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_Single.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FM_ContractName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_Single.Opportunity_Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Go_Through_Each_Opportunity.Description__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Var_Holder</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>CurrentDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>FM_ContractName</name>
        <dataType>String</dataType>
        <expression>IF(
    AND(
        LEN({!Go_Through_Each_Opportunity.Name}) &gt;= 5, 
        NOT(CONTAINS(&quot;ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz&quot;, RIGHT({!Go_Through_Each_Opportunity.Name}, 4)))
    ), 
    LEFT({!Go_Through_Each_Opportunity.Name}, LEN({!Go_Through_Each_Opportunity.Name}) - 5), 
    {!Go_Through_Each_Opportunity.Name}
) 
&amp; &quot; &quot; &amp; TEXT(YEAR({!Go_Through_Each_Opportunity.Contract_Start_Date__c}) + 1)</expression>
    </formulas>
    <formulas>
        <name>FM_NewAnticipatedCloseDate</name>
        <dataType>Date</dataType>
        <expression>{!FMNewOppStartDate} - 1</expression>
    </formulas>
    <formulas>
        <name>FM_NewOppEndDate</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!Go_Through_Each_Opportunity.Contract_End_Date__c},12)</expression>
    </formulas>
    <formulas>
        <name>FMNewOppStartDate</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!Go_Through_Each_Opportunity.Contract_Start_Date__c},12)</expression>
    </formulas>
    <interviewLabel>[Opportunity] SF Create new contract opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Opportunity] STF Create new contract opportunity</label>
    <loops>
        <name>Go_Through_Each_Opportunity</name>
        <label>Go Through Each Opportunity</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <collectionReference>Get_Contracts_That_Need_Opportunities</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Var_Single</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Opportunities</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Opportunities</name>
        <label>Create Opportunities</label>
        <locationX>176</locationX>
        <locationY>768</locationY>
        <inputReference>Var_Holder</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Contracts_That_Need_Opportunities</name>
        <label>Get Contracts That Need Opportunities</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Go_Through_Each_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Renewal_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Non_renewal__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contract__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contracts_That_Need_Opportunities</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2025-04-09</startDate>
            <startTime>07:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Var_Holder</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>Var_Single</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
