sf_project/force-app/main/default/flows/Opportunity_Update_Child_Stage_When_Parent_Closed.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_To_Collection_For_Update</name>
        <label>Add To Collection For Update</label>
        <locationX>440</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>Child_Opp_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Child_Opp_Single</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Child_Opps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Also updates: Loss Reason. And conditionally updates &apos;Amount Proposed&apos; and &apos;Margin&apos;</description>
        <name>Update_Stage</name>
        <label>Update Stage</label>
        <locationX>440</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>Child_Opp_Single.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Child_Opps.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Child_Opp_Single.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Child_Opp_Single.Loss_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Loss_Reason__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Child_Opp_Single.Margin_Sales__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Closed_Lost_Margin_Sales</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Child_Opp_Single.Amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Closed_Lost_Amount_Proposed</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_To_Collection_For_Update</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Currently we are only handling Closed/Lost, but leaving the option open here incase we end up needing to also do something for Closed/Won.
(Which is why this Flows entry criteria doesn&apos;t check for only Closed/Lost)</description>
        <name>Won_or_Lost</name>
        <label>Won or Lost?</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Get_Child_Opportunities</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Lost</defaultConnectorLabel>
        <rules>
            <name>Won</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsWon</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Won</label>
        </rules>
    </decisions>
    <description>When an Opportunity where Parent/Child = Parent and record type **Sales Opportunities** is marked Closed Lost, updates all child Opportunities associated with that Parent to also be updated to Closed/Lost.</description>
    <environments>Default</environments>
    <formulas>
        <name>Closed_Lost_Amount_Proposed</name>
        <dataType>Number</dataType>
        <expression>IF(ISBLANK({!Loop_Child_Opps.Amount}),0,{!Loop_Child_Opps.Amount})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Closed_Lost_Margin_Sales</name>
        <dataType>Number</dataType>
        <expression>IF(ISBLANK({!Loop_Child_Opps.Margin_Sales__c}),0,{!Loop_Child_Opps.Margin_Sales__c})</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>[Opportunity] Update Child Stage When Parent Closed {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Opportunity] Update Child Stage When Parent Closed</label>
    <loops>
        <name>Loop_Child_Opps</name>
        <label>Loop Child Opps</label>
        <locationX>352</locationX>
        <locationY>539</locationY>
        <collectionReference>Get_Child_Opportunities</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Stage</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Child_Opportunities</name>
        <label>Get Child Opportunities</label>
        <locationX>352</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Child_Opps</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Parent_Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Records</name>
        <label>Update Records</label>
        <locationX>352</locationX>
        <locationY>947</locationY>
        <inputReference>Child_Opp_Collection</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Won_or_Lost</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0124x000000AoFuAAK</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>Child_Opp_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>Child_Opp_Single</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
