sf_project/force-app/main/default/flows/Opportunity_Add_Principal_to_Opportunity_Team.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_to_April</name>
        <label>Assign to April</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>Get_Partner_Record.President_Principal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0054x000007TvKXAA0</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Opportunity_Team_Member</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Div_VP_of_Operations</name>
        <label>Assign to Div VP of Operations</label>
        <locationX>314</locationX>
        <locationY>947</locationY>
        <assignmentItems>
            <assignToReference>Get_Partner_Record.Divisional_VP_of_Operations__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Partner_Record.Divisional_VP_of_Operations__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Divisional_VP_of_Operations</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Jason</name>
        <label>Assign to Jason</label>
        <locationX>50</locationX>
        <locationY>947</locationY>
        <assignmentItems>
            <assignToReference>Get_Partner_Record.Divisional_VP_of_Operations__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0054x000008VUj3AAG</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Divisional_VP_of_Operations</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Principal</name>
        <label>Assign to Principal</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>Get_Partner_Record.President_Principal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Partner_Record.President_Principal__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Opportunity_Team_Member</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Divisional_VP_of_Operations</name>
        <label>Divisional VP of Operations</label>
        <locationX>314</locationX>
        <locationY>839</locationY>
        <defaultConnector>
            <targetReference>Add_Divisional_VP_of_Operations</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Null2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Partner_Record.Divisional_VP_of_Operations__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_to_Jason</targetReference>
            </connector>
            <label>Null</label>
        </rules>
        <rules>
            <name>If_Divisional_VP_of_Operations_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Partner_Record.Divisional_VP_of_Operations__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_to_Div_VP_of_Operations</targetReference>
            </connector>
            <label>If Divisional VP of Operations Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Principal_Exists</name>
        <label>Principal</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Add_Opportunity_Team_Member</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Partner_Record.President_Principal__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_to_April</targetReference>
            </connector>
            <label>Null</label>
        </rules>
        <rules>
            <name>If_Principal_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Partner_Record.President_Principal__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_to_Principal</targetReference>
            </connector>
            <label>If Principal Exists</label>
        </rules>
    </decisions>
    <description>Added Divisional VP of Operations and Null values</description>
    <environments>Default</environments>
    <interviewLabel>Add Principal to Opportunity Team {!$Flow.CurrentDateTime}</interviewLabel>
    <label>{Opportunity} Add Principal and Div VP of Ops to Opportunity Team</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Add_Divisional_VP_of_Operations</name>
        <label>Add Divisional VP of Operations</label>
        <locationX>314</locationX>
        <locationY>1139</locationY>
        <inputAssignments>
            <field>OpportunityAccessLevel</field>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Percent__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TeamMemberRole</field>
            <value>
                <stringValue>Divisional VP of Operations</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserId</field>
            <value>
                <elementReference>Get_Partner_Record.Divisional_VP_of_Operations__c</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Add_Opportunity_Team_Member</name>
        <label>Add Partner - Principal</label>
        <locationX>314</locationX>
        <locationY>731</locationY>
        <connector>
            <targetReference>Divisional_VP_of_Operations</targetReference>
        </connector>
        <inputAssignments>
            <field>OpportunityAccessLevel</field>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Percent__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TeamMemberRole</field>
            <value>
                <stringValue>Partner - Principle</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserId</field>
            <value>
                <elementReference>Get_Partner_Record.President_Principal__c</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Partner_Record</name>
        <label>Get Partner Record</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Principal_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Partner__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Partner__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Partner_Record</targetReference>
        </connector>
        <filterLogic>1</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0124x000000AoFuAAK</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
