sf_project/force-app/main/default/flows/Opportunity_Cross_Sell_Child_Closed_Won_Notifications.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_Lost</name>
        <label>Send Email - Lost</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Owner.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>client@setgopartners.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Email_Subject_Closed_Lost</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Email_Body_Closed_Lost</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_Won</name>
        <label>Send Email - Won</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Owner.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>client@setgopartners.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Email_Subject_Closed_Won</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Email_Body_Closed_Won</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <constants>
        <name>RecordTypeID_Sales_Opportunities</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0124x000000AoFuAAK</stringValue>
        </value>
    </constants>
    <decisions>
        <description>This Flow is specifically for the child Opps of parents with record type &apos;Sales Opportunities&apos;</description>
        <name>Parent_Opportunity_Type</name>
        <label>Parent Opportunity Type</label>
        <locationX>380</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Sales_Opportunities</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Parent_Opportunity__r.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>RecordTypeID_Sales_Opportunities</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Won_or_Lost</targetReference>
            </connector>
            <label>Sales Opportunities</label>
        </rules>
    </decisions>
    <decisions>
        <name>Won_or_Lost</name>
        <label>Won or Lost?</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Send_Email_Lost</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Lost</defaultConnectorLabel>
        <rules>
            <name>Won</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsWon</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_Won</targetReference>
            </connector>
            <label>Won</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Email_Subject_Closed_Lost</name>
        <dataType>String</dataType>
        <expression>&quot;The &quot; &amp; {!$Record.Name} &amp; &quot; Cross-Sell Opportunity that you participated in has been Closed-Lost&quot;</expression>
    </formulas>
    <formulas>
        <name>Email_Subject_Closed_Won</name>
        <dataType>String</dataType>
        <expression>&quot;The &quot; &amp; {!$Record.Name} &amp; &quot; Cross-Sell Opportunity that you participated in has been Closed-Won&quot;</expression>
    </formulas>
    <formulas>
        <name>Link_To_Cross_Sell_Child_Opportunity</name>
        <dataType>String</dataType>
        <expression>LEFT($Api.Partner_Server_URL_580, FIND(&apos;/services&apos;, $Api.Partner_Server_URL_580)) &amp; {!$Record.Id}</expression>
    </formulas>
    <formulas>
        <name>Link_to_Main_Parent_Opportunity</name>
        <dataType>String</dataType>
        <expression>LEFT($Api.Partner_Server_URL_580, FIND(&apos;/services&apos;, $Api.Partner_Server_URL_580)) &amp; {!$Record.Parent_Opportunity__r.Id}</expression>
    </formulas>
    <interviewLabel>[Opportunity] Cross Sell Child Closed/Won Notifications {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Opportunity] Cross Sell Child Closed/Won Notifications</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Parent_Opportunity_Type</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Parent_Opportunity__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Email_Body_Closed_Lost</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hello {!$Record.Owner.FirstName},&lt;/p&gt;&lt;p&gt;The {!$Record.Name} Cross-Sell Opportunity that you participated in has been Closed-Lost due to {!$Record.Loss_Reason__c}. Review the opportunity for more details if needed.&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;{!Link_to_Main_Parent_Opportunity}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Link to Main Parent Opportunity&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;{!Link_To_Cross_Sell_Child_Opportunity}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Link to Cross-Sell Child Opportunity&lt;/a&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Email_Body_Closed_Won</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hello {!$Record.Owner.FirstName},&lt;/p&gt;&lt;p&gt;The {!$Record.Name} Cross-Sell Opportunity that you participated in has been Closed-Won. Please work with {!$Record.Parent_Opportunity__r.Owner.FirstName} {!$Record.Parent_Opportunity__r.Owner.LastName} to organize and begin work on the project. For more details review the Main and Child Opportunities.&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;{!Link_to_Main_Parent_Opportunity}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Link to Main Parent Opportunity&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;{!Link_To_Cross_Sell_Child_Opportunity}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Link to Cross-Sell Child Opportunity&lt;/a&gt;&lt;/p&gt;</text>
    </textTemplates>
</Flow>
