sf_project/force-app/main/default/flows/Opportunity_Sync_Child_Fields_From_Parent_On_Change.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_To_Collection</name>
        <label>Add To Collection</label>
        <locationX>270</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>Opp_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Opp_Single</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Child_Opps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Child</name>
        <label>Update Child</label>
        <locationX>270</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>Opp_Single.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Child_Opps.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opp_Single.Bid_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Bid_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_To_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Record_To_Update</name>
        <label>Record To Update?</label>
        <locationX>182</locationX>
        <locationY>1031</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Record_To_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Opp_Collection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Child_Opps</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Proposal Date == Bid_Date__c</description>
        <name>Update_Proposal_Date</name>
        <label>Update Proposal Date?</label>
        <locationX>402</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Loop_Child_Opps</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Update_Proposal_Date</name>
            <conditionLogic>3 AND (1 OR 2)</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Child_Opps.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Accepted Cross-Sell</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Child_Opps.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Proposal Requested</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Bid_Date__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Child</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Conditionally update fields on child Opportunities from the parent on change.
Fields updated in this Flow:
- Proposal Date (Bid_Date__c)</description>
    <environments>Default</environments>
    <interviewLabel>[Opportunity] Sync Child Fields From Parent On Change {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Opportunity] Sync Child Fields From Parent On Change</label>
    <loops>
        <name>Loop_Child_Opps</name>
        <label>Loop Child Opps</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <collectionReference>Child_Opps</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Proposal_Date</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Record_To_Update</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>I choose not to filter here on StageName incase we need to expand on this Flow later. Instead I check that below.</description>
        <name>Child_Opps</name>
        <label>Child Opps</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Child_Opps</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Parent_Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Child_Opps</name>
        <label>Update Child Opps</label>
        <locationX>50</locationX>
        <locationY>1139</locationY>
        <inputReference>Opp_Collection</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Child_Opps</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Parent_Opportunity__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Bid_Date__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Opp_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>Opp_Single</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
