sf_project/force-app/main/default/flows/Opportunity_Send_Proposal_Date_Approaching_Notifications.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email</name>
        <label>Send Email</label>
        <locationX>264</locationX>
        <locationY>900</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Loop_Opportunities</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Loop_Opportunities.Owner.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>client@setgopartners.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Email_Subject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Email_Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_In_App_Notification</name>
        <label>Send In-App Notification</label>
        <locationX>264</locationX>
        <locationY>792</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Send_Email</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Custom_Notification_Type.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>In_App_Notification_Recipient_IDs</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>Bell_Notification_Title</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>Bell_Notification_Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>Loop_Opportunities.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Clear_In_App_Notification_Recipient_IDs</name>
        <label>Clear In_App_Notification_Recipient_IDs</label>
        <locationX>264</locationX>
        <locationY>576</locationY>
        <assignmentItems>
            <assignToReference>In_App_Notification_Recipient_IDs</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Empty_Text_Collection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_In_App_Recipient_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_In_App_Recipient_ID</name>
        <label>Set In-App Recipient ID</label>
        <locationX>264</locationX>
        <locationY>684</locationY>
        <assignmentItems>
            <assignToReference>In_App_Notification_Recipient_IDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Opportunities.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_In_App_Notification</targetReference>
        </connector>
    </assignments>
    <description>Send email and in-app notifications when Proposal Date is 7 or 3 days away.</description>
    <environments>Default</environments>
    <formulas>
        <name>Bell_Notification_Body</name>
        <dataType>String</dataType>
        <expression>&quot;Proposal is required by &quot; &amp; TEXT({!Loop_Opportunities.Bid_Date__c}) &amp; &quot; for &quot; &amp; {!Loop_Opportunities.Name}</expression>
    </formulas>
    <formulas>
        <name>Bell_Notification_Title</name>
        <dataType>String</dataType>
        <expression>&quot;Proposal Required in &quot; &amp; TEXT({!Num_Days_Till_Proposal_Date}) &amp; &quot; days&quot;</expression>
    </formulas>
    <formulas>
        <name>Days_From_Today_3</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 3</expression>
    </formulas>
    <formulas>
        <name>Days_From_Today_7</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 7</expression>
    </formulas>
    <formulas>
        <name>Email_Subject</name>
        <dataType>String</dataType>
        <expression>&quot;Proposal is required by &quot; &amp; TEXT({!Loop_Opportunities.Bid_Date__c}) &amp; &quot; for &quot; &amp; {!Loop_Opportunities.Name}</expression>
    </formulas>
    <formulas>
        <name>Num_Days_Till_Proposal_Date</name>
        <dataType>Number</dataType>
        <expression>{!Loop_Opportunities.Bid_Date__c} - TODAY()</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Record_Link</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_580}, FIND(&apos;/services&apos;, {!$Api.Partner_Server_URL_580})) &amp; {!Loop_Opportunities.Id}</expression>
    </formulas>
    <interviewLabel>[Opportunity] Send Proposal Date Approaching Notifications {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Opportunity] Send Proposal Date Approaching Notifications</label>
    <loops>
        <name>Loop_Opportunities</name>
        <label>Loop Opportunities</label>
        <locationX>176</locationX>
        <locationY>468</locationY>
        <collectionReference>Get_Opportunities</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Clear_In_App_Notification_Recipient_IDs</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Custom_Notification_Type</name>
        <label>Get Custom Notification Type</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Opportunities</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>General_Custom_Notification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunities</name>
        <label>Get Opportunities</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Custom_Notification_Type</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Parent_Opportunity__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Bid_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Days_From_Today_7</elementReference>
            </value>
        </filters>
        <filters>
            <field>Bid_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Days_From_Today_3</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunities</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-08-25</startDate>
            <startTime>06:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Email_Body</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hello {!Loop_Opportunities.Owner.FirstName},&lt;/p&gt;&lt;p&gt;A Proposal is required by {!Loop_Opportunities.Bid_Date__c} for {!Loop_Opportunities.Name}. Please review the linked opportunity, enter the proposal information and update the stage to Proposal Submitted. Thank you.&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;{!Record_Link}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!Loop_Opportunities.Name}&lt;/a&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>Empty_Text_Collection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>In_App_Notification_Recipient_IDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
