sf_project/force-app/main/default/flows/Opportunity_Create_Child_Cross_Sell_Opportunity_subflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Init_New_Opp</name>
        <label>Init New Opp</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>NewOpp.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ParentOpp.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpp.Bid_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ParentOpp.Bid_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpp.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ParentOpp.CloseDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpp.Cross_Sell_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ParentOpp.Cross_Sell_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpp.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opp_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpp.Opportunity_Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ParentOpp.Opportunity_Notes__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpp.Opportunity_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ParentOpp.Opportunity_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpp.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Partner.Sales_Leader_EPP_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpp.Parent_Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Parent_Opportunity_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpp.Partner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Partner_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpp.Project_Size__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ParentOpp.Project_Size__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpp.Project_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ParentOpp.Project_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpp.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_RecordTypeID.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpp.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Accepted Cross-Sell</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpp.Trade__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Trade</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>Opp_Name</name>
        <dataType>String</dataType>
        <expression>{!ParentOpp.Name} &amp; &quot; &quot; &amp; {!Trade}</expression>
    </formulas>
    <interviewLabel>[Opportunity] Create Child Cross-Sell Opportunity (subflow) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Opportunity] Create Child Cross-Sell Opportunity (subflow)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Partner</name>
        <label>Get Partner</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Init_New_Opp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Partner_ID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Partner__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_RecordTypeID</name>
        <label>Get RecordTypeID</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Partner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cross_Sell_Subcontract</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ParentOpp</name>
        <label>ParentOpp</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_RecordTypeID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Parent_Opportunity_ID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ParentOpp</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>NewOpp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>Parent_Opportunity_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Value for Partner__c</description>
        <name>Partner_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Value for Trade__c</description>
        <name>Trade</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
