sf_project/force-app/main/default/flows/Opportunity_Recalculate_Parent_Amount_subflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Update_Amount</name>
        <label>Update Amount</label>
        <locationX>138</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>Amount_Sum</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Child_Opportunities.Amount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Cost_Sum</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Child_Opportunities.Cost__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Child_Opportunities</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>This flow is specifically for children of RecordType: Sales_Opportunities</description>
        <name>Parent_Opportunity_RecordType</name>
        <label>Parent Opportunity RecordType</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Sales_Opportunities</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Parent_Opportunity.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Sales_Opportunities_RecordID.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_Children</targetReference>
            </connector>
            <label>Sales_Opportunities</label>
        </rules>
    </decisions>
    <description>4-1-2025 Changed the Cost_Sum To add not equal to solve parent margin error 
Auto update the Amount for parent Opportunities (where Record Type = Sales_Opportunities) when:
- The child Amount changes
- Or when the child is Closed/Lost
- Or when a child is deleted

Update for Version 2: Same as above for amount, except for cost as well.</description>
    <environments>Default</environments>
    <interviewLabel>[Opportunity] Recalculate Parent Amount (subflow) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Opportunity] Recalculate Parent Amount (subflow)</label>
    <loops>
        <name>Loop_Child_Opportunities</name>
        <label>Loop Child Opportunities</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <collectionReference>Get_All_Children</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Amount</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Parent_Amount</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Children</name>
        <label>Get All Children</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Child_Opportunities</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND NOT((3 AND 4))</filterLogic>
        <filters>
            <field>Parent_Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Parent_Opportunity_ID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Child_Opportunity_ID_To_Exclude</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsWon</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Parent_Opportunity</name>
        <label>Get Parent Opportunity</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Parent_Opportunity_RecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Parent_Opportunity_ID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Sales_Opportunities_RecordID</name>
        <label>Get Sales_Opportunities RecordID</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Parent_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sales_Opportunities</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Parent_Amount</name>
        <label>Update Parent Amount</label>
        <locationX>50</locationX>
        <locationY>866</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Parent_Opportunity_ID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>Amount_Sum</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Costs__c</field>
            <value>
                <elementReference>Cost_Sum</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Sales_Opportunities_RecordID</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Sum of all child Opportunity Amounts</description>
        <name>Amount_Sum</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>When this subflow is called from the &apos;deleted trigger&apos; Flow we want to exclude the deleted child Opportunity from the calculations. This is the ID of the deleted child Opportunity.</description>
        <name>Child_Opportunity_ID_To_Exclude</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Cost_Sum</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Parent_Opportunity_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
