sf_project/force-app/main/default/flows/Opportunity_Scheduled_Overdue_Alert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Var_UpdateRecord</name>
        <label>Set Var_UpdateRecord</label>
        <locationX>138</locationX>
        <locationY>576</locationY>
        <assignmentItems>
            <assignToReference>Var_UpdateRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Email_Loop.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_UpdateRecord.Trigger_Overdue_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Var_UpdateRecordsHolder</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Var_UpdateRecordsHolder</name>
        <label>Set Var_UpdateRecordsHolder</label>
        <locationX>138</locationX>
        <locationY>684</locationY>
        <assignmentItems>
            <assignToReference>Var_UpdateRecordsHolder</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Var_UpdateRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Email_Loop</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>Con_Temp</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </constants>
    <decisions>
        <name>Is_A_Weekday</name>
        <label>Is A Weekday</label>
        <locationX>182</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FM_IsWeekDay</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Overdue_Opportunities</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Test Flow</description>
    <environments>Default</environments>
    <formulas>
        <name>FM_IsWeekDay</name>
        <dataType>Boolean</dataType>
        <expression>WEEKDAY({!$Flow.CurrentDate}) &gt; 1 &amp;&amp; WEEKDAY({!$Flow.CurrentDate}) &lt; 7</expression>
    </formulas>
    <interviewLabel>[Opportunity] Scheduled Overdue Alert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Opportunity] Scheduled Overdue Alert</label>
    <loops>
        <name>Email_Loop</name>
        <label>Email Loop</label>
        <locationX>50</locationX>
        <locationY>468</locationY>
        <collectionReference>Get_Overdue_Opportunities</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Var_UpdateRecord</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Opp</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Overdue_Opportunities</name>
        <label>Get Overdue Opportunities</label>
        <locationX>50</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Email_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <filters>
            <field>CloseDate</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opp</name>
        <label>Update Opp</label>
        <locationX>50</locationX>
        <locationY>876</locationY>
        <inputReference>Var_UpdateRecordsHolder</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_A_Weekday</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-10-04</startDate>
            <startTime>00:30:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>Var_UpdateRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>Var_UpdateRecordsHolder</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
