sf_project/force-app/main/default/flows/Opportunity_Send_Out_Past_Due_Bug_Email.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Post_to_Chatter_Action_1</name>
        <label>Post to Chatter Action 1</label>
        <locationX>182</locationX>
        <locationY>839</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Uncheck_trigger</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>{!ChatterPost} - {!Var_Today}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <stringValue>0F9Uw0000001MmTKAU</stringValue>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Send_Over_Due_Emaikl</name>
        <label>Send Over Due Emaikl</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <actionName>Opportunity.Opportunity_Due_Date_Is_Past_Due</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Post_to_Chatter_Action_1</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Opportunity_Due_Date_Is_Past_Due</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Overdue_Email_to_EPP</name>
        <label>Send Overdue Email to EPP</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <actionName>Opportunity.Opportunity_Due_Date_Is_Past_Due_EPP</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Post_to_Chatter_Action_1</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Opportunity_Due_Date_Is_Past_Due_EPP</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Var_ChatterMessage</name>
        <label>Set Var_ChatterMessage</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>Var_ChatterMessage</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Over Due Email Sent - </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_ChatterMessage</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!$Record.Id}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_ChatterMessage</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> Opp:  </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_ChatterMessage</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_ChatterMessage</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>To: </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_ChatterMessage</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Owner__r.Email__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Owner_Active_User</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Close_Date_Overdue</name>
        <label>Is Close Date Overdue?</label>
        <locationX>380</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Uncheck_trigger</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_OverDue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CloseDate</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Var_Today</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FM_Weekday</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Last_Bug_Date__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Var_Today</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Var_ChatterMessage</targetReference>
            </connector>
            <label>Yes OverDue</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Owner_Active_User</name>
        <label>Is Owner Active User?</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Send_Overdue_Email_to_EPP</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, Owner is Inactive</defaultConnectorLabel>
        <rules>
            <name>Yes_Owner_is_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Over_Due_Emaikl</targetReference>
            </connector>
            <label>Yes, Owner is Active</label>
        </rules>
    </decisions>
    <description>actually adding the exempt = false
added exempt from bug email on partner 
-checking if closed lost before running 

-Fixing issue with the last update date 
-added a change to only send on week days 
Changed so it always unchecks the trigger and changed the antipated close date to Les than or equal today not less then 
-Removed Emerald Exemption
-Added uncheck of trigger email checkbox 
-adding in Chatter file log 
-adding in new exemption partners</description>
    <environments>Default</environments>
    <formulas>
        <name>ChatterPost</name>
        <dataType>String</dataType>
        <expression>&quot;This Opportunity was sent an email to update overdue anticipated close date &quot; + 
LEFT( 
{!$Api.Partner_Server_URL_140}, FIND( &quot;.com/&quot;, {!$Api.Partner_Server_URL_140} ) + 3 
) 
+&quot;/&quot; + {!$Record.Id}</expression>
    </formulas>
    <formulas>
        <name>FM_Weekday</name>
        <dataType>Boolean</dataType>
        <expression>If(and(WEEKDAY({!$Flow.CurrentDate}) &gt; 1, WEEKDAY({!$Flow.CurrentDate}) &lt; 7), true, false)</expression>
    </formulas>
    <interviewLabel>[Opportunity] Send Out Past Due Bug Email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Opportunity] Send Out Past Due Bug Email</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Uncheck_trigger</name>
        <label>Uncheck trigger</label>
        <locationX>380</locationX>
        <locationY>1031</locationY>
        <inputAssignments>
            <field>Last_Bug_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Trigger_Overdue_Email__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Close_Date_Overdue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Trigger_Overdue_Email__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Trigger_Overdue_Email__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Bug_Email_Exempt__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Var_ChatterMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_Today</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDate</elementReference>
        </value>
    </variables>
</Flow>
