sf_project/force-app/main/default/flows/Opportunity_Auto_Close_Stagnant_Opportunities.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_to_Collection</name>
        <label>Add to Collection</label>
        <locationX>270</locationX>
        <locationY>576</locationY>
        <assignmentItems>
            <assignToReference>Opp_Collection_For_Update</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Opp_Single</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Opportunities</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Updates: Stage &amp; Loss Reason. 
And conditionally updates: Margin_Sales__c &amp; Amount</description>
        <name>Update_Fields</name>
        <label>Update Fields</label>
        <locationX>270</locationX>
        <locationY>468</locationY>
        <assignmentItems>
            <assignToReference>Opp_Single.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Opportunities.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opp_Single.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opp_Single.Loss_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Auto-Closed due to Inactivity</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opp_Single.Amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Amount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opp_Single.Margin_Sales__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Margin_Sales</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection</targetReference>
        </connector>
    </assignments>
    <constants>
        <description>Will only get Opportunities that with a CreatedDate this many days in the past.</description>
        <name>Stagnant_Threshold_Num_Days</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>60.0</numberValue>
        </value>
    </constants>
    <decisions>
        <name>Found_Opps_to_Update</name>
        <label>Found Opps to Update?</label>
        <locationX>182</locationX>
        <locationY>768</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Opp_Collection_For_Update</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Records</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Find Opportunities that have Follow up dates less than 45 days from Today and Anticipated close dates less than 60 days from Today.</description>
    <environments>Default</environments>
    <formulas>
        <name>Amount</name>
        <dataType>Number</dataType>
        <expression>IF(ISBLANK({!Loop_Opportunities.Amount}),0,{!Loop_Opportunities.Amount})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>FourtyFiveDaysAgo</name>
        <dataType>Date</dataType>
        <expression>TODAY()-45</expression>
    </formulas>
    <formulas>
        <name>Margin_Sales</name>
        <dataType>Number</dataType>
        <expression>IF(ISBLANK({!Loop_Opportunities.Margin_Sales__c}),0,{!Loop_Opportunities.Margin_Sales__c})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>SixtyDaysAgo</name>
        <dataType>Date</dataType>
        <expression>TODAY()-60</expression>
    </formulas>
    <formulas>
        <name>Stagnant_Threshold_Date_Max</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(TEXT(TODAY()-{!Stagnant_Threshold_Num_Days}) &amp; &quot; 23:59:59&quot;)</expression>
    </formulas>
    <formulas>
        <name>Stagnant_Threshold_Date_Min</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(TEXT(TODAY()-{!Stagnant_Threshold_Num_Days}) &amp; &quot; 00:00:00&quot;)</expression>
    </formulas>
    <formulas>
        <name>ThirtyDaysAgo</name>
        <dataType>Date</dataType>
        <expression>TODAY()-30</expression>
    </formulas>
    <interviewLabel>[Opportunity] Auto-Close Stagnant Opportunities {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Opportunity] Auto-Close Stagnant Opportunities</label>
    <loops>
        <name>Loop_Opportunities</name>
        <label>Loop Opportunities</label>
        <locationX>182</locationX>
        <locationY>360</locationY>
        <collectionReference>Get_Stagnant_Opportunities</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Fields</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Found_Opps_to_Update</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Stagnant_Opportunities</name>
        <label>Get Stagnant Opportunities</label>
        <locationX>182</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Opportunities</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND 3 AND 4</filterLogic>
        <filters>
            <field>Follow_Up_Date__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>FourtyFiveDaysAgo</elementReference>
            </value>
        </filters>
        <filters>
            <field>Follow_Up_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CloseDate</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>SixtyDaysAgo</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Records</name>
        <label>Update Records</label>
        <locationX>50</locationX>
        <locationY>876</locationY>
        <inputReference>Opp_Collection_For_Update</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Stagnant_Opportunities</targetReference>
        </connector>
        <schedule>
            <frequency>Weekly</frequency>
            <startDate>2023-01-27</startDate>
            <startTime>01:12:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>Opp_Collection_For_Update</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>Opp_Single</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
