sf_project/force-app/main/default/flows/Opportunity_Update_Opportunity_Team_based_on_Partner_Fields.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Child_or_Independent</name>
        <label>Child?</label>
        <locationX>402</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Add_National_Opp_Team_Member</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Child</defaultConnectorLabel>
        <rules>
            <name>Child</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Parent_Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>National_Get_National_Opp_Team_Member</targetReference>
            </connector>
            <label>Child</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_2_of_Child</name>
        <label>Child?</label>
        <locationX>380</locationX>
        <locationY>1439</locationY>
        <defaultConnector>
            <targetReference>Add_Regional_Opp_Team_Member</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Child</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Child</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Parent_Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Regional_Get_Regional_Opp_Team_Member</targetReference>
            </connector>
            <label>Child</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Crete_National_User_Exist_on_Partner_Record</name>
        <label>Does Crete National User Exist on Partner Record?</label>
        <locationX>611</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Does_Crete_Regional_User_Exist_on_Partner_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Crete_National_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Partner_Record.Crete_National_User__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Child_or_Independent</targetReference>
            </connector>
            <label>Yes, Crete National User</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Crete_Regional_User_Exist_on_Partner_Record</name>
        <label>Does Crete Regional User Exist on Partner Record?</label>
        <locationX>611</locationX>
        <locationY>1331</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Crete_EPP_User_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Partner_Record.Crete_EPP_User__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Child</targetReference>
            </connector>
            <label>Yes, Crete EPP User Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>National_Opp_Team_Member_NOT_YET_on_Opp_Team</name>
        <label>National Opp Team Member NOT YET on Opp Team</label>
        <locationX>248</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>Does_Crete_Regional_User_Exist_on_Partner_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, Already on Opp Team</defaultConnectorLabel>
        <rules>
            <name>National_Opp_Team_Member_Needs_Created_on_Parent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>National_Get_National_Opp_Team_Member</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_National_Opp_Team_Member_to_Parent_Opp</targetReference>
            </connector>
            <label>National Opp Team Member Needs Created on Parent</label>
        </rules>
    </decisions>
    <decisions>
        <name>Regional_Opp_Team_Member_NOT_YET_on_Opp_Team</name>
        <label>Regional Opp Team Member NOT YET on Opp Team</label>
        <locationX>182</locationX>
        <locationY>1655</locationY>
        <defaultConnectorLabel>No, Already on Opp Team</defaultConnectorLabel>
        <rules>
            <name>Regional_Opp_Team_Member_Needs_Created_on_Parent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Regional_Get_Regional_Opp_Team_Member</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Regional_Opp_Team_Member_to_Parent_Opp</targetReference>
            </connector>
            <label>Regional Opp Team Member Needs Created on Parent</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>[Opportunity] Update Opportunity Team based on Partner Fields {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Opportunity] Update Opportunity Team based on Partner Fields</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Add_National_Opp_Team_Member</name>
        <label>Add National Opp Team Member</label>
        <locationX>556</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Does_Crete_Regional_User_Exist_on_Partner_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>Approved__c</field>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityAccessLevel</field>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TeamMemberRole</field>
            <value>
                <stringValue>National Crete Salesperson</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserId</field>
            <value>
                <elementReference>Get_Partner_Record.Crete_National_User__c</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Add_National_Opp_Team_Member_to_Parent_Opp</name>
        <label>Add National Opp Team Member to Parent Opp</label>
        <locationX>116</locationX>
        <locationY>971</locationY>
        <connector>
            <targetReference>Does_Crete_Regional_User_Exist_on_Partner_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>Approved__c</field>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityAccessLevel</field>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>$Record.Parent_Opportunity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TeamMemberRole</field>
            <value>
                <stringValue>National Crete Salesperson</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserId</field>
            <value>
                <elementReference>Get_Partner_Record.Crete_National_User__c</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Add_Regional_Opp_Team_Member</name>
        <label>Add Regional Opp Team Member</label>
        <locationX>578</locationX>
        <locationY>1547</locationY>
        <inputAssignments>
            <field>Approved__c</field>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityAccessLevel</field>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TeamMemberRole</field>
            <value>
                <stringValue>Regional Crete Salesperson</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserId</field>
            <value>
                <elementReference>Get_Partner_Record.Crete_EPP_User__c</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Add_Regional_Opp_Team_Member_to_Parent_Opp</name>
        <label>Add Regional Opp Team Member to Parent Opp</label>
        <locationX>50</locationX>
        <locationY>1763</locationY>
        <inputAssignments>
            <field>Approved__c</field>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityAccessLevel</field>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>$Record.Parent_Opportunity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TeamMemberRole</field>
            <value>
                <stringValue>Regional Crete Salesperson</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserId</field>
            <value>
                <elementReference>Get_Partner_Record.Crete_EPP_User__c</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Partner_Record</name>
        <label>Get Partner Record</label>
        <locationX>611</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Crete_National_User_Exist_on_Partner_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Partner__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Partner__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>National_Get_National_Opp_Team_Member</name>
        <label>National: Get National Opp Team Member</label>
        <locationX>248</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>National_Opp_Team_Member_NOT_YET_on_Opp_Team</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Partner_Record.Crete_National_User__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Parent_Opportunity__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Regional_Get_Regional_Opp_Team_Member</name>
        <label>Regional: Get Regional Opp Team Member</label>
        <locationX>182</locationX>
        <locationY>1547</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Regional_Opp_Team_Member_NOT_YET_on_Opp_Team</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Partner_Record.Crete_EPP_User__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Parent_Opportunity__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Add_Crete_Users</name>
        <label>Add Crete Users</label>
        <locationX>611</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>Get_Partner_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>Crete_EPP_User__c</field>
            <value>
                <elementReference>$Record.Partner__r.Crete_EPP_User__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Crete_National_User__c</field>
            <value>
                <elementReference>$Record.Partner__r.Crete_National_User__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>485</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Add_Crete_Users</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
