sf_project/force-app/main/default/flows/Opportunity_RTF_Communication_from_Parent_Opp_to_Child_Opp.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Opportunity_RTF_Communication_from_Parent_Opp_to_Child_Opp_V2</name>
        <label>[Opportunity] RTF Communication from Parent Opp to Child Opp   - V2</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Master_Find_Child_Opp</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>[Opportunity] RTF Communication from Parent Opp to Child Opp   - V2</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Parent_Opp_Closed_Lost</name>
        <label>Parent Opp Closed Lost</label>
        <locationX>528</locationX>
        <locationY>755</locationY>
        <actionName>Opportunity.Opportunity_Parent_Opp_Closed_Lost</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>For_Each_Child</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>For_Each_Child.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Opportunity_Parent_Opp_Closed_Lost</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Parent_Opp_Closed_Won</name>
        <label>Parent Opp Closed Won</label>
        <locationX>264</locationX>
        <locationY>755</locationY>
        <actionName>Opportunity.Opportunity_Parent_Opp_Closed_Won</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>For_Each_Child</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>For_Each_Child.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Opportunity_Parent_Opp_Closed_Won</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Communication_to_Child_Opps</name>
        <label>Communication to Child Opps</label>
        <locationX>616</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>For_Each_Child</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Closed_Won</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>For_Each_Child.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>For_Each_Child.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>For_Each_Child.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Parent_Opp_Closed_Won</targetReference>
            </connector>
            <label>Closed Won</label>
        </rules>
        <rules>
            <name>Closed_Lost</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>For_Each_Child.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>For_Each_Child.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>For_Each_Child.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Parent_Opp_Closed_Lost</targetReference>
            </connector>
            <label>Closed Lost</label>
        </rules>
        <rules>
            <name>Antic</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CloseDate</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>For_Each_Child</targetReference>
            </connector>
            <label>Anticipated Close Date Change</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>[Opportunity] RTF Communication from Parent Opp to Child Opp {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Opportunity] RTF Communication from Parent Opp to Child Opp</label>
    <loops>
        <name>For_Each_Child</name>
        <label>For Each Child</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <collectionReference>Master_Find_Child_Opp</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Communication_to_Child_Opps</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Master_Find_Child_Opp</name>
        <label>Master Find Child Opp</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>For_Each_Child</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND 3 AND 4</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </filters>
        <filters>
            <field>Parent_Opportunity_Owner__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Parent_Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Opportunity_RTF_Communication_from_Parent_Opp_to_Child_Opp_V2</targetReference>
        </connector>
        <filterLogic>1 and  (2 OR 3) and 4</filterLogic>
        <filters>
            <field>Parent_Child_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>parent</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Var1</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
</Flow>
