sf_project/force-app/main/default/flows/Opportunity_Update_Opp_Owner_when_Partner_is_Changed.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_to_Opp_Owner</name>
        <label>Send Email to Opp Owner</label>
        <locationX>305</locationX>
        <locationY>431</locationY>
        <actionName>Opportunity.Opportunity_Owner_Changed</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Get_Child_Owner_by_Trade_Opp_Type_Proj_Type</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Opportunity_Owner_Changed</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Change_Not_Made_By_Admin</name>
        <label>Change Not Made By Admin</label>
        <locationX>969</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_not_an_admin</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Profile.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>00e4x000001rkOU</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Partner__r.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>AC Corporation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Partner__r.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Design Build Mechanical</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_to_Opp_Owner</targetReference>
            </connector>
            <label>Yes, not an admin</label>
        </rules>
    </decisions>
    <decisions>
        <name>Child_Owner_Found</name>
        <label>Child Owner Found?</label>
        <locationX>305</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>X2_Get_Child_Owner_by_Trade_Proj_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Does Not Exist</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Decision_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Child_Owner_by_Trade_Opp_Type_Proj_Type</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Owner</targetReference>
            </connector>
            <label>Child Owner Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_2_of_Child_Owner_Found</name>
        <label>Step 2 Child Owner Found?</label>
        <locationX>561</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>X3_Get_Child_Owner_by_Trade_Opp_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Does Not Exist</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_Child_Owner_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>X2_Get_Child_Owner_by_Trade_Proj_Type</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X2_Update_Owner</targetReference>
            </connector>
            <label>Child Owner Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_2_of_Step_4_Child_Owner_Found</name>
        <label>Copy 2 of Step 4 Child Owner Found?</label>
        <locationX>1238</locationX>
        <locationY>1511</locationY>
        <defaultConnector>
            <targetReference>Update_with_Sales_EPP</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Sales EPP</defaultConnectorLabel>
        <rules>
            <name>X5_Child_Owner_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>X5_Get_Child_Owner_by_Trade_Opp_Type_Proj_Type</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X5_Update_Owner</targetReference>
            </connector>
            <label>5) Child Owner Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Step_3_Child_Owner_Found</name>
        <label>Step 3 Child Owner Found?</label>
        <locationX>809</locationX>
        <locationY>1079</locationY>
        <defaultConnector>
            <targetReference>X4_Get_Child_Owner_by_Trade</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Does Not Exist</defaultConnectorLabel>
        <rules>
            <name>Copy_3_of_Child_Owner_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>X3_Get_Child_Owner_by_Trade_Opp_Type</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X3_Update_Owner</targetReference>
            </connector>
            <label>3) Child Owner Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Step_4_Child_Owner_Found</name>
        <label>Step 4 Child Owner Found?</label>
        <locationX>1040</locationX>
        <locationY>1295</locationY>
        <defaultConnector>
            <targetReference>X5_Get_Child_Owner_by_Trade_Opp_Type_Proj_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Does Not Exist</defaultConnectorLabel>
        <rules>
            <name>X4_Child_Owner_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>X4_Get_Child_Owner_by_Trade</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X4_Update_Owner</targetReference>
            </connector>
            <label>4) Child Owner Exists</label>
        </rules>
    </decisions>
    <description>v6 AA updated Update with Sales EPP for when EPP is null with current OwnerID 9-15-2025</description>
    <environments>Default</environments>
    <formulas>
        <name>FM_ifeppIsBlank</name>
        <dataType>String</dataType>
        <expression>if(isnull({!$Record.Partner__r.Sales_Leader_EPP_Contact__c}) = true, {!$Record.OwnerId} ,{!$Record.Partner__r.Sales_Leader_EPP_Contact__c})</expression>
    </formulas>
    <interviewLabel>[Opportunity] Update Opp Owner when Partner is Changed {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Opportunity] Update Opp Owner when Partner is Changed</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Child_Owner_by_Trade_Opp_Type_Proj_Type</name>
        <label>Get Child Owner by Trade + Opp Type + Proj Type</label>
        <locationX>305</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Child_Owner_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Partner__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Partner__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Trade__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Trade__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Opportunity_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity_Type__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Project_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Project_Type__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Child_Opportunity_Owners__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>X2_Get_Child_Owner_by_Trade_Proj_Type</name>
        <label>2) Get Child Owner by Trade + Proj Type</label>
        <locationX>561</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_2_of_Child_Owner_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Partner__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Partner__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Trade__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Trade__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Opportunity_Type__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Project_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Project_Type__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Child_Opportunity_Owners__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>X3_Get_Child_Owner_by_Trade_Opp_Type</name>
        <label>3) Get Child Owner by Trade + Opp Type</label>
        <locationX>809</locationX>
        <locationY>971</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Step_3_Child_Owner_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Partner__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Partner__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Trade__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Trade__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Opportunity_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity_Type__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Project_Type__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Child_Opportunity_Owners__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>X4_Get_Child_Owner_by_Trade</name>
        <label>4) Get Child Owner by Trade</label>
        <locationX>1040</locationX>
        <locationY>1187</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Step_4_Child_Owner_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Partner__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Partner__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Trade__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Trade__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Opportunity_Type__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Project_Type__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Child_Opportunity_Owners__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>X5_Get_Child_Owner_by_Trade_Opp_Type_Proj_Type</name>
        <label>5) Get Child Owner by Opp Type</label>
        <locationX>1238</locationX>
        <locationY>1403</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_2_of_Step_4_Child_Owner_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Partner__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Partner__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Trade__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Opportunity_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity_Type__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Project_Type__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Child_Opportunity_Owners__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Owner</name>
        <label>Update Owner</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Child_Owner_by_Trade_Opp_Type_Proj_Type.User__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_with_Sales_EPP</name>
        <label>Update with Sales EPP</label>
        <locationX>1370</locationX>
        <locationY>1619</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>FM_ifeppIsBlank</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>X2_Update_Owner</name>
        <label>2) Update Owner</label>
        <locationX>314</locationX>
        <locationY>971</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>X2_Get_Child_Owner_by_Trade_Proj_Type.User__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>X3_Update_Owner</name>
        <label>3) Update Owner</label>
        <locationX>578</locationX>
        <locationY>1187</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>X3_Get_Child_Owner_by_Trade_Opp_Type.User__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>X4_Update_Owner</name>
        <label>4) Update Owner</label>
        <locationX>842</locationX>
        <locationY>1403</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>X4_Get_Child_Owner_by_Trade.User__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>X5_Update_Owner</name>
        <label>5) Update Owner</label>
        <locationX>1106</locationX>
        <locationY>1619</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>X5_Get_Child_Owner_by_Trade_Opp_Type_Proj_Type.User__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>843</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Change_Not_Made_By_Admin</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Partner__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
