sf_project/force-app/main/default/flows/Opportunity_Find_Cross_Sell_Partner_Non_Guided_screen_flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Extract_Job_Site_IDs</name>
        <label>Extract Job Site IDs</label>
        <locationX>732</locationX>
        <locationY>1790</locationY>
        <actionName>ExtractStringsFromCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Job_Sites</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__inputRecordCollection</typeName>
            <typeValue>Opportunity_Job_Site__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>allowEmptyCollection</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>dedupeValues</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fieldAPIName</name>
            <value>
                <stringValue>Job_Site__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inputRecordCollection</name>
            <value>
                <elementReference>Get_Opportunity_Job_Sites</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ExtractStringsFromCollection</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>Job_Site_IDs</assignToReference>
            <name>fieldValueCollection</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>Get the Job Site IDs from the rows selected in the previous screen</description>
        <name>Extract_Job_Site_IDs_For_Deletion</name>
        <label>Extract Job Site IDs</label>
        <locationX>1150</locationX>
        <locationY>2306</locationY>
        <actionName>ExtractStringsFromCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Opportunity_Job_Sites_for_Deletion</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__inputRecordCollection</typeName>
            <typeValue>Job_Site__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>allowEmptyCollection</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>dedupeValues</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fieldAPIName</name>
            <value>
                <stringValue>Id</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inputRecordCollection</name>
            <value>
                <elementReference>Confirmation_Screen_Job_Site_Datatable.selectedRows</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ExtractStringsFromCollection</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>Gets a List of all Trades currently selected on the Opportunity the Screen Flow was triggered from.</description>
        <name>Get_Selected_Trades</name>
        <label>Get Selected Trades</label>
        <locationX>1337</locationX>
        <locationY>242</locationY>
        <actionName>GetOpportunityTradeAsChoiceSetAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Set_Selected_Trades_Count</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>OpportunityId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GetOpportunityTradeAsChoiceSetAction</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>All_Trades_Selected_On_Opportunity</assignToReference>
            <name>selectedTrades</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_to_Collection</name>
        <label>Add to Collection</label>
        <locationX>1425</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>Request_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Request_Single</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Add_Another_Partner_To_This_Trade_Checked</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Collection_New_Cross_Sell_Opp</name>
        <label>Add to Collection</label>
        <locationX>402</locationX>
        <locationY>2930</locationY>
        <assignmentItems>
            <assignToReference>New_Cross_Sell_Opp_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>New_Cross_Sell_Opp_Single</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Request_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Collection_Partner_Share_Account</name>
        <label>Add to Collection</label>
        <locationX>446</locationX>
        <locationY>3770</locationY>
        <assignmentItems>
            <assignToReference>Partner_Sharing_Account_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Partner_Sharing_Account_Single</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_Opps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Job_Site_IDs_var</name>
        <label>Clear Job Site IDs var</label>
        <locationX>996</locationX>
        <locationY>1790</locationY>
        <assignmentItems>
            <assignToReference>Job_Site_IDs</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EMPTY_Text_Collection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Job_Sites</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_Loop_Counter</name>
        <label>Increment Loop Counter</label>
        <locationX>1689</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>Loop_Counter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Selected_Trades</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Init_Partner_Sharing_Account</name>
        <label>Init Partner Sharing - Account</label>
        <locationX>446</locationX>
        <locationY>3662</locationY>
        <assignmentItems>
            <assignToReference>Partner_Sharing_Account_Single.Company__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Opps.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Partner_Sharing_Account_Single.Partner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Opps.Partner__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection_Partner_Share_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Save_Selection</name>
        <label>Save Selection</label>
        <locationX>1425</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>Request_Single.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Temp_Record_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Request_Single.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Request_Single.Partner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Partner_Selection_Screen_Lookup.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Request_Single.Trade__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Selected_Trades</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Request_Single.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_as_Parent_Opp_Owner</name>
        <label>Set as Parent Opp Owner</label>
        <locationX>270</locationX>
        <locationY>2738</locationY>
        <assignmentItems>
            <assignToReference>New_Cross_Sell_Opp_Single.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_1.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection_New_Cross_Sell_Opp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Opportunity_for_New_Job_Site</name>
        <label>Set Opportunity for New Job Site</label>
        <locationX>622</locationX>
        <locationY>2306</locationY>
        <assignmentItems>
            <assignToReference>New_Opportunity_Job_Site.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Opportunity_Job_Site.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Opportunity_Job_Site.Job_Site__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_Job_Site_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Selected_Trades_Count</name>
        <label>Set: Selected Trades Count</label>
        <locationX>1337</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>Selected_Trades_Count</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>All_Trades_Selected_On_Opportunity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Selected_Trades</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Any_Trades_Selected</name>
        <label>Any Trades Selected?</label>
        <locationX>1337</locationX>
        <locationY>1466</locationY>
        <defaultConnector>
            <targetReference>End_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Trades_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Request_Collection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Opportunity_Job_Sites</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Insert_Partner_Sharing_Records_Account</name>
        <label>Insert Partner Sharing Records - Account?</label>
        <locationX>182</locationX>
        <locationY>4046</locationY>
        <defaultConnector>
            <targetReference>Set_Sales_Type_To_Cross_Sell</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Insert_Partner_Sharing_Records_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Partner_Sharing_Account_Collection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Partner_Sharing_Records_Account</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Add_Another_Partner_To_This_Trade_Checked</name>
        <label>Is Add Another Partner To This Trade Checked</label>
        <locationX>1557</locationX>
        <locationY>1082</locationY>
        <defaultConnector>
            <targetReference>Increment_Loop_Counter</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_it_is_checked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Add_Another_Partner_To_This_Trade</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Partner_Selection_Screen</targetReference>
            </connector>
            <label>Yes it is checked</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_New_Opp_the_Org_Partner</name>
        <label>Is New Opp the Org Partner</label>
        <locationX>402</locationX>
        <locationY>2630</locationY>
        <defaultConnector>
            <targetReference>Add_to_Collection_New_Cross_Sell_Opp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_its_the_same_partner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Request_Collection.Partner__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Opportunity_1.Partner__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_as_Parent_Opp_Owner</targetReference>
            </connector>
            <label>Yes its the same partner</label>
        </rules>
    </decisions>
    <decisions>
        <name>Next_Action_Confirmation_Screen</name>
        <label>Next Action</label>
        <locationX>864</locationX>
        <locationY>2198</locationY>
        <defaultConnector>
            <targetReference>Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Unknown</defaultConnectorLabel>
        <rules>
            <name>Save_Finish</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Confirmation_Screen_Button_Bar.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Finish</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Request_Collection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Current_Opportunity</targetReference>
            </connector>
            <label>Save &amp; Finish</label>
        </rules>
        <rules>
            <name>Add_Job_Site</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Confirmation_Screen_Button_Bar.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Add_Job_Site</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Opportunity_for_New_Job_Site</targetReference>
            </connector>
            <label>Add Job Site</label>
        </rules>
        <rules>
            <name>Delete_Selected_Job_Sites</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Confirmation_Screen_Button_Bar.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Delete_Selected_Job_Sites</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Extract_Job_Site_IDs_For_Deletion</targetReference>
            </connector>
            <label>Delete Selected Job Sites</label>
        </rules>
    </decisions>
    <decisions>
        <name>Next_Action_Deletion_Confirmation_Screen</name>
        <label>Next Action</label>
        <locationX>1150</locationX>
        <locationY>2630</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Opportunity_Job_Sites</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Cancel Deletion</defaultConnectorLabel>
        <rules>
            <name>Confirm_Deletion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Deletion_Confirmation_Screen_Button_Bar.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Confirm_Deletion</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity_Job_Sites_for_Deletion</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Opportunity_Job_Sites</targetReference>
            </connector>
            <label>Confirm Deletion</label>
        </rules>
    </decisions>
    <decisions>
        <name>Next_Action_New_Job_Site_Screen</name>
        <label>Next Action</label>
        <locationX>622</locationX>
        <locationY>2522</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Opportunity_Job_Sites</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Cancel</defaultConnectorLabel>
        <rules>
            <name>Save_New_Job_Site</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>New_Job_Site_Screen_Button_Bar.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Save</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Inset_New_Job_Site</targetReference>
            </connector>
            <label>Save</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opp_Job_Sites_Found</name>
        <label>Opp Job Sites Found?</label>
        <locationX>864</locationX>
        <locationY>1682</locationY>
        <defaultConnector>
            <targetReference>Clear_Job_Site_IDs_var</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Opp_Job_Sites_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity_Job_Sites</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Extract_Job_Site_IDs</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Verify the user did not select the &apos;Skip this trade&apos; checkbox.</description>
        <name>Partner_Selected</name>
        <label>Partner Selected?</label>
        <locationX>1557</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Is_Add_Another_Partner_To_This_Trade_Checked</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Partner_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Partner_Selection_Screen_Lookup.recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Skip_this_trade_checkbox</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Save_Selection</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Partner_Sharing_Account_Exists</name>
        <label>Partner Sharing - Account Exists?</label>
        <locationX>358</locationX>
        <locationY>3554</locationY>
        <defaultConnector>
            <targetReference>Init_Partner_Sharing_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Partner_Sharing_Account_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Partner_Sharing_Account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Opps</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>v7 AA quick update to make the v6 change run better
V6 AA added the checkbox add another Partner to this trade 
v5 AA when the Child Partner is the same as the parent Partner keep the same owner 9-2-2025
v4 AA adding parent to Parent Opportunity Name 9-2-2025 
v3 adding Opp team Member (parrent Owner)
v2 added set sales type to Cross sell</description>
    <environments>Default</environments>
    <formulas>
        <name>Partner_Selection_Screen_Lookup_Label</name>
        <dataType>String</dataType>
        <expression>&quot;(&quot; &amp; TEXT({!Loop_Counter}) &amp; &quot; of &quot; &amp; TEXT({!Selected_Trades_Count}) &amp; &quot;) Partner for: &quot; &amp; {!Loop_Selected_Trades}</expression>
    </formulas>
    <formulas>
        <description>A temporary record ID for type Opportunity_Cross_Sell_Request__c.
Needed so that they can be displayed in a Datatable.</description>
        <name>Temp_Record_ID</name>
        <dataType>String</dataType>
        <expression>RPAD((&quot;a0z&quot;&amp;TEXT({!Loop_Counter})), 18, &apos;0&apos;)</expression>
    </formulas>
    <formulas>
        <name>Var_NameParent</name>
        <dataType>String</dataType>
        <expression>{!Get_Opportunity_1.Name} + &apos; Parent&apos;</expression>
    </formulas>
    <interviewLabel>[Opportunity] Find Cross-Sell Partner - Non-Guided (screen flow) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Opportunity] Find Cross-Sell Partner - Non-Guided (screen flow)</label>
    <loops>
        <description>Each loop iteration will create a child cross sell Opportunity</description>
        <name>Loop_Request_Collection</name>
        <label>Loop Request Collection</label>
        <locationX>182</locationX>
        <locationY>2414</locationY>
        <collectionReference>Request_Collection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Child_Cross_Sell_Opportunity</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Insert_Child_Opps</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>This is looping the trades the user selected from the previous screen, not all trades from the Opportunity from which the Flow was launched from.</description>
        <name>Loop_Selected_Trades</name>
        <label>Loop Selected Trades</label>
        <locationX>1337</locationX>
        <locationY>458</locationY>
        <collectionReference>All_Trades_Selected_On_Opportunity</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Partner_Selection_Screen</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Any_Trades_Selected</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>New_Opps</name>
        <label>New Opps</label>
        <locationX>182</locationX>
        <locationY>3230</locationY>
        <collectionReference>New_Cross_Sell_Opp_Collection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Opp_Team</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Insert_Partner_Sharing_Records_Account</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Opp_Team</name>
        <label>Create Opp Team</label>
        <locationX>358</locationX>
        <locationY>3338</locationY>
        <connector>
            <targetReference>Get_Partner_Sharing_Account</targetReference>
        </connector>
        <inputAssignments>
            <field>OpportunityAccessLevel</field>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>New_Opps.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TeamMemberRole</field>
            <value>
                <stringValue>Initiator of Opportunity</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserId</field>
            <value>
                <elementReference>Get_Opportunity_1.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Partner_Sharing_Records_Account</name>
        <label>Create Partner Sharing Records - Account</label>
        <locationX>50</locationX>
        <locationY>4154</locationY>
        <connector>
            <targetReference>Set_Sales_Type_To_Cross_Sell</targetReference>
        </connector>
        <inputReference>Partner_Sharing_Account_Collection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Insert_Child_Opps</name>
        <label>Insert Child Opps</label>
        <locationX>182</locationX>
        <locationY>3122</locationY>
        <connector>
            <targetReference>New_Opps</targetReference>
        </connector>
        <inputReference>New_Cross_Sell_Opp_Collection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Inset_New_Job_Site</name>
        <label>Inset New Job Site</label>
        <locationX>490</locationX>
        <locationY>2630</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Opportunity_Job_Sites</targetReference>
        </connector>
        <inputReference>New_Opportunity_Job_Site</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Opportunity_Job_Sites</name>
        <label>Delete Opportunity Job Sites</label>
        <locationX>1018</locationX>
        <locationY>2738</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Opportunity_Job_Sites</targetReference>
        </connector>
        <inputReference>Get_Opportunity_Job_Sites_for_Deletion</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Job_Sites</name>
        <label>Get Job Sites</label>
        <locationX>864</locationX>
        <locationY>1982</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Confirmation_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>Job_Site_IDs</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Job_Site__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_1</name>
        <label>Get Opportunity</label>
        <locationX>1337</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Selected_Trades</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Job_Sites</name>
        <label>Get Opportunity Job Sites</label>
        <locationX>864</locationX>
        <locationY>1574</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Opp_Job_Sites_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity_Job_Site__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Job_Sites_for_Deletion</name>
        <label>Get Opportunity Job Sites for Deletion</label>
        <locationX>1150</locationX>
        <locationY>2414</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Deletion_Confirmation_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Job_Site__c</field>
            <operator>In</operator>
            <value>
                <elementReference>Extract_Job_Site_IDs_For_Deletion.fieldValueCollection</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity_Job_Site__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Partner_Sharing_Account</name>
        <label>Get Partner Sharing - Account</label>
        <locationX>358</locationX>
        <locationY>3446</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Partner_Sharing_Account_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Company__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>New_Opps.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Partner__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>New_Opps.Partner__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Partner_Sharing_Account__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_Sales_Type_To_Cross_Sell</name>
        <label>Set Sales Type To Cross Sell</label>
        <locationX>182</locationX>
        <locationY>4346</locationY>
        <connector>
            <targetReference>Final_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity_1.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Var_NameParent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Type__c</field>
            <value>
                <stringValue>Cross-Sell</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <description>Set &apos;Project Size&apos; &amp; &apos;Opportunity Notes&apos; from values specified on the previous screen</description>
        <name>Update_Current_Opportunity</name>
        <label>Update Current Opportunity</label>
        <locationX>182</locationX>
        <locationY>2306</locationY>
        <connector>
            <targetReference>Loop_Request_Collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Opportunity_Notes__c</field>
            <value>
                <elementReference>Get_Opportunity_1.Opportunity_Notes__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Size__c</field>
            <value>
                <elementReference>Get_Opportunity_1.Project_Size__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Confirmation_Screen</name>
        <label>Confirmation Screen</label>
        <locationX>864</locationX>
        <locationY>2090</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Next_Action_Confirmation_Screen</targetReference>
        </connector>
        <fields>
            <name>Confirmation_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Confirmation_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Confirmation_Screen_dt</name>
                    <fieldText>&lt;p&gt;The two fields below (Project Size &amp;amp; Opportunity Notes) can be edited now.&lt;/p&gt;&lt;p&gt;Any updates will be reflected on the opportunity record once the Finish button below is clicked.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Confirmation_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Confirmation_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Opportunity_1.Project_Size__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Confirmation_Screen_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Opportunity_1.Opportunity_Notes__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Confirmation_Screen_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Confirmation_Screen_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Confirmation_Screen_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Confirmation_Screen_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Confirmation_Screen_line_2</name>
                    <extensionName>c:fsc_drawLine</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>marginTop</name>
                        <value>
                            <stringValue>small</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>marginBottom</name>
                        <value>
                            <stringValue>small</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>thickness</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Confirmation_Screen_dt_3</name>
                    <fieldText>&lt;p&gt;Below, you can add or remove job sites.&lt;/p&gt;&lt;p&gt;Confirm the job sites are correct and make any necessary changes before clicking &apos;Finish&apos;.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Confirmation_Screen_Job_Site_Datatable</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Job_Site__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Job Sites</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>MULTI_SELECT</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>shouldDisplayLabel</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>Get_Job_Sites</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-44c1&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Name&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Job Site  Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Job_Address__c&quot;,&quot;guid&quot;:&quot;column-aafe&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Address&quot;,&quot;wrapText&quot;:false,&quot;order&quot;:1,&quot;label&quot;:&quot;Job Address&quot;,&quot;type&quot;:&quot;customAddress&quot;},{&quot;apiName&quot;:&quot;Company_Name_Hyperlink__c&quot;,&quot;guid&quot;:&quot;column-6ab3&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Company&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Company Hidden&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;National_Account_Agreement_Location__c&quot;,&quot;guid&quot;:&quot;column-5080&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;National Account Agreement Location&quot;,&quot;type&quot;:&quot;boolean&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Confirmation_Screen_Button_Bar</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Delete Selected Job Sites&quot;,&quot;value&quot;:&quot;Delete_Selected_Job_Sites&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;iconName&quot;:&quot;utility:delete&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Add Job Site&quot;,&quot;value&quot;:&quot;Add_Job_Site&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;iconName&quot;:&quot;utility:add&quot;,&quot;index&quot;:1},{&quot;label&quot;:&quot;Finish&quot;,&quot;value&quot;:&quot;Finish&quot;,&quot;iconPosition&quot;:&quot;right&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;iconName&quot;:&quot;utility:check&quot;,&quot;index&quot;:2}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Deletion_Confirmation_Screen</name>
        <label>Deletion Confirmation Screen</label>
        <locationX>1150</locationX>
        <locationY>2522</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Next_Action_Deletion_Confirmation_Screen</targetReference>
        </connector>
        <fields>
            <name>Deletion_Confirmation_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Deletion_Confirmation_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Deletion_Confirmation_Screen_dt</name>
                    <fieldText>&lt;p&gt;Confirm you would like to delete these Opportunity Job Sites&lt;/p&gt;&lt;p&gt;By clicking &apos;Confirm Deletion&apos; you are removing the Job Site from the Opportunity.&amp;nbsp;It will still exist as a Job Site connected to the Account.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Deletion_Confirmation_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Deletion_Confirmation_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Deletion_Confirmation_Screen_Datatable</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Opportunity_Job_Site__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>c:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>Opportunity_Job_Site__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>Get_Opportunity_Job_Sites_for_Deletion</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_suppressBottomBar</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_navigateNextOnSave</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnFields</name>
                        <value>
                            <stringValue>Opportunity__c,Job_Site__c,Job_Site_Company_Name_Hyperlink__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_matchCaseOnFilters</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnFlexes</name>
                        <value>
                            <stringValue>All</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnWidths</name>
                        <value>
                            <stringValue>Opportunity__c:0, Job_Site__c:0, Job_Site_Company_Name_Hyperlink__c:0</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isDisplayHeader</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_isDisplayHeader</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableLabel</name>
                        <value>
                            <stringValue>Opportunity Job Sites</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableIcon</name>
                        <value>
                            <stringValue>custom:custom4</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_showRecordCount</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>hideCheckboxColumn</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_hideCheckboxColumn</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_isRequired</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_singleRowSelection</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnLabels</name>
                        <value>
                            <stringValue>Job_Site_Company_Name_Hyperlink__c:Job Site Company</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Deletion_Confirmation_Screen_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Deletion_Confirmation_Screen_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Deletion_Confirmation_Screen_Button_Bar</name>
                    <extensionName>c:fsc_flowButtonBar</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>alignment</name>
                        <value>
                            <stringValue>right</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>orientation</name>
                        <value>
                            <stringValue>horizontal</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>showLines</name>
                        <value>
                            <stringValue>neither</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>actionMode</name>
                        <value>
                            <stringValue>navigation</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>buttons</name>
                        <value>
                            <stringValue>[{&quot;label&quot;:&quot;Cancel&quot;,&quot;value&quot;:&quot;Cancel&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;iconName&quot;:&quot;utility:skip_back&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Confirm Deletion&quot;,&quot;value&quot;:&quot;Confirm_Deletion&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:1}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>End_Screen</name>
        <label>End Screen</label>
        <locationX>1810</locationX>
        <locationY>1574</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>End_Screen_dt</name>
            <fieldText>&lt;p&gt;No Partners selected. &lt;/p&gt;&lt;p&gt;Use the &apos;Previous&apos; button to go back and select a Partner for one of this Opportunities trades or close this window.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>1546</locationX>
        <locationY>2306</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Screen_dt</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;Error:&lt;/strong&gt; Unexpected Flow state. Please contact your Salesforce admin for assistance. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Final_Screen</name>
        <label>Final Screen</label>
        <locationX>182</locationX>
        <locationY>4454</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Final_Screen_dt</name>
            <fieldText>&lt;p&gt;Your Cross-Sell opportunities have been created and notification has been sent to the Partner Sales Leader / EPP Contact.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>New_Job_Site_Screen</name>
        <label>New Job Site Screen</label>
        <locationX>622</locationX>
        <locationY>2414</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Next_Action_New_Job_Site_Screen</targetReference>
        </connector>
        <fields>
            <name>New_Job_Site_Screen_dt</name>
            <fieldText>&lt;p&gt;Fill in the details for the new Opportunity Job Site&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>New_Job_Site_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Job_Site_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>New_Opportunity_Job_Site.Opportunity__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Job_Site_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>New_Opportunity_Job_Site.Job_Site__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>New_Job_Site_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Job_Site_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>New_Job_Site_Screen_Button_Bar</name>
                    <extensionName>c:fsc_flowButtonBar</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>alignment</name>
                        <value>
                            <stringValue>right</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>orientation</name>
                        <value>
                            <stringValue>horizontal</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>showLines</name>
                        <value>
                            <stringValue>neither</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>actionMode</name>
                        <value>
                            <stringValue>navigation</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>buttons</name>
                        <value>
                            <stringValue>[{&quot;label&quot;:&quot;Cancel&quot;,&quot;value&quot;:&quot;Cancel&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;iconName&quot;:&quot;utility:clear&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Save&quot;,&quot;value&quot;:&quot;Save&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;iconName&quot;:&quot;utility:check&quot;,&quot;index&quot;:1}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Partner_Selection_Screen</name>
        <label>Partner Selection Screen</label>
        <locationX>1557</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Partner_Selected</targetReference>
        </connector>
        <fields>
            <name>Partner_Selection_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Partner_Selection_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Partner_Selection_Screen_dt_2</name>
                    <fieldText>&lt;p&gt;Select the partner you&apos;ve already communicated with about the project.&lt;/p&gt;&lt;p&gt;If you haven&apos;t discussed this trade with a Partner check &apos;Skip this trade&apos;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Partner_Selection_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Partner_Selection_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Partner_Selection_Screen_Lookup</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Partner__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <elementReference>Partner_Selection_Screen_Lookup_Label</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Opportunity</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxValues</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Skip_this_trade_checkbox</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Partner_Selection_Screen_dt</name>
                    <fieldText>&lt;p&gt;Skipping Cross-Sell Opportunity for: &lt;strong&gt;{!Loop_Selected_Trades}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Skip_this_trade_checkbox</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Partner_Selection_Screen_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Partner_Selection_Screen_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Partner_Selection_Screen_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Skip_this_trade_checkbox</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>Skip this trade</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Partner_Selection_Screen_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Add_Another_Partner_To_This_Trade</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Add Another Partner To This Trade</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1211</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunity_1</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Create_Child_Cross_Sell_Opportunity</name>
        <label>Create Child Cross-Sell Opportunity</label>
        <locationX>402</locationX>
        <locationY>2522</locationY>
        <connector>
            <targetReference>Is_New_Opp_the_Org_Partner</targetReference>
        </connector>
        <flowName>Opportunity_Create_Child_Cross_Sell_Opportunity_subflow</flowName>
        <inputAssignments>
            <name>Parent_Opportunity_ID</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Partner_ID</name>
            <value>
                <elementReference>Loop_Request_Collection.Partner__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Trade</name>
            <value>
                <elementReference>Loop_Request_Collection.Trade__c</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>New_Cross_Sell_Opp_Single</assignToReference>
            <name>NewOpp</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>All_Trades_Selected_On_Opportunity</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Used to blank out other collection vars</description>
        <name>EMPTY_Text_Collection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Job_Site_IDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Increments by 1 for each iteration of &apos;Loop Selected Trades&apos;. Used to generate temporary record IDs for Opportunity_Cross_Sell_Request__c so that the collection variable can be displayed in a Datatable.</description>
        <name>Loop_Counter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>New_Cross_Sell_Opp_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>New_Cross_Sell_Opp_Single</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>New_Opportunity_Job_Site</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity_Job_Site__c</objectType>
    </variables>
    <variables>
        <name>Partner_Sharing_Account_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Partner_Sharing_Account__c</objectType>
    </variables>
    <variables>
        <name>Partner_Sharing_Account_Single</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Partner_Sharing_Account__c</objectType>
    </variables>
    <variables>
        <description>Opportunity ID</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>NOTE: Although this variable is of type Opportunity_Cross_Sell_Request__c, this Flow never creates any records of this type.
We are using a record variable of this type here to track which Partner__c is selected for each of the selected Trades.</description>
        <name>Request_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity_Cross_Sell_Request__c</objectType>
    </variables>
    <variables>
        <description>NOTE: Although this variable is of type Opportunity_Cross_Sell_Request__c, this Flow never creates any records of this type.
We are using a record variable of this type here to track which Partner__c is selected for each of the selected Trades.</description>
        <name>Request_Single</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity_Cross_Sell_Request__c</objectType>
    </variables>
    <variables>
        <description>How many trades are selected on the current Opportunity</description>
        <name>Selected_Trades_Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
