sf_project/force-app/main/default/flows/Opportunity_RTF_Hillard_Electric_Set_Opp_Team.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_To_Var_SingleRecordHolder2</name>
        <label>Assign To Var_SingleRecordHolder 2</label>
        <locationX>490</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>Var_SingleRecordHolder.UserId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Service.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_SingleRecordHolder.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_SingleRecordHolder.TeamMemberRole</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_SingleRecordHolder.OpportunityAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Copy_2_of_Set_Var_OppTeamToWrite</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_To_Var_SingleRecordHolder_3</name>
        <label>Assign To Var_SingleRecordHolder 3</label>
        <locationX>842</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>Var_SingleRecordHolder.UserId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Look_All.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_SingleRecordHolder.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_SingleRecordHolder.TeamMemberRole</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_SingleRecordHolder.OpportunityAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Set_Var_OppTeamToWrite</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Copy_1_of_Assign_To_Var_SingleRecordHolder_2</name>
        <label>Copy 1 of Copy 1 of Assign To Var_SingleRecordHolder 2</label>
        <locationX>138</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>Var_SingleRecordHolder.UserId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Though_Construction_Users.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_SingleRecordHolder.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_SingleRecordHolder.TeamMemberRole</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_SingleRecordHolder.OpportunityAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_2_of_Set_Var_OppTeamToWrite</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Copy_2_of_Set_Var_OppTeamToWrite</name>
        <label>Set Var_OppTeamToWrite</label>
        <locationX>490</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>Var_OppTeamToWrite</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Var_SingleRecordHolder</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Service</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Set_Var_OppTeamToWrite</name>
        <label>Copy 1 of Set Var_OppTeamToWrite</label>
        <locationX>842</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>Var_OppTeamToWrite</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Var_SingleRecordHolder</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Look_All</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Set_Var_OppTeamToWrite</name>
        <label>Set Var_OppTeamToWrite</label>
        <locationX>138</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>Var_OppTeamToWrite</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Var_SingleRecordHolder</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Though_Construction_Users</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Hillard_Electric</name>
        <label>Is Hillard Electric?</label>
        <locationX>864</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Hillard_Electric</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Partner.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hillard Electric</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>What_Is_Team_Set_To</targetReference>
            </connector>
            <label>Yes Hillard Electric</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_Is_Team_Set_To</name>
        <label>What Is Team Set To</label>
        <locationX>534</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Get_Current_Opp_Team</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Construction</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Team__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Construction</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_Construction_Users</targetReference>
            </connector>
            <label>Construction</label>
        </rules>
        <rules>
            <name>Service</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Team__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Service</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_Service_Users</targetReference>
            </connector>
            <label>Service</label>
        </rules>
        <rules>
            <name>Everyone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Team__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Both</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_Users</targetReference>
            </connector>
            <label>Everyone</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>[Opportunity] RTF Hillard Electric Set Opp Team {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Opportunity] RTF Hillard Electric Set Opp Team</label>
    <loops>
        <name>Delete_Loop</name>
        <label>Delete Loop</label>
        <locationX>534</locationX>
        <locationY>1355</locationY>
        <collectionReference>Get_Current_Opp_Team</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Delete_Current_Items</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Opp_Team</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Look_All</name>
        <label>Look &apos;All</label>
        <locationX>754</locationX>
        <locationY>755</locationY>
        <collectionReference>Get_All_Users</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_To_Var_SingleRecordHolder_3</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Current_Opp_Team</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Service</name>
        <label>Loop Service</label>
        <locationX>402</locationX>
        <locationY>755</locationY>
        <collectionReference>Get_All_Service_Users</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_To_Var_SingleRecordHolder2</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Current_Opp_Team</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Though_Construction_Users</name>
        <label>Loop Though Construction Users</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <collectionReference>Get_All_Construction_Users</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_1_of_Copy_1_of_Assign_To_Var_SingleRecordHolder_2</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Current_Opp_Team</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Opp_Team</name>
        <label>Create Opp Team</label>
        <locationX>534</locationX>
        <locationY>1655</locationY>
        <inputReference>Var_OppTeamToWrite</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Current_Items</name>
        <label>Delete Current Items</label>
        <locationX>622</locationX>
        <locationY>1463</locationY>
        <connector>
            <targetReference>Delete_Loop</targetReference>
        </connector>
        <inputReference>Delete_Loop</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_All_Construction_Users</name>
        <label>Get All Construction Users</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Though_Construction_Users</targetReference>
        </connector>
        <filterLogic>1 AND (2 Or 3)</filterLogic>
        <filters>
            <field>Partner__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Hillard Electric</stringValue>
            </value>
        </filters>
        <filters>
            <field>Hillard_Electric_Team__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Construction</stringValue>
            </value>
        </filters>
        <filters>
            <field>Hillard_Electric_Team__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>All</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Service_Users</name>
        <label>Get All Service Users</label>
        <locationX>402</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Service</targetReference>
        </connector>
        <filterLogic>1 AND (2 Or 3)</filterLogic>
        <filters>
            <field>Partner__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Hillard Electric</stringValue>
            </value>
        </filters>
        <filters>
            <field>Hillard_Electric_Team__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Service</stringValue>
            </value>
        </filters>
        <filters>
            <field>Hillard_Electric_Team__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>All</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Users</name>
        <label>Get All Users</label>
        <locationX>754</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Look_All</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4)</filterLogic>
        <filters>
            <field>Partner__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Hillard Electric</stringValue>
            </value>
        </filters>
        <filters>
            <field>Hillard_Electric_Team__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Construction</stringValue>
            </value>
        </filters>
        <filters>
            <field>Hillard_Electric_Team__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>All</stringValue>
            </value>
        </filters>
        <filters>
            <field>Hillard_Electric_Team__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Service</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Current_Opp_Team</name>
        <label>Get Current Opp Team</label>
        <locationX>534</locationX>
        <locationY>1247</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Delete_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Partner</name>
        <label>Get Partner</label>
        <locationX>864</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Hillard_Electric</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Partner__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Partner__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>738</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Partner</targetReference>
        </connector>
        <filterFormula>AND(Isblank(Text({!$Record.Team__c})) = False, Text({!$Record__Prior.Team__c}) &lt;&gt; Text({!$Record.Team__c}))</filterFormula>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Var_OppTeamToWrite</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityTeamMember</objectType>
    </variables>
    <variables>
        <name>Var_SingleRecordHolder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityTeamMember</objectType>
    </variables>
</Flow>
