sf_project/force-app/main/default/flows/Opportunity_Create_GMS_Quote.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <interviewLabel>[Opportunity] Create GMS Quote {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Opportunity] Create GMS Quote</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_GMS_Quote</name>
        <label>Create GMS Quote</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignRecordIdToReference>Var_GMSID</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Opp_With_New_GMS_Quote</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>GMS_Quote__c</object>
    </recordCreates>
    <recordUpdates>
        <name>Update_Opp_With_New_GMS_Quote</name>
        <label>Update Opp With New GMS Quote</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>GMS_Quote__c</field>
            <value>
                <elementReference>Var_GMSID</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_GMS_Quote</targetReference>
        </connector>
        <filterFormula>And({!$Record.Partner__r.Name} = &quot;General &amp; Mechanical&quot;, isblank({!$Record.GMS_Quote__c}) = True)</filterFormula>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Var_GMSID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_Test</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
