sf_project/force-app/main/default/flows/Opportunity_Update_Parent_Start_End_Date_based_on_Max_Child_Value.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Max_End_Date_Found</name>
        <label>Max End Date Found?</label>
        <locationX>182</locationX>
        <locationY>839</locationY>
        <defaultConnectorLabel>No, All Children Blank</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Max_End_Date_from_All_Children</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Parent_With_Child_Max_End_Date</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Max_Start_Date_Found</name>
        <label>Max Start Date Found?</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Get_Max_End_Date_from_All_Children</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, All Children Blank</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Max_Start_Date_from_All_Children</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Parent_With_Child_Max_Start_Date</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>[Opportunity] Update Parent Start/End Date based on Max Child Value {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Opportunity] Update Parent Start/End Date based on Max Child Value</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Max_End_Date_from_All_Children</name>
        <label>Get Max End Date from All Children</label>
        <locationX>182</locationX>
        <locationY>731</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Max_End_Date_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Parent_Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Parent_Opportunity__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>End_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <sortField>End_Date__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Max_Start_Date_from_All_Children</name>
        <label>Get Max Start Date from All Children</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Max_Start_Date_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Parent_Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Parent_Opportunity__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Start_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <sortField>Start_Date__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Parent_With_Child_Max_End_Date</name>
        <label>Update Parent With Child Max End Date</label>
        <locationX>50</locationX>
        <locationY>947</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Parent_Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>End_Date__c</field>
            <value>
                <elementReference>Get_Max_End_Date_from_All_Children.End_Date__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Parent_With_Child_Max_Start_Date</name>
        <label>Update Parent With Child Max Start Date</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Get_Max_End_Date_from_All_Children</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Parent_Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>Get_Max_Start_Date_from_All_Children.Start_Date__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Max_Start_Date_from_All_Children</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Parent_Opportunity__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
