sf_project/force-app/main/default/flows/Opportunity_RTF_Partner_Team_Members.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Opp</name>
        <label>Create Opp</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>Flow [Opportunity] RTF Partner Team Members Ran</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_to_OpportunityTeamMembersToCreate</name>
        <label>Add to OpportunityTeamMembersToCreate</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>OpportunityTeamMembersToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewOpportunityTeamMember</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Partner_Team_Members</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_New_OpportunityTeamMember</name>
        <label>Create New OpportunityTeamMember</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>NewOpportunityTeamMember.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunityTeamMember.UserId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Partner_Team_Members.User__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunityTeamMember.TeamMemberRole</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Partner_Team_Members.Role__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunityTeamMember.OpportunityAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_OpportunityTeamMembersToCreate</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Decision_1</name>
        <label>Decision 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_admin</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Permission.Bypass_Opps_Validation_Rules</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Opp</targetReference>
            </connector>
            <label>is admin</label>
        </rules>
    </decisions>
    <description>v7 adding create opp chatter desission
V3 - Added Chatter Message
V6 - Parent Owner gets read/write access to child opps</description>
    <environments>Default</environments>
    <interviewLabel>[Opportunity] RTF Partner Team Members {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Opportunity] RTF Partner Team Members</label>
    <loops>
        <name>Loop_Through_Partner_Team_Members</name>
        <label>Loop Through Partner Team Members</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Partner_Team_Members</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_New_OpportunityTeamMember</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Opportunity_Team_Members</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Insert all new Opportunity Team Members collected from Partner Team</description>
        <name>Create_Opportunity_Team_Members</name>
        <label>Create Opportunity Team Members</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decision_1</targetReference>
        </connector>
        <inputReference>OpportunityTeamMembersToCreate</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Partner</name>
        <label>Get Partner</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Partner_Team_Members</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Partner__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Partner__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Partner_Team_Members</name>
        <label>Get Partner Team Members</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Partner_Team_Members</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Partner__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Partner.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Partner_Team__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Partner</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>NewOpportunityTeamMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityTeamMember</objectType>
    </variables>
    <variables>
        <name>OpportunityTeamMembersToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityTeamMember</objectType>
    </variables>
</Flow>
