sf_project/force-app/main/default/flows/Opportunity_Set_Date_First_In_Fields.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Has_Stage_Changed_or_Is_new_opp</name>
        <label>Has Stage Changed or Is new opp?</label>
        <locationX>1326</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Stage_has_changed</name>
            <conditionLogic>(1 OR 2) and 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.StageName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FM_Proceed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>What_Stage_was_it_set_to</targetReference>
            </connector>
            <label>Yes Stage has changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_Stage_was_it_set_to</name>
        <label>What Stage was it set to?</label>
        <locationX>842</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Assessing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Assessing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity</targetReference>
            </connector>
            <label>Assessing</label>
        </rules>
        <rules>
            <name>Qualified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Qualified</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity_Qualified</targetReference>
            </connector>
            <label>Qualified</label>
        </rules>
        <rules>
            <name>Proposal_Generation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Proposal/Audit Generation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity_Proposal_Audit</targetReference>
            </connector>
            <label>Proposal Generation</label>
        </rules>
        <rules>
            <name>Proposed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Proposed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity_Proposed</targetReference>
            </connector>
            <label>Proposed</label>
        </rules>
        <rules>
            <name>Negotiated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Negotiated</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity_Negotiated</targetReference>
            </connector>
            <label>Negotiated</label>
        </rules>
        <rules>
            <name>Closed_Lost</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity_Closed_Lost</targetReference>
            </connector>
            <label>Closed Lost</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>FM_Proceed</name>
        <dataType>Boolean</dataType>
        <expression>if(Text({!$Record.StageName}) = &quot;Assessing&quot; &amp;&amp; isnull({!$Record.Date_First_In_Assessing__c}) = True, True, 
if(Text({!$Record.StageName}) = &quot;Qualified&quot; &amp;&amp; isnull({!$Record.Date_First_In_Qualified__c}) = True, True, 
if(Text({!$Record.StageName}) = &quot;Proposal/Audit Generation&quot; &amp;&amp; isnull({!$Record.Date_First_In_Proposal_Audit__c}) = True, True,
if(Text({!$Record.StageName}) = &quot;Proposed&quot; &amp;&amp; isnull({!$Record.Date_First_In_proposed__c}) = True, True, 
if(Text({!$Record.StageName}) = &quot;Negotiated&quot; &amp;&amp; isnull({!$Record.Date_First_In_Negotiating__c}) = True, True, 
if(Text({!$Record.StageName}) = &quot;Closed Lost&quot; &amp;&amp; isnull({!$Record.Date_First_In_Closed_Lost__c}) = True, True,  False))))))</expression>
    </formulas>
    <formulas>
        <name>FM_Today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>[Opportunity] Set Date First In Fields {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Opportunity] Set Date First In Fields</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Opportunity</name>
        <label>Update Opportunity</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>Date_First_In_Assessing__c</field>
            <value>
                <elementReference>FM_Today</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_Closed_Lost</name>
        <label>Update Opportunity Closed Lost</label>
        <locationX>1370</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>Date_First_In_Closed_Lost__c</field>
            <value>
                <elementReference>FM_Today</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_Negotiated</name>
        <label>Update Opportunity Negotiated</label>
        <locationX>1106</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>Date_First_In_Negotiating__c</field>
            <value>
                <elementReference>FM_Today</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_Proposal_Audit</name>
        <label>Update Opportunity Proposal Audit</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>Date_First_In_Proposal_Audit__c</field>
            <value>
                <elementReference>FM_Today</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_Proposed</name>
        <label>Update Opportunity Proposed</label>
        <locationX>842</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>Date_First_In_Proposed__c</field>
            <value>
                <elementReference>FM_Today</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_Qualified</name>
        <label>Update Opportunity Qualified</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>Date_First_In_Qualified__c</field>
            <value>
                <elementReference>FM_Today</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1200</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Has_Stage_Changed_or_Is_new_opp</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
