sf_project/force-app/main/default/flows/Opportunity_Send_Handoff_Emails_after_Closed_Won_for_National_Opps.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Closed_Won_Next_Steps</name>
        <label>Closed Won Next Steps</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <actionName>Opportunity.Opportunity_National_Opp_Closed_Won_Next_Steps</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Opportunity_National_Opp_Closed_Won_Next_Steps</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Key_Account_Won_email</name>
        <label>Send Key Account Won Email</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <actionName>Opportunity.Opportunity_National_Opp_Key_Account_Closed_Won_Next_Steps</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Opportunity_National_Opp_Key_Account_Closed_Won_Next_Steps</nameSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>National_Estimator_Team_Key_Account_Status</name>
        <label>National Estimator Team &amp; Key Account Status?</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Key_Account_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Estimation_Team__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Crete National</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Key_Account__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Key_Account_Won_email</targetReference>
            </connector>
            <label>Key Account = True</label>
        </rules>
        <rules>
            <name>Key_Account_False</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Estimation_Team__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Crete National</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Key_Account__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Closed_Won_Next_Steps</targetReference>
            </connector>
            <label>Key Account = False</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>[Opportunity] Send Handoff Emails after Closed Won for National Opps {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Opportunity] Send Handoff Emails after Closed Won for National Opps</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>National_Estimator_Team_Key_Account_Status</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
