sf_project/force-app/main/default/flows/Opportunity_Create_Child_Opps_for_Prostar_Users.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Gets a List of all Trades currently selected on the Opportunity the Screen Flow was triggered from.</description>
        <name>Get_Selected_Trades</name>
        <label>Get Selected Trades</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <actionName>GetOpportunityTradeAsChoiceSetAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Loop_Through_trades</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>OpportunityId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GetOpportunityTradeAsChoiceSetAction</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>All_Trades_in_an_opportunity</assignToReference>
            <name>selectedTrades</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Child_Opp_Name</name>
        <label>Assign Child Opp Name</label>
        <locationX>138</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>Createnewchildoppname</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_trades</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Create_Child_Opp</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>How_many_trades</name>
        <label>How many trades?</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>No trade selected</defaultConnectorLabel>
        <rules>
            <name>Just_one</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Trade__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>;</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Selected_Trades</targetReference>
            </connector>
            <label>More than 1</label>
        </rules>
        <rules>
            <name>X1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Trade__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Child_Opp</targetReference>
            </connector>
            <label>1</label>
        </rules>
    </decisions>
    <description>v5 adding in setting the Sales Type 
v4 adding Proposal Due Date 
v3 should not trigger on non cross sells 
-v2 added amount due to spring 2024 update

added apex action to parse trade picklist</description>
    <environments>Default</environments>
    <formulas>
        <name>NewOppName</name>
        <dataType>String</dataType>
        <expression>{!$Record.Name}&amp; &quot; - &quot; &amp;{!Createnewchildoppname}</expression>
    </formulas>
    <formulas>
        <name>OppNameSingleTrade</name>
        <dataType>String</dataType>
        <expression>{!$Record.Name}&amp;&quot; - &quot;&amp;{!SingleTradeOnOpp}</expression>
    </formulas>
    <formulas>
        <name>TotalChildren</name>
        <dataType>Number</dataType>
        <expression>PICKLISTCOUNT({!$Record.Trade__c})</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>[Opportunity] Create Child Opps for Prostar Users {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Opportunity] Create Child Opps for Prostar Users on Parent Create</label>
    <loops>
        <name>Loop_Through_trades</name>
        <label>Loop Through trades</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <collectionReference>All_Trades_in_an_opportunity</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Child_Opp_Name</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Total_Children</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Copy_1_of_Create_Child_Opp</name>
        <label>Copy 1 of Create Child Opp</label>
        <locationX>138</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Loop_Through_trades</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bid_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>$Record.CloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estimation_Team__c</field>
            <value>
                <stringValue>Crete National</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Maintenance_Length__c</field>
            <value>
                <elementReference>$Record.Maintenance_Length__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>NewOppName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Type__c</field>
            <value>
                <elementReference>$Record.Opportunity_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Owner.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent_Opportunity__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Probability_Percentage__c</field>
            <value>
                <elementReference>$Record.Probability_Percentage__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0124x0000003UuqAAE</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Qualified</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Trade__c</field>
            <value>
                <elementReference>Loop_Through_trades</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Child_Opp</name>
        <label>Create Child Opp</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Update_Total_Chilren</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>$Record.Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bid_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>$Record.CloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estimation_Team__c</field>
            <value>
                <stringValue>Crete National</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Maintenance_Length__c</field>
            <value>
                <elementReference>$Record.Maintenance_Length__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>OppNameSingleTrade</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Type__c</field>
            <value>
                <elementReference>$Record.Opportunity_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Owner.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent_Opportunity__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Probability_Percentage__c</field>
            <value>
                <elementReference>$Record.Probability_Percentage__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0124x0000003UuqAAE</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Qualified</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Trade__c</field>
            <value>
                <elementReference>$Record.Trade__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Update_Total_Children</name>
        <label>Update Total Children</label>
        <locationX>50</locationX>
        <locationY>947</locationY>
        <inputAssignments>
            <field>Sales_Type__c</field>
            <value>
                <stringValue>Cross-Sell</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Children__c</field>
            <value>
                <elementReference>TotalChildren</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Total_Chilren</name>
        <label>Update Total Chileren</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>Sales_Type__c</field>
            <value>
                <stringValue>Cross-Sell</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Children__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>How_many_trades</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Partner__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>a0vUw0000036KK5IAM</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0124x000000AoFuAAK</stringValue>
            </value>
        </filters>
        <filters>
            <field>Sales_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cross-Sell</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>All_Trades_in_an_opportunity</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Createnewchildoppname</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>SingleTradeOnOpp</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Trade__c</elementReference>
        </value>
    </variables>
</Flow>
