sf_project/force-app/main/default/flows/Opportunity_Proposal_Audit_Needed_Email_Alerts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Audit_Needed_for_LED_Email</name>
        <label>Audit Needed for LED Email</label>
        <locationX>1018</locationX>
        <locationY>755</locationY>
        <actionName>Opportunity.Opportunity_LED_Audit</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Opportunity_LED_Audit</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Energy_Service_Opp_Type_Proposal</name>
        <label>Energy Service Opp Type Proposal</label>
        <locationX>754</locationX>
        <locationY>539</locationY>
        <actionName>Opportunity.Opportunity_All_Energy_Services_Proposal</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Opportunity_All_Energy_Services_Proposal</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>ES_ERP_Alert</name>
        <label>ES-ERP Alert</label>
        <locationX>490</locationX>
        <locationY>539</locationY>
        <actionName>Opportunity.Opportunity_ES_ERP_proposal</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Opportunity_ES_ERP_proposal</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>EV_Charging_Proposal</name>
        <label>EV Charging Proposal</label>
        <locationX>2514</locationX>
        <locationY>539</locationY>
        <actionName>Opportunity.Opportunity_EV_Charging_Proposal</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Opportunity_EV_Charging_Proposal</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>HVAC_Audit_Email</name>
        <label>HVAC Audit Email</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <actionName>Opportunity.Opportunity_HVAC_Project_Audit</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Opportunity_HVAC_Project_Audit</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>HVAC_IoT_Proposal</name>
        <label>HVAC/IoT Proposal</label>
        <locationX>2250</locationX>
        <locationY>539</locationY>
        <actionName>Opportunity.Opportunity_HVAC_IoT_Proposal</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Opportunity_HVAC_IoT_Proposal</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>HVAC_PM_Proposal</name>
        <label>HVAC PM Proposal</label>
        <locationX>1722</locationX>
        <locationY>539</locationY>
        <actionName>Opportunity.Opportunity_HVAC_PM_Proposal</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Opportunity_HVAC_PM_Proposal</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>HVAC_Project_Alert</name>
        <label>HVAC Project Alert</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <actionName>Opportunity.Opportunity_HVAC_Project_Proposal</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Copy_1_of_Audit</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <stringValue>{!$Record.Id}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Opportunity_HVAC_Project_Proposal</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>LED_Proposal_Alert</name>
        <label>LED Proposal Alert</label>
        <locationX>1150</locationX>
        <locationY>539</locationY>
        <actionName>Opportunity.Opportunity_LED_Proposal</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Audit</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Opportunity_LED_Proposal</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Other_or_Multiple_Trade_Proposal</name>
        <label>&quot;Other&quot; or Multiple Trade Proposal</label>
        <locationX>2778</locationX>
        <locationY>539</locationY>
        <actionName>Opportunity.Opportunity_Other_Trade_Proposals</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Opportunity_Other_Trade_Proposals</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Partner_Estimator_Email_Alert</name>
        <label>Partner Estimator Email Alert</label>
        <locationX>3042</locationX>
        <locationY>539</locationY>
        <actionName>Opportunity.Opportunity_Partner_Estimator_Proposal_Audit</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Opportunity_Partner_Estimator_Proposal_Audit</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Renewables_Proposal</name>
        <label>Renewables Proposal</label>
        <locationX>1458</locationX>
        <locationY>539</locationY>
        <actionName>Opportunity.Opportunity_Renewables_Proposal</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Opportunity_Renewables_Proposal</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Service_Deal_Proposal</name>
        <label>Service Deal Proposal</label>
        <locationX>1986</locationX>
        <locationY>539</locationY>
        <actionName>Opportunity.Opportunity_Service_Deal_Proposal</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Opportunity_Service_Deal_Proposal</nameSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Audit</name>
        <label>Audit?</label>
        <locationX>1150</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Audit_Needed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Audit_Needed_for_LED_Email</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Audit</name>
        <label>Audit?</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Audit_Needed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>HVAC_Audit_Email</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Estimator_Team</name>
        <label>Estimator Team</label>
        <locationX>2481</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>No Team Identified</defaultConnectorLabel>
        <rules>
            <name>Crete_National</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Estimation_Team__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Crete National</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Trade</targetReference>
            </connector>
            <label>Crete National</label>
        </rules>
        <rules>
            <name>Partner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Estimation_Team__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Partner</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Has_Estimator_Email</targetReference>
            </connector>
            <label>Partner</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Estimator_Email</name>
        <label>Has Estimator Email?</label>
        <locationX>3174</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Partner_Estimator_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Partner_Estimator_Email_Alert</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Trade</name>
        <label>Trade / Type</label>
        <locationX>1480</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Other_or_Multiple_Trade_Proposal</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>HVAC_Project</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Project</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Trade__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HVAC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>HVAC_Project_Alert</targetReference>
            </connector>
            <label>HVAC Project</label>
        </rules>
        <rules>
            <name>ES_ERP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Trade__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ES-ERP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ES_ERP_Alert</targetReference>
            </connector>
            <label>ES-ERP</label>
        </rules>
        <rules>
            <name>Energy_Service</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Energy Service</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Energy_Service_Opp_Type_Proposal</targetReference>
            </connector>
            <label>Energy Service</label>
        </rules>
        <rules>
            <name>LED</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Trade__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LED</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LED_Proposal_Alert</targetReference>
            </connector>
            <label>LED</label>
        </rules>
        <rules>
            <name>Renewables</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Trade__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Renewables</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Renewables_Proposal</targetReference>
            </connector>
            <label>Renewables</label>
        </rules>
        <rules>
            <name>HVAC_PM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Trade__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HVAC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Preventative Maintenance</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>HVAC_PM_Proposal</targetReference>
            </connector>
            <label>HVAC PM</label>
        </rules>
        <rules>
            <name>Service_Deal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Trade__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Service deal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Service_Deal_Proposal</targetReference>
            </connector>
            <label>Service Deal</label>
        </rules>
        <rules>
            <name>HVAC_IoT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Trade__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HVAC/IoT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>HVAC_IoT_Proposal</targetReference>
            </connector>
            <label>HVAC/IoT</label>
        </rules>
        <rules>
            <name>EV_Charging</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Trade__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EV Charger</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EV_Charging_Proposal</targetReference>
            </connector>
            <label>EV Charging</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>[Opportunity] Proposal/Audit Needed Email Alerts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Opportunity] Proposal/Audit Needed Email Alerts</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>2355</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Estimator_Team</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Proposal/Audit Generation</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
