sf_project/force-app/main/default/flows/Partner_Send_Weekly_email.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Partner_Email</name>
        <label>Send Partner Email</label>
        <locationX>264</locationX>
        <locationY>684</locationY>
        <actionName>Partner__c.Partner_Weekly_Sales_Update</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>For_Each_Partner</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>For_Each_Partner.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Partner__c.Partner_Weekly_Sales_Update</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>See_email_for_testing</name>
        <label>See email for testing</label>
        <locationX>264</locationX>
        <locationY>576</locationY>
        <assignmentItems>
            <assignToReference>testvar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_Each_Partner.President_Principal__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Partner_Email</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>get_Laura</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>get Laura</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <assignNextValueToReference>currentItem_get_Laura</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Partners</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_get_Laura.President_Principal_Email__c</leftValueReference>
            <operator>StartsWith</operator>
            <rightValue>
                <stringValue>005Uw000007e7oL</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>For_Each_Partner</targetReference>
        </connector>
    </collectionProcessors>
    <description>test do not use this version
v3 Not include April on this email</description>
    <environments>Default</environments>
    <interviewLabel>[Partner] Send Weekly email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Partner] Send Weekly email</label>
    <loops>
        <name>For_Each_Partner</name>
        <label>For Each Partner</label>
        <locationX>176</locationX>
        <locationY>468</locationY>
        <collectionReference>get_Laura</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>See_email_for_testing</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Partners</name>
        <label>Get Partners</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Laura</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>President_Principal_Email__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>President_Principal__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>0054x000007TvKXAA0</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Partner__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Partners</targetReference>
        </connector>
        <schedule>
            <frequency>Weekly</frequency>
            <startDate>2025-04-07</startDate>
            <startTime>00:15:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>currentItem_get_Laura</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Partner__c</objectType>
    </variables>
    <variables>
        <name>testvar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
