sf_project/force-app/main/default/flows/PMT_Task_RTF_New_Or_Changed.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Default_Set_Var_owner</name>
        <label>Default Set Var_owner</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>Var_Owner</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Owner__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Stage_Closed_and_Changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Default_Var_DateClosed</name>
        <label>Default Var DateClosed</label>
        <locationX>314</locationX>
        <locationY>731</locationY>
        <assignmentItems>
            <assignToReference>Var_DateClosed</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Date_Closed__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Any_Updates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Var_DateClosed</name>
        <label>Set Var_DateClosed</label>
        <locationX>50</locationX>
        <locationY>731</locationY>
        <assignmentItems>
            <assignToReference>Var_DateClosed</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Any_Updates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Var_owner</name>
        <label>Set Var_owner</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>Var_Owner</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Stage_Closed_and_Changed</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Any_Updates</name>
        <label>Any Updates</label>
        <locationX>182</locationX>
        <locationY>923</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Updates</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Var_Owner</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Owner__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var_DateClosed</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Date_Closed__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Task</targetReference>
            </connector>
            <label>Yes Updates</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Owner_Blank</name>
        <label>Is Owner Blank?</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Default_Set_Var_owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Owner_Is_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner__r.Id</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Var_owner</targetReference>
            </connector>
            <label>Yes Owner Is Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Stage_Closed_and_Changed</name>
        <label>Is Stage Closed and Changed?</label>
        <locationX>182</locationX>
        <locationY>623</locationY>
        <defaultConnector>
            <targetReference>Default_Var_DateClosed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Changed_and_Closed</name>
            <conditionLogic>(1 OR 3) AND 2</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Done</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Stage__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Var_DateClosed</targetReference>
            </connector>
            <label>Yes Changed and Done</label>
        </rules>
    </decisions>
    <description>v4 fixing auto close
V3 fixing null errors 
V2- Adding Closed Date to flow</description>
    <environments>Default</environments>
    <interviewLabel>[PMT Task] RTF New Or Changed {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[PMT Task] RTF New Or Changed</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Task</name>
        <label>Update Task</label>
        <locationX>50</locationX>
        <locationY>1031</locationY>
        <inputAssignments>
            <field>Date_Closed__c</field>
            <value>
                <elementReference>Var_DateClosed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Owner__c</field>
            <value>
                <elementReference>Var_Owner</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Owner_Blank</targetReference>
        </connector>
        <object>PMT_Task__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Var_DateClosed</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_Owner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
