sf_project/force-app/main/default/flows/PMT_Task_SF_Create_New_Task_End_User.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Notify_Ambrose</name>
        <label>Notify Ambrose</label>
        <locationX>446</locationX>
        <locationY>866</locationY>
        <actionName>PMT_Task__c.PMT_Task_Notify_Of_New_Task</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Var_NewTask</elementReference>
            </value>
        </inputParameters>
        <nameSegment>PMT_Task__c.PMT_Task_Notify_Of_New_Task</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Copy_2_of_Var_owner_To_Ambrose</name>
        <label>Copy 2 of Var_owner To Ambrose</label>
        <locationX>842</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>Var_Owner</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>005Uw000006LQX7IAO</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Var_owner_To_Ambrose</name>
        <label>Var_owner To Ambrose</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>Var_Owner</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>005Uw000006LQX7IAO</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Var_owner_To_Kathleen</name>
        <label>Var_owner To Kathleen</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>Var_Owner</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>005Uw000007vjKXIAY</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Var_owner_To_Kayla</name>
        <label>Var_owner To Kayla</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>Var_Owner</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>005Uw000007gKJFIA2</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Task</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Ambrose</name>
        <choiceText>Ambrose</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Ambrose </stringValue>
        </value>
    </choices>
    <choices>
        <name>Kathleen_Central_and_West</name>
        <choiceText>Kathleen (Central and West)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Kathleen (Central and West)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Kayla_East</name>
        <choiceText>Kayla (East)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Kayla (East)</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Set_Assign_To_Var</name>
        <label>Set Assign To Var</label>
        <locationX>446</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Copy_2_of_Var_owner_To_Ambrose</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Set_To_Ambrose</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Assign_To</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Ambrose</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Var_owner_To_Ambrose</targetReference>
            </connector>
            <label>Set To Ambrose</label>
        </rules>
        <rules>
            <name>Set_To_Kayla</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Assign_To</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Kayla_East</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Var_owner_To_Kayla</targetReference>
            </connector>
            <label>Set To Kayla</label>
        </rules>
        <rules>
            <name>Set_to_Kathleen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Assign_To</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Kathleen_Central_and_West</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Var_owner_To_Kathleen</targetReference>
            </connector>
            <label>Set to Kathleen</label>
        </rules>
    </decisions>
    <description>added owner checkboxes for Hannah Coones</description>
    <dynamicChoiceSets>
        <name>RCS_Epics</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>1 AND 2 AND (3 Or 4 Or 5)</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Wont Do</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Done</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New Feature Request</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Training</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Report An Error</stringValue>
            </value>
        </filters>
        <object>PMT_Epic__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RCS_Users</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>FM_CurrentUserName</name>
        <dataType>String</dataType>
        <expression>{!$User.FirstName} + &apos; &apos; + {!$User.LastName}</expression>
    </formulas>
    <formulas>
        <name>FM_Today</name>
        <dataType>Date</dataType>
        <expression>Today()</expression>
    </formulas>
    <formulas>
        <name>FM_Tomorrow</name>
        <dataType>Date</dataType>
        <expression>Today() +1</expression>
    </formulas>
    <interviewLabel>[PMT Task] SF Create New Task End User {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[PMT Task] SF Create New Task End User</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Task</name>
        <label>Create Task</label>
        <locationX>446</locationX>
        <locationY>542</locationY>
        <assignRecordIdToReference>Var_NewTask</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Newly_Created_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Task_Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Owner__c</field>
            <value>
                <elementReference>Var_Owner</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PMT_Epic__c</field>
            <value>
                <elementReference>Epic</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Requestor__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sprint_Week__c</field>
            <value>
                <stringValue>Unsorted</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>Needs Approval/Ranking</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>FM_Today</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Task_Notes__c</field>
            <value>
                <elementReference>Task_Details</elementReference>
            </value>
        </inputAssignments>
        <object>PMT_Task__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Newly_Created_Record</name>
        <label>Get Newly Created Record</label>
        <locationX>446</locationX>
        <locationY>650</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Confirmation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_NewTask</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PMT_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Confirmation</name>
        <label>Confirmation</label>
        <locationX>446</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Notify_Ambrose</targetReference>
        </connector>
        <fields>
            <name>NewTaskCreated</name>
            <fieldText>&lt;p&gt;New Task &lt;a href=&quot;https://creteunited.lightning.force.com/{!Var_NewTask}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!Get_Newly_Created_Record.Name}&lt;/a&gt; has been created &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Create_Another_Task</name>
            <dataType>Boolean</dataType>
            <fieldText>Create Another Task</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>New_PMT_Task_Page_1</name>
        <label>New PMT Task Page 1</label>
        <locationX>446</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Assign_To_Var</targetReference>
        </connector>
        <fields>
            <name>Epic</name>
            <choiceReferences>RCS_Epics</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Epic</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Task_Subject</name>
            <dataType>String</dataType>
            <fieldText>Task Subject</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Task_Details</name>
            <fieldText>Task Details</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Assign_To</name>
            <choiceReferences>Ambrose</choiceReferences>
            <choiceReferences>Kayla_East</choiceReferences>
            <choiceReferences>Kathleen_Central_and_West</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Ambrose</defaultSelectedChoiceReference>
            <fieldText>Assign To:</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>New_PMT_Task_Page_1</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Var_NewTask</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_Owner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$User.Id</elementReference>
        </value>
    </variables>
    <variables>
        <name>Var_UserPartner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$User.Partner__c</elementReference>
        </value>
    </variables>
</Flow>
