sf_project/force-app/main/default/flows/Proposal_Revision_RTF_On_Create.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_LED_Email_Alert</name>
        <label>Send LED Email Alert</label>
        <locationX>50</locationX>
        <locationY>1547</locationY>
        <actionName>Proposal_Revision__c.Proposal_Revision_New_LED</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Proposal_Revision__c.Proposal_Revision_New_LED</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Assigned_To</name>
        <label>Assign Assigned To</label>
        <locationX>50</locationX>
        <locationY>1139</locationY>
        <assignmentItems>
            <assignToReference>Var_AssignedTo</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Proposal_Generation__r.Assigned_to__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Triggering_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_BM_Rep_Assigned</name>
        <label>Assign BM Rep Assigned</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>Var_BDRep</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account__r.BD_Rep__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IS_PM_Assigned</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Values</name>
        <label>Assign New Values</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignmentItems>
            <assignToReference>Var_Account</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Proposal_Revision_Opportunity__r.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Is_Active_BD_Rep_assigned_to_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_PM_From_PG</name>
        <label>Assign PM From PG</label>
        <locationX>50</locationX>
        <locationY>839</locationY>
        <assignmentItems>
            <assignToReference>Var_ProjectManager</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Proposal_Generation__r.Assigned_PM__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Prop_Gen_Blank</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Break_Out_By_Type_Of_Deal</name>
        <label>Break Out By Type Of Deal</label>
        <locationX>182</locationX>
        <locationY>1439</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IS_LED</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type_of_Deal__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LED</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type_of_Deal__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LED-NC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type_of_Deal__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LED/PM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_LED_Email_Alert</targetReference>
            </connector>
            <label>IS LED</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Is_Active_BD_Rep_assigned_to_Account</name>
        <label>Check - Is Active BD Rep assigned to Account</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>IS_PM_Assigned</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PM_Is_Not_Empty_And_Is_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account__r.BD_Rep__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account__r.BD_Rep__r.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_BM_Rep_Assigned</targetReference>
            </connector>
            <label>PM Is Not Empty And Is Active</label>
        </rules>
    </decisions>
    <decisions>
        <name>IS_PM_Assigned</name>
        <label>IS PM  Assigned</label>
        <locationX>182</locationX>
        <locationY>731</locationY>
        <defaultConnector>
            <targetReference>Is_Prop_Gen_Blank</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Assigned_to_PM__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_PM_From_PG</targetReference>
            </connector>
            <label>NO</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Prop_Gen_Blank</name>
        <label>Is Prop Gen Blank</label>
        <locationX>182</locationX>
        <locationY>1031</locationY>
        <defaultConnector>
            <targetReference>Update_Triggering_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Assigned_To__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Assigned_To</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>[Proposal Revision] RTF On Create {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Proposal Revision] RTF On Create</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Triggering_Record</name>
        <label>Update Triggering Record</label>
        <locationX>182</locationX>
        <locationY>1331</locationY>
        <connector>
            <targetReference>Break_Out_By_Type_Of_Deal</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Var_Account</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Assigned_To__c</field>
            <value>
                <elementReference>Var_AssignedTo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Assigned_to_PM__c</field>
            <value>
                <elementReference>Var_ProjectManager</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BD_Rep__c</field>
            <value>
                <elementReference>Var_BDRep</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_New_Values</targetReference>
        </connector>
        <object>Proposal_Revision__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>Var_Account</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Account__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>Var_AssignedTo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Assigned_To__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>Var_BDRep</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.BD_Rep__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>Var_ProjectManager</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Assigned_to_PM__c</elementReference>
        </value>
    </variables>
</Flow>
