sf_project/force-app/main/default/flows/Proposal_Generation_RTF_On_Create.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_CompanyName</name>
        <label>Set CompanyName</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>Var_Company</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Proposal_Opportunity__r.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Type</name>
        <label>Set Type</label>
        <locationX>182</locationX>
        <locationY>623</locationY>
        <assignmentItems>
            <assignToReference>Var_TypeOfDeal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Proposal_Opportunity__r.Type_Of_Deal__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Does_Site_Have_an_Address</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Does_Site_Have_an_Address</name>
        <label>Does Site Have an Address</label>
        <locationX>182</locationX>
        <locationY>731</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Address_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.site</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <label>Yes Address found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Account_Or_Site_Missing</name>
        <label>Is Account Or Site Missing</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Set_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Account_Or_Site_Is_Missing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Company__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_CompanyName</targetReference>
            </connector>
            <label>Yes Account Or Site Is Missing</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>[Proposal Generation] RTF On Create {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Proposal Generation] RTF On Create</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Account_Or_Site_Missing</targetReference>
        </connector>
        <object>Proposal_Generation__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>InvalidDraft</status>
    <variables>
        <name>Var_Company</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Company__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>Var_TypeOfDeal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Type_of_Deal__c</elementReference>
        </value>
    </variables>
</Flow>
