sf_project/force-app/main/default/flows/Sales_Goal_Management_Name_the_Record_on_Create.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Goal_Type</name>
        <label>Goal Type?</label>
        <locationX>2294</locationX>
        <locationY>623</locationY>
        <defaultConnector>
            <targetReference>Name_the_User_Goal_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>User Based</defaultConnectorLabel>
        <rules>
            <name>Partner_Based</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Partner Company</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Name_the_Partner_Goal_Record</targetReference>
            </connector>
            <label>Partner Based</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Start_and_End_Date</name>
        <label>Update Start and End Date</label>
        <locationX>2294</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Goal_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>January</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Goal_Period__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>January</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Start_End_Dates</targetReference>
            </connector>
            <label>January</label>
        </rules>
        <rules>
            <name>February</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Goal_Period__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>February</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Add_Start_End_Dates</targetReference>
            </connector>
            <label>February</label>
        </rules>
        <rules>
            <name>March</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Goal_Period__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>March</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_Add_Start_End_Dates</targetReference>
            </connector>
            <label>March</label>
        </rules>
        <rules>
            <name>April</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Goal_Period__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>April</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Add_Start_End_Dates</targetReference>
            </connector>
            <label>April</label>
        </rules>
        <rules>
            <name>May</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Goal_Period__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>May</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_4_of_Add_Start_End_Dates</targetReference>
            </connector>
            <label>May</label>
        </rules>
        <rules>
            <name>June</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Goal_Period__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>June</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_5_of_Add_Start_End_Dates</targetReference>
            </connector>
            <label>June</label>
        </rules>
        <rules>
            <name>July</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Goal_Period__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>July</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_6_of_Add_Start_End_Dates</targetReference>
            </connector>
            <label>July</label>
        </rules>
        <rules>
            <name>August</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Goal_Period__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>August</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_7_of_Add_Start_End_Dates</targetReference>
            </connector>
            <label>August</label>
        </rules>
        <rules>
            <name>September</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Goal_Period__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>September</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_8_of_Add_Start_End_Dates</targetReference>
            </connector>
            <label>September</label>
        </rules>
        <rules>
            <name>October</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Goal_Period__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>October</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_9_of_Add_Start_End_Dates</targetReference>
            </connector>
            <label>October</label>
        </rules>
        <rules>
            <name>November</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Goal_Period__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>November</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_10_of_Add_Start_End_Dates</targetReference>
            </connector>
            <label>November</label>
        </rules>
        <rules>
            <name>December</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Goal_Period__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>December</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_11_of_Add_Start_End_Dates</targetReference>
            </connector>
            <label>December</label>
        </rules>
        <rules>
            <name>Q1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Goal_Period__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Q1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_12_of_Add_Start_End_Dates</targetReference>
            </connector>
            <label>Q1</label>
        </rules>
        <rules>
            <name>Q2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Goal_Period__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Q2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_13_of_Add_Start_End_Dates</targetReference>
            </connector>
            <label>Q2</label>
        </rules>
        <rules>
            <name>Q3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Goal_Period__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Q3</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_14_of_Add_Start_End_Dates</targetReference>
            </connector>
            <label>Q3</label>
        </rules>
        <rules>
            <name>Q4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Goal_Period__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Q4</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_15_of_Add_Start_End_Dates</targetReference>
            </connector>
            <label>Q4</label>
        </rules>
        <rules>
            <name>Annual</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Goal_Period__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Annual</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_16_of_Add_Start_End_Dates</targetReference>
            </connector>
            <label>Annual</label>
        </rules>
    </decisions>
    <description>shortened Name 
Automatically names the record.  
For user-related goals: ““{!$Record.Goal_Category__c} Goal for {!$Record.Sales_Team_Member__r.FirstName}  {!$Record.Sales_Team_Member__r.LastName}: {!$Record.Goal_Year__c} ({!$Record.Goal_Period__c})”
For partner goals: “{!$Record.Goal_Category__c} Goal for {!$Record.Partner__r.Name}: {!$Record.Goal_Year__c}”</description>
    <environments>Default</environments>
    <formulas>
        <name>AprilEnd</name>
        <dataType>Date</dataType>
        <expression>DATE(VALUE({!$Record.Goal_Year__c}), 4, 30)</expression>
    </formulas>
    <formulas>
        <name>AprilStart</name>
        <dataType>Date</dataType>
        <expression>DATE(VALUE({!$Record.Goal_Year__c}), 4, 1)</expression>
    </formulas>
    <formulas>
        <name>AugustEnd</name>
        <dataType>Date</dataType>
        <expression>DATE(VALUE({!$Record.Goal_Year__c}), 8, 31)</expression>
    </formulas>
    <formulas>
        <name>AugustStart</name>
        <dataType>Date</dataType>
        <expression>DATE(VALUE({!$Record.Goal_Year__c}), 8, 1)</expression>
    </formulas>
    <formulas>
        <name>DecemberEnd</name>
        <dataType>Date</dataType>
        <expression>DATE(VALUE({!$Record.Goal_Year__c}), 12, 31)</expression>
    </formulas>
    <formulas>
        <name>DecemberStart</name>
        <dataType>Date</dataType>
        <expression>DATE(VALUE({!$Record.Goal_Year__c}), 12, 1)</expression>
    </formulas>
    <formulas>
        <name>FebEnd</name>
        <dataType>Date</dataType>
        <expression>IF(OR(MOD(VALUE({!$Record.Goal_Year__c}), 400) = 0,AND(MOD(VALUE({!$Record.Goal_Year__c}), 4) = 0, MOD(VALUE({!$Record.Goal_Year__c}), 100) != 0)), DATE(VALUE({!$Record.Goal_Year__c}), 2, 29), DATE(VALUE({!$Record.Goal_Year__c}), 2, 28))</expression>
    </formulas>
    <formulas>
        <name>FebStart</name>
        <dataType>Date</dataType>
        <expression>DATE(VALUE({!$Record.Goal_Year__c}), 2, 1)</expression>
    </formulas>
    <formulas>
        <name>FM_ShortName</name>
        <dataType>String</dataType>
        <expression>left(text({!$Record.Goal_Category__c}) + &apos; Goal for &apos; + {!$Record.Partner__r.Short_Partner_Name__c} +&apos;:&apos;  +({!$Record.Goal_Year__c} )+ Text({!$Record.Goal_Period__c}), 80)</expression>
    </formulas>
    <formulas>
        <name>FM_ShortNameUser</name>
        <dataType>String</dataType>
        <expression>left(Text({!$Record.Goal_Category__c}) + &apos; for &apos; +{!$Record.Sales_Team_Member__r.FirstName}+ &apos; &apos; +  {!$Record.Sales_Team_Member__r.LastName} + &apos;:&apos; + {!$Record.Goal_Year__c} +  Text(({!$Record.Goal_Period__c})), 80)</expression>
    </formulas>
    <formulas>
        <name>JanuaryEnd</name>
        <dataType>Date</dataType>
        <expression>DATE(VALUE({!$Record.Goal_Year__c}), 1, 31)</expression>
    </formulas>
    <formulas>
        <name>JanuaryStart</name>
        <dataType>Date</dataType>
        <expression>DATE(VALUE({!$Record.Goal_Year__c}), 1, 1)</expression>
    </formulas>
    <formulas>
        <name>JulyEnd</name>
        <dataType>Date</dataType>
        <expression>DATE(VALUE({!$Record.Goal_Year__c}), 7, 31)</expression>
    </formulas>
    <formulas>
        <name>JulyStart</name>
        <dataType>Date</dataType>
        <expression>DATE(VALUE({!$Record.Goal_Year__c}), 7, 1)</expression>
    </formulas>
    <formulas>
        <name>JuneEnd</name>
        <dataType>Date</dataType>
        <expression>DATE(VALUE({!$Record.Goal_Year__c}), 6, 30)</expression>
    </formulas>
    <formulas>
        <name>JuneStart</name>
        <dataType>Date</dataType>
        <expression>DATE(VALUE({!$Record.Goal_Year__c}), 6, 1)</expression>
    </formulas>
    <formulas>
        <name>MarchEnd</name>
        <dataType>Date</dataType>
        <expression>DATE(VALUE({!$Record.Goal_Year__c}), 3, 31)</expression>
    </formulas>
    <formulas>
        <name>MarchStart</name>
        <dataType>Date</dataType>
        <expression>DATE(VALUE({!$Record.Goal_Year__c}), 3, 1)</expression>
    </formulas>
    <formulas>
        <name>MayEnd</name>
        <dataType>Date</dataType>
        <expression>DATE(VALUE({!$Record.Goal_Year__c}), 5, 31)</expression>
    </formulas>
    <formulas>
        <name>MayStart</name>
        <dataType>Date</dataType>
        <expression>DATE(VALUE({!$Record.Goal_Year__c}), 5, 1)</expression>
    </formulas>
    <formulas>
        <name>NovemberEnd</name>
        <dataType>Date</dataType>
        <expression>DATE(VALUE({!$Record.Goal_Year__c}), 11, 30)</expression>
    </formulas>
    <formulas>
        <name>NovemberStart</name>
        <dataType>Date</dataType>
        <expression>DATE(VALUE({!$Record.Goal_Year__c}), 11, 1)</expression>
    </formulas>
    <formulas>
        <name>OctoberEnd</name>
        <dataType>Date</dataType>
        <expression>DATE(VALUE({!$Record.Goal_Year__c}), 10, 31)</expression>
    </formulas>
    <formulas>
        <name>OctoberStart</name>
        <dataType>Date</dataType>
        <expression>DATE(VALUE({!$Record.Goal_Year__c}), 10, 1)</expression>
    </formulas>
    <formulas>
        <name>SeptemberEnd</name>
        <dataType>Date</dataType>
        <expression>DATE(VALUE({!$Record.Goal_Year__c}), 9, 30)</expression>
    </formulas>
    <formulas>
        <name>SeptemberStart</name>
        <dataType>Date</dataType>
        <expression>DATE(VALUE({!$Record.Goal_Year__c}), 9, 1)</expression>
    </formulas>
    <interviewLabel>[Sales Goal Management] Name the Record on Create {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Sales Goal Management] Name the Record on Create</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Add_Start_End_Dates</name>
        <label>Add Start / End Dates</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Goal_Type</targetReference>
        </connector>
        <inputAssignments>
            <field>End_Date_from_Flow__c</field>
            <value>
                <elementReference>JanuaryEnd</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date_from_Flow__c</field>
            <value>
                <elementReference>JanuaryStart</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_10_of_Add_Start_End_Dates</name>
        <label>Copy 10 of Add Start / End Dates</label>
        <locationX>2690</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Goal_Type</targetReference>
        </connector>
        <inputAssignments>
            <field>End_Date_from_Flow__c</field>
            <value>
                <elementReference>NovemberEnd</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date_from_Flow__c</field>
            <value>
                <elementReference>NovemberStart</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_11_of_Add_Start_End_Dates</name>
        <label>Copy 11 of Add Start / End Dates</label>
        <locationX>2954</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Goal_Type</targetReference>
        </connector>
        <inputAssignments>
            <field>End_Date_from_Flow__c</field>
            <value>
                <elementReference>DecemberEnd</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date_from_Flow__c</field>
            <value>
                <elementReference>DecemberStart</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_12_of_Add_Start_End_Dates</name>
        <label>Copy 12 of Add Start / End Dates</label>
        <locationX>3218</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Goal_Type</targetReference>
        </connector>
        <inputAssignments>
            <field>End_Date_from_Flow__c</field>
            <value>
                <elementReference>MarchEnd</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date_from_Flow__c</field>
            <value>
                <elementReference>JanuaryStart</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_13_of_Add_Start_End_Dates</name>
        <label>Copy 13 of Add Start / End Dates</label>
        <locationX>3482</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Goal_Type</targetReference>
        </connector>
        <inputAssignments>
            <field>End_Date_from_Flow__c</field>
            <value>
                <elementReference>JuneEnd</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date_from_Flow__c</field>
            <value>
                <elementReference>AprilStart</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_14_of_Add_Start_End_Dates</name>
        <label>Copy 14 of Add Start / End Dates</label>
        <locationX>3746</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Goal_Type</targetReference>
        </connector>
        <inputAssignments>
            <field>End_Date_from_Flow__c</field>
            <value>
                <elementReference>SeptemberEnd</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date_from_Flow__c</field>
            <value>
                <elementReference>JulyStart</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_15_of_Add_Start_End_Dates</name>
        <label>Copy 15 of Add Start / End Dates</label>
        <locationX>4010</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Goal_Type</targetReference>
        </connector>
        <inputAssignments>
            <field>End_Date_from_Flow__c</field>
            <value>
                <elementReference>DecemberEnd</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date_from_Flow__c</field>
            <value>
                <elementReference>OctoberStart</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_16_of_Add_Start_End_Dates</name>
        <label>Copy 16 of Add Start / End Dates</label>
        <locationX>4274</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Goal_Type</targetReference>
        </connector>
        <inputAssignments>
            <field>End_Date_from_Flow__c</field>
            <value>
                <elementReference>DecemberEnd</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date_from_Flow__c</field>
            <value>
                <elementReference>JanuaryStart</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Add_Start_End_Dates</name>
        <label>Copy 1 of Add Start / End Dates</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Goal_Type</targetReference>
        </connector>
        <inputAssignments>
            <field>End_Date_from_Flow__c</field>
            <value>
                <elementReference>FebEnd</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date_from_Flow__c</field>
            <value>
                <elementReference>FebStart</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_2_of_Add_Start_End_Dates</name>
        <label>Copy 2 of Add Start / End Dates</label>
        <locationX>842</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Goal_Type</targetReference>
        </connector>
        <inputAssignments>
            <field>End_Date_from_Flow__c</field>
            <value>
                <elementReference>AprilEnd</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date_from_Flow__c</field>
            <value>
                <elementReference>AprilStart</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_3_of_Add_Start_End_Dates</name>
        <label>Copy 3 of Add Start / End Dates</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Goal_Type</targetReference>
        </connector>
        <inputAssignments>
            <field>End_Date_from_Flow__c</field>
            <value>
                <elementReference>MarchEnd</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date_from_Flow__c</field>
            <value>
                <elementReference>MarchStart</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_4_of_Add_Start_End_Dates</name>
        <label>Copy 4 of Add Start / End Dates</label>
        <locationX>1106</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Goal_Type</targetReference>
        </connector>
        <inputAssignments>
            <field>End_Date_from_Flow__c</field>
            <value>
                <elementReference>MayEnd</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date_from_Flow__c</field>
            <value>
                <elementReference>MayStart</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_5_of_Add_Start_End_Dates</name>
        <label>Copy 5 of Add Start / End Dates</label>
        <locationX>1370</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Goal_Type</targetReference>
        </connector>
        <inputAssignments>
            <field>End_Date_from_Flow__c</field>
            <value>
                <elementReference>JuneEnd</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date_from_Flow__c</field>
            <value>
                <elementReference>JuneStart</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_6_of_Add_Start_End_Dates</name>
        <label>Copy 6 of Add Start / End Dates</label>
        <locationX>1634</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Goal_Type</targetReference>
        </connector>
        <inputAssignments>
            <field>End_Date_from_Flow__c</field>
            <value>
                <elementReference>JulyEnd</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date_from_Flow__c</field>
            <value>
                <elementReference>JulyStart</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_7_of_Add_Start_End_Dates</name>
        <label>Copy 7 of Add Start / End Dates</label>
        <locationX>1898</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Goal_Type</targetReference>
        </connector>
        <inputAssignments>
            <field>End_Date_from_Flow__c</field>
            <value>
                <elementReference>AugustEnd</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date_from_Flow__c</field>
            <value>
                <elementReference>AugustStart</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_8_of_Add_Start_End_Dates</name>
        <label>Copy 8 of Add Start / End Dates</label>
        <locationX>2162</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Goal_Type</targetReference>
        </connector>
        <inputAssignments>
            <field>End_Date_from_Flow__c</field>
            <value>
                <elementReference>SeptemberEnd</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date_from_Flow__c</field>
            <value>
                <elementReference>SeptemberStart</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_9_of_Add_Start_End_Dates</name>
        <label>Copy 9 of Add Start / End Dates</label>
        <locationX>2426</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Goal_Type</targetReference>
        </connector>
        <inputAssignments>
            <field>End_Date_from_Flow__c</field>
            <value>
                <elementReference>OctoberEnd</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date_from_Flow__c</field>
            <value>
                <elementReference>OctoberStart</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Name_the_Partner_Goal_Record</name>
        <label>Name the Partner Goal Record</label>
        <locationX>2162</locationX>
        <locationY>731</locationY>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>FM_ShortName</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Name_the_User_Goal_Record</name>
        <label>Name the User Goal Record</label>
        <locationX>2426</locationX>
        <locationY>731</locationY>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>FM_ShortNameUser</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>2168</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Start_and_End_Date</targetReference>
        </connector>
        <object>Sales_Goal_Management__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
