sf_project/force-app/main/default/flows/Sales_Goals_One_Time_ST_Create_Monthly_Goals_from_Existing_Annual_Goals_for_2024.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Is_Goal_Year_2024</name>
        <label>Is Goal Year 2024?</label>
        <locationX>182</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Goal_Year__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2024</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Monthly_Goal</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>AmountDividedBy12</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.Goal_money__c}/12</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>[Sales Goals] One-Time ST - Create Monthly Goals from Existing Annual Goals for 2024 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Sales Goals] One-Time ST - Create Monthly Goals from Existing Annual Goals for 2024</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Copy_10_of_Create_Monthly_Goal</name>
        <label>Copy 10 of Create Monthly Goal</label>
        <locationX>50</locationX>
        <locationY>1440</locationY>
        <connector>
            <targetReference>Copy_11_of_Create_Monthly_Goal</targetReference>
        </connector>
        <inputAssignments>
            <field>Goal_Category__c</field>
            <value>
                <elementReference>$Record.Goal_Category__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Goal_Period__c</field>
            <value>
                <stringValue>November</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Goal_Year__c</field>
            <value>
                <elementReference>$Record.Goal_Year__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Goal_money__c</field>
            <value>
                <elementReference>AmountDividedBy12</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>auto</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Partner__c</field>
            <value>
                <elementReference>$Record.Partner__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Team_Member__c</field>
            <value>
                <elementReference>$Record.Sales_Team_Member__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>$Record.Type__c</elementReference>
            </value>
        </inputAssignments>
        <object>Sales_Goal_Management__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_11_of_Create_Monthly_Goal</name>
        <label>Copy 11 of Create Monthly Goal</label>
        <locationX>50</locationX>
        <locationY>1548</locationY>
        <inputAssignments>
            <field>Goal_Category__c</field>
            <value>
                <elementReference>$Record.Goal_Category__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Goal_Period__c</field>
            <value>
                <stringValue>December</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Goal_Year__c</field>
            <value>
                <elementReference>$Record.Goal_Year__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Goal_money__c</field>
            <value>
                <elementReference>AmountDividedBy12</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>auto</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Partner__c</field>
            <value>
                <elementReference>$Record.Partner__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Team_Member__c</field>
            <value>
                <elementReference>$Record.Sales_Team_Member__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>$Record.Type__c</elementReference>
            </value>
        </inputAssignments>
        <object>Sales_Goal_Management__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_1_of_Create_Monthly_Goal</name>
        <label>Copy 1 of Create Monthly Goal</label>
        <locationX>50</locationX>
        <locationY>468</locationY>
        <connector>
            <targetReference>Copy_2_of_Create_Monthly_Goal</targetReference>
        </connector>
        <inputAssignments>
            <field>Goal_Category__c</field>
            <value>
                <elementReference>$Record.Goal_Category__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Goal_Period__c</field>
            <value>
                <stringValue>February</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Goal_Year__c</field>
            <value>
                <elementReference>$Record.Goal_Year__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Goal_money__c</field>
            <value>
                <elementReference>AmountDividedBy12</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>auto</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Partner__c</field>
            <value>
                <elementReference>$Record.Partner__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Team_Member__c</field>
            <value>
                <elementReference>$Record.Sales_Team_Member__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>$Record.Type__c</elementReference>
            </value>
        </inputAssignments>
        <object>Sales_Goal_Management__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_2_of_Create_Monthly_Goal</name>
        <label>Copy 2 of Create Monthly Goal</label>
        <locationX>50</locationX>
        <locationY>576</locationY>
        <connector>
            <targetReference>Copy_3_of_Create_Monthly_Goal</targetReference>
        </connector>
        <inputAssignments>
            <field>Goal_Category__c</field>
            <value>
                <elementReference>$Record.Goal_Category__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Goal_Period__c</field>
            <value>
                <stringValue>March</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Goal_Year__c</field>
            <value>
                <elementReference>$Record.Goal_Year__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Goal_money__c</field>
            <value>
                <elementReference>AmountDividedBy12</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>auto</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Partner__c</field>
            <value>
                <elementReference>$Record.Partner__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Team_Member__c</field>
            <value>
                <elementReference>$Record.Sales_Team_Member__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>$Record.Type__c</elementReference>
            </value>
        </inputAssignments>
        <object>Sales_Goal_Management__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_3_of_Create_Monthly_Goal</name>
        <label>Copy 3 of Create Monthly Goal</label>
        <locationX>50</locationX>
        <locationY>684</locationY>
        <connector>
            <targetReference>Copy_4_of_Create_Monthly_Goal</targetReference>
        </connector>
        <inputAssignments>
            <field>Goal_Category__c</field>
            <value>
                <elementReference>$Record.Goal_Category__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Goal_Period__c</field>
            <value>
                <stringValue>April</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Goal_Year__c</field>
            <value>
                <elementReference>$Record.Goal_Year__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Goal_money__c</field>
            <value>
                <elementReference>AmountDividedBy12</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>auto</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Partner__c</field>
            <value>
                <elementReference>$Record.Partner__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Team_Member__c</field>
            <value>
                <elementReference>$Record.Sales_Team_Member__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>$Record.Type__c</elementReference>
            </value>
        </inputAssignments>
        <object>Sales_Goal_Management__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_4_of_Create_Monthly_Goal</name>
        <label>Copy 4 of Create Monthly Goal</label>
        <locationX>50</locationX>
        <locationY>792</locationY>
        <connector>
            <targetReference>Copy_5_of_Create_Monthly_Goal</targetReference>
        </connector>
        <inputAssignments>
            <field>Goal_Category__c</field>
            <value>
                <elementReference>$Record.Goal_Category__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Goal_Period__c</field>
            <value>
                <stringValue>May</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Goal_Year__c</field>
            <value>
                <elementReference>$Record.Goal_Year__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Goal_money__c</field>
            <value>
                <elementReference>AmountDividedBy12</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>auto</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Partner__c</field>
            <value>
                <elementReference>$Record.Partner__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Team_Member__c</field>
            <value>
                <elementReference>$Record.Sales_Team_Member__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>$Record.Type__c</elementReference>
            </value>
        </inputAssignments>
        <object>Sales_Goal_Management__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_5_of_Create_Monthly_Goal</name>
        <label>Copy 5 of Create Monthly Goal</label>
        <locationX>50</locationX>
        <locationY>900</locationY>
        <connector>
            <targetReference>Copy_6_of_Create_Monthly_Goal</targetReference>
        </connector>
        <inputAssignments>
            <field>Goal_Category__c</field>
            <value>
                <elementReference>$Record.Goal_Category__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Goal_Period__c</field>
            <value>
                <stringValue>June</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Goal_Year__c</field>
            <value>
                <elementReference>$Record.Goal_Year__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Goal_money__c</field>
            <value>
                <elementReference>AmountDividedBy12</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>auto</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Partner__c</field>
            <value>
                <elementReference>$Record.Partner__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Team_Member__c</field>
            <value>
                <elementReference>$Record.Sales_Team_Member__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>$Record.Type__c</elementReference>
            </value>
        </inputAssignments>
        <object>Sales_Goal_Management__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_6_of_Create_Monthly_Goal</name>
        <label>Copy 6 of Create Monthly Goal</label>
        <locationX>50</locationX>
        <locationY>1008</locationY>
        <connector>
            <targetReference>Copy_7_of_Create_Monthly_Goal</targetReference>
        </connector>
        <inputAssignments>
            <field>Goal_Category__c</field>
            <value>
                <elementReference>$Record.Goal_Category__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Goal_Period__c</field>
            <value>
                <stringValue>July</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Goal_Year__c</field>
            <value>
                <elementReference>$Record.Goal_Year__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Goal_money__c</field>
            <value>
                <elementReference>AmountDividedBy12</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>auto</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Partner__c</field>
            <value>
                <elementReference>$Record.Partner__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Team_Member__c</field>
            <value>
                <elementReference>$Record.Sales_Team_Member__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>$Record.Type__c</elementReference>
            </value>
        </inputAssignments>
        <object>Sales_Goal_Management__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_7_of_Create_Monthly_Goal</name>
        <label>Copy 7 of Create Monthly Goal</label>
        <locationX>50</locationX>
        <locationY>1116</locationY>
        <connector>
            <targetReference>Copy_8_of_Create_Monthly_Goal</targetReference>
        </connector>
        <inputAssignments>
            <field>Goal_Category__c</field>
            <value>
                <elementReference>$Record.Goal_Category__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Goal_Period__c</field>
            <value>
                <stringValue>August</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Goal_Year__c</field>
            <value>
                <elementReference>$Record.Goal_Year__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Goal_money__c</field>
            <value>
                <elementReference>AmountDividedBy12</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>auto</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Partner__c</field>
            <value>
                <elementReference>$Record.Partner__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Team_Member__c</field>
            <value>
                <elementReference>$Record.Sales_Team_Member__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>$Record.Type__c</elementReference>
            </value>
        </inputAssignments>
        <object>Sales_Goal_Management__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_8_of_Create_Monthly_Goal</name>
        <label>Copy 8 of Create Monthly Goal</label>
        <locationX>50</locationX>
        <locationY>1224</locationY>
        <connector>
            <targetReference>Copy_9_of_Create_Monthly_Goal</targetReference>
        </connector>
        <inputAssignments>
            <field>Goal_Category__c</field>
            <value>
                <elementReference>$Record.Goal_Category__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Goal_Period__c</field>
            <value>
                <stringValue>September</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Goal_Year__c</field>
            <value>
                <elementReference>$Record.Goal_Year__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Goal_money__c</field>
            <value>
                <elementReference>AmountDividedBy12</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>auto</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Partner__c</field>
            <value>
                <elementReference>$Record.Partner__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Team_Member__c</field>
            <value>
                <elementReference>$Record.Sales_Team_Member__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>$Record.Type__c</elementReference>
            </value>
        </inputAssignments>
        <object>Sales_Goal_Management__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_9_of_Create_Monthly_Goal</name>
        <label>Copy 9 of Create Monthly Goal</label>
        <locationX>50</locationX>
        <locationY>1332</locationY>
        <connector>
            <targetReference>Copy_10_of_Create_Monthly_Goal</targetReference>
        </connector>
        <inputAssignments>
            <field>Goal_Category__c</field>
            <value>
                <elementReference>$Record.Goal_Category__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Goal_Period__c</field>
            <value>
                <stringValue>October</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Goal_Year__c</field>
            <value>
                <elementReference>$Record.Goal_Year__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Goal_money__c</field>
            <value>
                <elementReference>AmountDividedBy12</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>auto</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Partner__c</field>
            <value>
                <elementReference>$Record.Partner__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Team_Member__c</field>
            <value>
                <elementReference>$Record.Sales_Team_Member__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>$Record.Type__c</elementReference>
            </value>
        </inputAssignments>
        <object>Sales_Goal_Management__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Monthly_Goal</name>
        <label>Create Monthly Goal</label>
        <locationX>50</locationX>
        <locationY>360</locationY>
        <connector>
            <targetReference>Copy_1_of_Create_Monthly_Goal</targetReference>
        </connector>
        <inputAssignments>
            <field>Goal_Category__c</field>
            <value>
                <elementReference>$Record.Goal_Category__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Goal_Period__c</field>
            <value>
                <stringValue>January</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Goal_Year__c</field>
            <value>
                <elementReference>$Record.Goal_Year__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Goal_money__c</field>
            <value>
                <elementReference>AmountDividedBy12</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>auto</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Partner__c</field>
            <value>
                <elementReference>$Record.Partner__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Team_Member__c</field>
            <value>
                <elementReference>$Record.Sales_Team_Member__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>$Record.Type__c</elementReference>
            </value>
        </inputAssignments>
        <object>Sales_Goal_Management__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Goal_Year_2024</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Goal_Period__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Annual</stringValue>
            </value>
        </filters>
        <filters>
            <field>Goal_Year__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>2024</stringValue>
            </value>
        </filters>
        <filters>
            <field>Goal_Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>$$ Value of Opportunities Won</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Partner Sales Team Member</stringValue>
            </value>
        </filters>
        <filters>
            <field>Partner__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>a0v4x000006DpsuAAC</stringValue>
            </value>
        </filters>
        <object>Sales_Goal_Management__c</object>
        <schedule>
            <frequency>Once</frequency>
            <startDate>2024-04-08</startDate>
            <startTime>13:32:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
</Flow>
