sf_project/force-app/main/default/flows/Set_Scope_of_Work_for_Hillard_Template.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Alternate_Template</name>
        <label>Set Alternate Template</label>
        <locationX>50</locationX>
        <locationY>1139</locationY>
        <assignmentItems>
            <assignToReference>$Record.Alternative__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>HillardAlternate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Exclusion_Text_Template</name>
        <label>Set Exclusion Text Template</label>
        <locationX>50</locationX>
        <locationY>839</locationY>
        <assignmentItems>
            <assignToReference>$Record.Exclusion_Text__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>HillardExclusionText</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Alternate_Blank</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Scope_of_Work_Template</name>
        <label>Set Scope of Work Template</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>$Record.Scope_Of_Work__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>HillardSOWTemplate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Exclusion_Text_Blank</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Alternate_Blank</name>
        <label>Is Alternate Blank</label>
        <locationX>182</locationX>
        <locationY>1031</locationY>
        <defaultConnector>
            <targetReference>Update_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Alternative__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Alternate_Template</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Exclusion_Text_Blank</name>
        <label>Is Exclusion Text Blank</label>
        <locationX>182</locationX>
        <locationY>731</locationY>
        <defaultConnector>
            <targetReference>Is_Alternate_Blank</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Exclusion_Text__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Exclusion_Text_Template</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Scope_of_Work_Blank</name>
        <label>Is Scope of Work Blank</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Is_Exclusion_Text_Blank</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Scope_Of_Work__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Scope_of_Work_Template</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Set Scope of Work for Hillard Template {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Set Scope of Work for Hillard Template</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Opportunity_Owner</name>
        <label>Get Opportunity Owner</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Scope_of_Work_Blank</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Hillard</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Partner__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opportunity</name>
        <label>Update Opportunity</label>
        <locationX>182</locationX>
        <locationY>1331</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunity_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Partner_Hidden__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Hillard Electric</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>HillardAlternate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Electrical Alternate 1		 
                                               

Electrical Alternate 2		
     			                        

Electrical Alternate 3 		
                                                

Electrical Alternate 4</text>
    </textTemplates>
    <textTemplates>
        <name>HillardExclusionText</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>•
•
•</text>
    </textTemplates>
    <textTemplates>
        <name>HillardSOWTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>•	Electrical work as shown on Drawings and specifications prepared by xyz architects for the project know as 123 main street dated xx.xx.xxxx including addenda 1,2 and 3 dated x y z .. 

•	Furnish and Install:	
              o	
              o	
              o	
              o	
              o	
              o	
              o	

•	Provide all electrical underground trenching &amp; backfilling as required. 
•	All alternates included in base bid – Deduct per breakout below.
•	Attachment “A” – Standard Terms and Conditions – is included as a basis of this proposal.</text>
    </textTemplates>
</Flow>
