sf_project/force-app/main/default/flows/Sure_Stats_SCH_Update_All_Records.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_to_VarAllUserStatRecords</name>
        <label>Assign to VarAllUserStatRecords</label>
        <locationX>352</locationX>
        <locationY>2340</locationY>
        <assignmentItems>
            <assignToReference>VarAllUserStatRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>VarUserStatRecordHolder</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Return_Var_s_To_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_To_VarUserStatRecordHolder</name>
        <label>Assign To VarUserStatRecordHolder</label>
        <locationX>352</locationX>
        <locationY>2232</locationY>
        <assignmentItems>
            <assignToReference>VarUserStatRecordHolder.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Each_User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarUserStatRecordHolder.Last_Login_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FM_LastLogInDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarUserStatRecordHolder.Total_Open_Opportunities__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Var_Open_Number_Of_Opportunities</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarUserStatRecordHolder.Total_Amount_Of_Open_Opportunities__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Var_Open_Opp_Money</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarUserStatRecordHolder.Number_Of_Closed_Opportunities_Past_30_D__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Var_ClosedOpportunities30Days</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarUserStatRecordHolder.Amount_of_Closed_Opps_Last_30_Days__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Var_ClosedWonMoney30Days</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarUserStatRecordHolder.Number_Of_Entered_Opps_In_Past_30_Days__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Var_NewOppsLast30Days</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarUserStatRecordHolder.Amount_Of_Open_Opps_Closing_In_30_Days__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Var_OpenMoneyNext30Days</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_VarAllUserStatRecords</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Var_OpenMoneyNext30Days</name>
        <label>Assign Var_OpenMoneyNext30Days</label>
        <locationX>440</locationX>
        <locationY>1824</locationY>
        <assignmentItems>
            <assignToReference>Var_OpenMoneyNext30Days</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Open_Opps_Next_30_Days_Loop.Amount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Open_Opps_Next_30_Days_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignVar_ClosedWonMoney30Days</name>
        <label>Assign Var_ClosedWonMoney30Days</label>
        <locationX>440</locationX>
        <locationY>1416</locationY>
        <assignmentItems>
            <assignToReference>Var_ClosedWonMoney30Days</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Closed_Won_Amount_Loop.Open_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Closed_Won_Amount_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Return_Var_s_To_0</name>
        <label>Return Var&apos;s To 0</label>
        <locationX>352</locationX>
        <locationY>2448</locationY>
        <assignmentItems>
            <assignToReference>Var_Open_Opp_Money</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_ClosedWonMoney30Days</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_OpenMoneyNext30Days</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Each_User</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Var_ClosedOpportunities30Days</name>
        <label>Set Var_ClosedOpportunities30Days</label>
        <locationX>352</locationX>
        <locationY>1200</locationY>
        <assignmentItems>
            <assignToReference>Var_ClosedOpportunities30Days</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_All_Closed_Opportunities</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Closed_Won_Amount_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Var_NewOppsLast30Days</name>
        <label>Set Var_NewOppsLast30Days</label>
        <locationX>352</locationX>
        <locationY>2124</locationY>
        <assignmentItems>
            <assignToReference>Var_NewOppsLast30Days</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Filter_To_Opps_Created_in_Last_30_Days</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_To_VarUserStatRecordHolder</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Var_Open_Opp_Money</name>
        <label>Set Var_Open_Opp_Money</label>
        <locationX>440</locationX>
        <locationY>900</locationY>
        <assignmentItems>
            <assignToReference>Var_Open_Opp_Money</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Open_Opp_Money_Loop.Amount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Open_Opp_Money_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Var_TotalOpenOpps</name>
        <label>Set Var_TotalOpenOpps</label>
        <locationX>352</locationX>
        <locationY>684</locationY>
        <assignmentItems>
            <assignToReference>Var_Open_Number_Of_Opportunities</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Open_Opportunities</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Open_Opp_Money_Loop</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_To_Opps_Created_in_Last_30_Days</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter To Opps Created in Last 30 Days</label>
        <locationX>352</locationX>
        <locationY>2016</locationY>
        <assignNextValueToReference>currentItem_Filter_To_Opps_Created_in_Last_30_Days</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_All_Opp_For_User_In_Loop</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_To_Opps_Created_in_Last_30_Days.CreatedDate</leftValueReference>
            <operator>GreaterThanOrEqualTo</operator>
            <rightValue>
                <elementReference>FM_StartDate30</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Set_Var_NewOppsLast30Days</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Get_All_Closed_Opportunities</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Get All Closed Opportunities</label>
        <locationX>352</locationX>
        <locationY>1092</locationY>
        <assignNextValueToReference>currentItem_Get_All_Closed_Opportunities</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_All_Opp_For_User_In_Loop</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Get_All_Closed_Opportunities.StageName</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <stringValue>Closed</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Get_All_Closed_Opportunities.LastModifiedDate</leftValueReference>
            <operator>GreaterThanOrEqualTo</operator>
            <rightValue>
                <elementReference>FM_StartDate30</elementReference>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Get_All_Closed_Opportunities.LastModifiedDate</leftValueReference>
            <operator>LessThanOrEqualTo</operator>
            <rightValue>
                <elementReference>$System.OriginDateTime</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Set_Var_ClosedOpportunities30Days</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Get_Open_Opportunities</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Get Open Opportunities</label>
        <locationX>352</locationX>
        <locationY>576</locationY>
        <assignNextValueToReference>currentItem_Get_Open_Opportunities</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_All_Opp_For_User_In_Loop</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Get_Open_Opportunities.StageName</leftValueReference>
            <operator>NotEqualTo</operator>
            <rightValue>
                <stringValue>Closed Lost</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Get_Open_Opportunities.StageName</leftValueReference>
            <operator>NotEqualTo</operator>
            <rightValue>
                <stringValue>Closed</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Get_Open_Opportunities.StageName</leftValueReference>
            <operator>NotEqualTo</operator>
            <rightValue>
                <stringValue>Closed Won</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Set_Var_TotalOpenOpps</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Get_Open_Opps_Closing_in_next_30_days</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Get Open Opps Closing in next 30 days</label>
        <locationX>352</locationX>
        <locationY>1608</locationY>
        <assignNextValueToReference>currentItem_Get_Open_Opps_Closing_in_next_30_days</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_All_Opp_For_User_In_Loop</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Get_Open_Opps_Closing_in_next_30_days.StageName</leftValueReference>
            <operator>NotEqualTo</operator>
            <rightValue>
                <stringValue>Closed Won</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Get_Open_Opps_Closing_in_next_30_days.StageName</leftValueReference>
            <operator>NotEqualTo</operator>
            <rightValue>
                <stringValue>Closed Lost</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Get_Open_Opps_Closing_in_next_30_days.StageName</leftValueReference>
            <operator>NotEqualTo</operator>
            <rightValue>
                <stringValue>Closed</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Get_Open_Opps_Closing_in_next_30_days.CloseDate</leftValueReference>
            <operator>GreaterThanOrEqualTo</operator>
            <rightValue>
                <elementReference>$System.OriginDateTime</elementReference>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Get_Open_Opps_Closing_in_next_30_days.CloseDate</leftValueReference>
            <operator>LessThanOrEqualTo</operator>
            <rightValue>
                <elementReference>FM_30DaysOut</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Open_Opps_Next_30_Days_Loop</targetReference>
        </connector>
    </collectionProcessors>
    <description>V5 Troubleshoot data issues</description>
    <environments>Default</environments>
    <formulas>
        <name>FM_30DaysOut</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 30</expression>
    </formulas>
    <formulas>
        <name>FM_LastLogInDate</name>
        <dataType>Date</dataType>
        <expression>{!Loop_Each_User.User__r.LastLoginDate}</expression>
    </formulas>
    <formulas>
        <name>FM_StartDate30</name>
        <dataType>Date</dataType>
        <expression>TODAY()-30</expression>
    </formulas>
    <interviewLabel>[Sure Stats] SCH Update All Records {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[User Stats] SCH Update All Records</label>
    <loops>
        <name>Closed_Won_Amount_Loop</name>
        <label>Closed Won Amount Loop</label>
        <locationX>352</locationX>
        <locationY>1308</locationY>
        <collectionReference>Get_All_Closed_Opportunities</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignVar_ClosedWonMoney30Days</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Open_Opps_Closing_in_next_30_days</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Each_User</name>
        <label>Loop Each User</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <collectionReference>Get_Users_Stats_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_All_Opp_For_User_In_Loop</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_All_User_Stat</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Open_Opp_Money_Loop</name>
        <label>Open Opp Money Loop</label>
        <locationX>352</locationX>
        <locationY>792</locationY>
        <collectionReference>Get_Open_Opportunities</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Var_Open_Opp_Money</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_All_Closed_Opportunities</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Open_Opps_Next_30_Days_Loop</name>
        <label>Open Opps Next 30 Days Loop</label>
        <locationX>352</locationX>
        <locationY>1716</locationY>
        <collectionReference>Get_Open_Opps_Closing_in_next_30_days</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Var_OpenMoneyNext30Days</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Filter_To_Opps_Created_in_Last_30_Days</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Opp_For_User_In_Loop</name>
        <label>Get All Opp For User In Loop</label>
        <locationX>352</locationX>
        <locationY>468</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Open_Opportunities</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Each_User.User__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Parent_Child_Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>parent</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>CreatedDate</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>StageName</queriedFields>
        <queriedFields>Amount</queriedFields>
        <queriedFields>CloseDate</queriedFields>
        <queriedFields>LastModifiedDate</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Users_Stats_Records</name>
        <label>Get Users Stats Records</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Each_User</targetReference>
        </connector>
        <filterLogic>(1 OR 2)</filterLogic>
        <filters>
            <field>Partner__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Major Mechanical</stringValue>
            </value>
        </filters>
        <filters>
            <field>Partner__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Centraire</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User_Stats__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_All_User_Stat</name>
        <label>Update All User Stat</label>
        <locationX>176</locationX>
        <locationY>2640</locationY>
        <inputReference>VarAllUserStatRecords</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Users_Stats_Records</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-09-13</startDate>
            <startTime>00:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItem_Filter_To_Only_Open_Opportunities</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User_Stats__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_To_Opps_Created_in_Last_30_Days</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>currentItem_Get_All_Closed_Opportunities</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>currentItem_Get_Open_Opportunities</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>currentItem_Get_Open_Opps_Closing_in_next_30_days</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>Var_ClosedOpportunities30Days</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Var_ClosedWonMoney30Days</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Var_NewOppsLast30Days</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Var_Open_Number_Of_Opportunities</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Var_Open_Opp_Money</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Var_OpenMoneyNext30Days</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Var_test</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>VarAllUserStatRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User_Stats__c</objectType>
    </variables>
    <variables>
        <name>VarUserStatRecordHolder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User_Stats__c</objectType>
    </variables>
</Flow>
