sf_project/force-app/main/default/flows/Task_RTF_On_Create_General.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_To_Assigned_To</name>
        <label>Send Email To Assigned To</label>
        <locationX>50</locationX>
        <locationY>731</locationY>
        <actionName>Task.A_new_Task_Has_Been_Assigned_To_You</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Anything_To_Update</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <stringValue>{!$Record.Id}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>Task.A_new_Task_Has_Been_Assigned_To_You</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Var_Hide</name>
        <label>Set Var_Hide</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>Var_Hide</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_the_creator_different_then_the_Assigned</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Anything_To_Update</name>
        <label>Anything To Update</label>
        <locationX>182</locationX>
        <locationY>923</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Updates_present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var_Hide</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_record</targetReference>
            </connector>
            <label>Yes Updates present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Related_To_A_Partner</name>
        <label>Is Related To A Partner</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Is_the_creator_different_then_the_Assigned</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Related_to_a_partner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WhatId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>a0v4</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Var_Hide</targetReference>
            </connector>
            <label>Yes Related to a partner</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_the_creator_different_then_the_Assigned</name>
        <label>Is the creator different then the Assigned?</label>
        <locationX>182</locationX>
        <locationY>623</locationY>
        <defaultConnector>
            <targetReference>Anything_To_Update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_they_are_not_the_same_person</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.CreatedBy.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var_Testing</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TaskSubtype</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Task</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_To_Assigned_To</targetReference>
            </connector>
            <label>Yes they are not the same person</label>
        </rules>
    </decisions>
    <description>v3- fixing send email to assigned to to only fire on tasks 
v-Adding in auto hide partner notes</description>
    <environments>Default</environments>
    <interviewLabel>[Task] RTF On Create General {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Task] RTF On Create General</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_record</name>
        <label>Update record</label>
        <locationX>50</locationX>
        <locationY>1031</locationY>
        <inputAssignments>
            <field>Admin_Only__c</field>
            <value>
                <elementReference>Var_Hide</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Related_To_A_Partner</targetReference>
        </connector>
        <object>Task</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Var_Hide</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Var_Testing</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
</Flow>
