sf_project/force-app/main/default/flows/Task_RTF_On_Create.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_To_Sent</name>
        <label>Set To Sent</label>
        <locationX>264</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>Var_SingleHolder.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CM_Loop.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_SingleHolder.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sent</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Not_Sent_To_Var_Holder</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Not_Sent_To_Var_Holder</name>
        <label>Update Not Sent To Var_Holder</label>
        <locationX>264</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>Var_Holder</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Var_SingleHolder</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CM_Loop</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>What_Is_the_Status_Of_the_Member</name>
        <label>What Is the Status Of the Member</label>
        <locationX>396</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>CM_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Sent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CM_Loop.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Sent</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_To_Sent</targetReference>
            </connector>
            <label>Not Sent</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>[Task] RTF On Create {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Task] RTF On Create</label>
    <loops>
        <name>CM_Loop</name>
        <label>CM Loop</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>Get_Campaign_Member</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>What_Is_the_Status_Of_the_Member</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Campaign_Member</name>
        <label>Get Campaign Member</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CM_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LeadOrContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Campaign_Member</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>TaskSubtype</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </filters>
        <filters>
            <field>TaskSubtype</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ListEmail</stringValue>
            </value>
        </filters>
        <filters>
            <field>TaskSubtype</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cadence</stringValue>
            </value>
        </filters>
        <object>Task</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>Var_Holder</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>Var_SingleHolder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
</Flow>
