sf_project/force-app/main/default/flows/User_Stats_STF.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Calls</name>
        <label>Increment Call Counter</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varCalls</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Calls</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_Email_Counter</name>
        <label>Increment Email Counter</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Emails</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_Leads_Counter</name>
        <label>Increment Leads Counter</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varLeads</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Leads</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_Meeting_Counter</name>
        <label>Increment Meeting Counter</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varMeetingsArranged</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Meeting</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_Opportunity_Metrics</name>
        <label>Increment Opportunity Metrics</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varDeals</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRevenue</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Opportunity_collection.Amount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempHours</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempHours</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Opportunity_collection.Labor_Hours__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varHours</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varTempHours</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Opportunity_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_Visits_Counter</name>
        <label>Increment Visits Counter</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varVisits</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Visits</targetReference>
        </connector>
    </assignments>
    <description>v2 Last 7 days not just day before
v3 Added type to events so they dont have to type meeting and visit</description>
    <environments>Default</environments>
    <formulas>
        <name>Activity_Date</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate - 7}</expression>
    </formulas>
    <formulas>
        <name>fEndYesterdayDT</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE($Flow.CurrentDate)</expression>
    </formulas>
    <formulas>
        <name>fStartYesterdayDT</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE($Flow.CurrentDate - 1)</expression>
    </formulas>
    <formulas>
        <name>Today</name>
        <dataType>Date</dataType>
        <expression>today()</expression>
    </formulas>
    <interviewLabel>[User Stats] STF {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[User Stats] STF Calls, Emails, Leads, Bookings Report</label>
    <loops>
        <name>Loop_Calls</name>
        <label>Loop through Calls</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Calls_Made</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Calls</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>EmailsSent</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Emails</name>
        <label>Loop through Emails</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>EmailsSent</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Increment_Email_Counter</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Meetings_Arranged</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Leads</name>
        <label>Loop through Leads</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Leads_Generated</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Increment_Leads_Counter</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Deals_Closed_and_Sales_Revenue_and_Hours_Sold</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Meeting</name>
        <label>Loop through Meetings</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Meetings_Arranged</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Increment_Meeting_Counter</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Visits_Completed</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Opportunity_collection</name>
        <label>Loop through Opportunity collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Deals_Closed_and_Sales_Revenue_and_Hours_Sold</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Increment_Opportunity_Metrics</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_the_User</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Visits</name>
        <label>Loop through Visits</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Visits_Completed</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Increment_Visits_Counter</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Leads_Generated</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Tasks</description>
        <name>Calls_Made</name>
        <label>Calls Made</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Calls</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ActivityDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>Activity_Date</elementReference>
            </value>
        </filters>
        <filters>
            <field>TaskSubtype</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Call</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Opportunities</description>
        <name>Deals_Closed_and_Sales_Revenue_and_Hours_Sold</name>
        <label>Deals Closed, Sales Revenue, Hours Sold</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Opportunity_collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <filters>
            <field>Actual_Close_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>Activity_Date</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Tasks</description>
        <name>EmailsSent</name>
        <label>Emails Sent</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Emails</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ActivityDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>Activity_Date</elementReference>
            </value>
        </filters>
        <filters>
            <field>TaskSubtype</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Leads created yesterday</description>
        <name>Leads_Generated</name>
        <label>Leads Generated</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Leads</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>Activity_Date</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Events created yesterday</description>
        <name>Meetings_Arranged</name>
        <label>Meetings Arranged</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Meeting</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>Activity_Date</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Meeting</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Events held yesterday</description>
        <name>Visits_Completed</name>
        <label>Visits Completed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Visits</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ActivityDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>Activity_Date</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Visit</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_the_User</name>
        <label>Update the User</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Calls_Made__c</field>
            <value>
                <elementReference>varCalls</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Deals_Closed__c</field>
            <value>
                <elementReference>varDeals</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Emails_Sent__c</field>
            <value>
                <elementReference>varEmails</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hours_Sold__c</field>
            <value>
                <elementReference>varHours</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Leads_Generated__c</field>
            <value>
                <elementReference>varLeads</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Meetings_Arranged__c</field>
            <value>
                <elementReference>varMeetingsArranged</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Revenue__c</field>
            <value>
                <elementReference>varRevenue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visits_Completed__c</field>
            <value>
                <elementReference>varVisits</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Calls_Made</targetReference>
        </connector>
        <object>User_Stats__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2025-08-29</startDate>
            <startTime>06:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varCalls</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varDeals</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varEmails</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varHours</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varLeads</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varMeetingsArranged</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varRevenue</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varTempHours</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varVisits</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
