sf_project/force-app/main/default/flows/User_RTF_General.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Var_FullName</name>
        <label>Assign Var_FullName</label>
        <locationX>380</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>Var_FullName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FM_FullName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Was_a_record_found_for_in_the_User_Stats_Object</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Var_NewUserStatRecord</name>
        <label>Set Var_NewUserStatRecord</label>
        <locationX>578</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>Var_NewUserStatRecord.User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!$Record.Id}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_NewUserStatRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FM_FullName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_User_Stats_Record_For_The_New_User</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Has_The_Full_Name_Changed</name>
        <label>Has The Full Name Changed?</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Name_has_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FM_OldValueFullName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>FM_FullName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_User_Stat</targetReference>
            </connector>
            <label>Yes Name has Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_a_record_found_for_in_the_User_Stats_Object</name>
        <label>Was a record found for in the User Stats Object</label>
        <locationX>380</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Set_Var_NewUserStatRecord</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_User_Stats_for_triggering_User.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Has_The_Full_Name_Changed</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>FM_FullName</name>
        <dataType>String</dataType>
        <expression>{!$Record.FirstName} + &apos; &apos; + {!$Record.LastName}</expression>
    </formulas>
    <formulas>
        <name>FM_OldValueFullName</name>
        <dataType>String</dataType>
        <expression>{!$Record__Prior.FirstName} + &quot; &quot; + {!$Record__Prior.LastName}</expression>
    </formulas>
    <formulas>
        <name>FM_UserId</name>
        <dataType>String</dataType>
        <expression>{!$Record.Id}</expression>
    </formulas>
    <interviewLabel>[User] RTF General {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[User] RTF Create And Update General</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_New_User_Stats_Record_For_The_New_User</name>
        <label>Create New User Stats Record For The New User</label>
        <locationX>578</locationX>
        <locationY>755</locationY>
        <inputReference>Var_NewUserStatRecord</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_User_Stats_for_triggering_User</name>
        <label>Get User Stats for triggering User</label>
        <locationX>380</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Var_FullName</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FM_UserId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User_Stats__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_User_Stat</name>
        <label>Update User Stat</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_User_Stats_for_triggering_User.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <object>User_Stats__c</object>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_User_Stats_for_triggering_User</targetReference>
        </connector>
        <object>User</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>Var_FullName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_NewUserStatRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User_Stats__c</objectType>
    </variables>
</Flow>
