sf_project/force-app/main/default/flows/User_Salesforce_License_Email_Notification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email</name>
        <label>Send Email</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <actionName>User.User_Salesforce_License_Low_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>User.User_Salesforce_License_Low_Alert</nameSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Remaining_Licenses</name>
        <label>Assign Remaining Licenses</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>RemainingLicenses</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varRemainingLicenses</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Less_Than_or_Equal_To_5_Licenses</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Less_Than_or_Equal_To_5_Licenses</name>
        <label>Less Than or Equal To 5 Licenses</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Less_than_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRemainingLicenses</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>5.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email</targetReference>
            </connector>
            <label>Less than 5</label>
        </rules>
    </decisions>
    <description>Sends an email out if Salesforce Licenses available reach 5 or fewer.</description>
    <environments>Default</environments>
    <formulas>
        <name>varRemainingLicenses</name>
        <dataType>Number</dataType>
        <expression>{!varSalesforceUserLicenseInfo.TotalLicenses}-{!varSalesforceUserLicenseInfo.UsedLicenses}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>[User] Salesforce License Email Notification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[User] Salesforce License Email Notification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Retrieve_Salesforce_User_License_Info</name>
        <label>Retrieve Salesforce User License Info</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Remaining_Licenses</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Salesforce</stringValue>
            </value>
        </filters>
        <object>UserLicense</object>
        <outputReference>varSalesforceUserLicenseInfo</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>TotalLicenses</queriedFields>
        <queriedFields>UsedLicenses</queriedFields>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Retrieve_Salesforce_User_License_Info</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>RemainingLicenses</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varSalesforceUserLicenseInfo</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>UserLicense</objectType>
    </variables>
</Flow>
