sf_project/force-app/main/default/flows/User_Stats_RTF_General.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Var_PartnerText</name>
        <label>Set Var_PartnerText</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>Var_PartnerText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Partner__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Changes_to_Be_Made</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Changes_to_Be_Made</name>
        <label>Changes to Be Made?</label>
        <locationX>182</locationX>
        <locationY>623</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Changes_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var_PartnerText</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Partner_Text__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_User_Stats</targetReference>
            </connector>
            <label>Yes Changes Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Partner_Text_Blank</name>
        <label>Is Partner Text Blank</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Changes_to_Be_Made</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Partner_Text_Is_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Partner_Text__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Var_PartnerText</targetReference>
            </connector>
            <label>Yes Partner Text Is Blank</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>[User Stats] RTF General {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[User Stats] RTF General</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_User_Stats</name>
        <label>Update User Stats</label>
        <locationX>50</locationX>
        <locationY>731</locationY>
        <inputAssignments>
            <field>Partner_Text__c</field>
            <value>
                <elementReference>Var_PartnerText</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Partner_Text_Blank</targetReference>
        </connector>
        <object>User_Stats__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Var_PartnerText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Partner_Text__c</elementReference>
        </value>
    </variables>
</Flow>
