sf_project/force-app/main/default/flows/USER_Add_user_to_Whats_new_group.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Is_User_In_the_Whats_New_Chatter_Group</name>
        <label>Is User In the Whats New Chatter Group?</label>
        <locationX>374</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Not_In_Chatter_Group_Membership</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Chatter_Group_Membership.MemberId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Chatter_Group_Member</targetReference>
            </connector>
            <label>Is Not In Chatter Group Membership</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>[USER] Add user to Whats new group {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[USER] Add user to Whats new group</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Chatter_Group_Member</name>
        <label>Create Chatter Group Member</label>
        <locationX>242</locationX>
        <locationY>492</locationY>
        <inputAssignments>
            <field>CollaborationGroupId</field>
            <value>
                <stringValue>0F9Uw0000001dTxKAI</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CollaborationRole</field>
            <value>
                <stringValue>Standard</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MemberId</field>
            <value>
                <stringValue>{!$Record.Id}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NotificationFrequency</field>
            <value>
                <stringValue>N</stringValue>
            </value>
        </inputAssignments>
        <object>CollaborationGroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Chatter_Group_Membership</name>
        <label>Get Chatter Group Membership</label>
        <locationX>374</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_User_In_the_Whats_New_Chatter_Group</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MemberId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>CollaborationGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0F9Uw0000001dTxKAI</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CollaborationGroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <object>User</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>Wait_1_Minute</name>
            <connector>
                <targetReference>Get_Chatter_Group_Membership</targetReference>
            </connector>
            <label>Wait 1 Minute</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>LastLoginDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
